<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Store
                <!-- <span class="statusbar-title-count">
                    {{TranList_Data.Offset}} /
                    {{TranList_Data.TotalRecords}}
                </span> -->
            </span>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header-details">
        <div class="page-header-details-title">
            {{StoreInfo.DisplayName}}
        </div>
        <div class="page-header-details-subtitle">
            {{StoreInfo.Address}}
        </div>
        <div class="page-header-details-content">
            <i class=" las la-cash-register"></i> Terminals : {{StoreInfo.Terminals}}
        </div>
        <div class="page-header-details-content">
            <i class=" las la-clock"></i> Last Sale : {{StoreInfo.LastTransactionDate}}
        </div>
    </div>
    <div class="container p-t-0" *ngIf="ActiveTab == 1">
        <div class="tab-container">
            <div class="tab-item-active" (click)="ActiveTabChange(1)">
                Sales
            </div>
            <div class="tab-item" (click)="ActiveTabChange(2)">
                Terminals
            </div>
        </div>
        <!-- <div style="padding: 8px;">
            <ion-chip style="background-color: #8757b7;">
                <ion-label style="color: #fff !important;" color="primary" (click)="ActiveTabChange(1)">Transactions
                </ion-label>
            </ion-chip>
            <ion-chip style="background-color: #efdfff;">
                <ion-label style="color: #8757b7 !important;" color="primary" outline="outline"
                    (click)="ActiveTabChange(2)">Terminals</ion-label>
            </ion-chip>
        </div> -->
        <input class="search-box" (keyup)="TranList_Search($event.target.value)" placeholder="search">
        <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No sales yet
            </div>
            <div class="nolist-content">
                Your business sales history will appear here
            </div>
        </div>
        <div>
            <div (click)="OpenAddModal(TItem)" *ngFor="let TItem of TranList_Data.Data" class="list-item">
                <div>
                    <div class="list-item-title">
                        {{TItem.UserDisplayName}}
                    </div>
                    <div class="list-amount">
                        <span class=" text-success" *ngIf="TItem.StatusName == 'Success'">
                            <span class="list-amount-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount |
                            number: "1.2-2"}}
                        </span>
                        <span class="text-danger" *ngIf="TItem.StatusName != 'Success'">
                            <span class="list-amount-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount |
                            number: "1.2-2"}}
                        </span>
                        <span class="float-right" *ngIf="TItem.CardBrandName != undefined">
                            <img class="list-item-cardicon" *ngIf="TItem.CardBrandName == 'mastercard'"
                                src="../../../../assets/images/cards/mmastercard.png">
                            <img class="list-item-cardicon" *ngIf="TItem.CardBrandName.toLowerCase() == 'visa'"
                                src="../../../../assets/images/cards/mvisa.png">
                            <img class="list-item-cardicon" *ngIf="TItem.CardBrandName.toLowerCase() == 'verve'"
                                src="../../../../assets/images/cards/verve.png">
                        </span>
                        <span class="float-right"
                            *ngIf="TItem.CardBrandName == undefined && TItem.TypeName.toLowerCase().trim() =='cash'">
                            <img class="list-item-cardicon" src="../../../../assets/images/cards/mcash.png">
                        </span>
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-cash-register"></i> {{TItem.CreatedByDisplayName}} |
                        {{TItem.CashierDisplayName}}
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-clock"></i> {{TItem.TransactionDate}}
                        <span class="float-right ">
                            {{TItem.StatusName.toLowerCase()}}
                        </span>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="TranList_NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
    <div class="container p-t-0" *ngIf="ActiveTab == 2">
        <div class="tab-container">
            <div class="tab-item" (click)="ActiveTabChange(1)">
                Sales
            </div>
            <div class="tab-item-active" (click)="ActiveTabChange(2)">
                Terminals
            </div>
        </div>


        <input class="search-box" (keyup)="doSearch($event.target.value)" placeholder="search terminals">
        <!-- <ion-row no-margin no-padding text-center class="home-ql container-start-row home-ql-margin-b ">
            <ion-col>
                <div class="home-ql-item" (click)="ToggleActivityStatus(2)">
                    <div class="home-ql-number text-success">
                        {{_TerminalStatusCount.Active || "0"}}
                    </div>
                    <div class="home-ql-text">Active</div>
                </div>
            </ion-col>
            <ion-col>
                <div class="home-ql-item" (click)="ToggleActivityStatus(3)">
                    <div class="home-ql-number text-store">
                        {{_TerminalStatusCount.Idle || "0"}}
                    </div>
                    <div class="home-ql-text">Idle</div>
                </div>
            </ion-col>
            <ion-col>
                <div class="home-ql-item" (click)="ToggleActivityStatus(4)">
                    <div class="home-ql-number text-terminal">
                        {{_TerminalStatusCount.Dead || "0"}}
                    </div>
                    <div class="home-ql-text">Dead</div>
                </div>
            </ion-col>
            <ion-col>
                <div class="home-ql-item" (click)="ToggleActivityStatus(1)">
                    <div class="home-ql-number text-cashier">
                        {{_TerminalStatusCount.Unused || "0"}}
                    </div>
                    <div class="home-ql-text">Unused</div>
                </div>
            </ion-col>
        </ion-row> -->

        <div *ngIf="TerminalsList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-calculator" md="md-calculator">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No terminals added yet
            </div>
            <div class="nolist-content">
                Login to your web panel to add terminals
            </div>
        </div>
        <div>
            <div *ngFor="let TItem of TerminalsList_Data.Data" class="list-item">
                <div>
                    <div class="list-item-title">
                        {{TItem.DisplayName}}
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-clock"></i> Last Sale : {{TItem.LastTransactionDate || "n/a"}}
                    </div>
                    <div class="list-item-content">
                        <span>
                            <span class="terminalstatus terminal-unused"
                                *ngIf="TItem.ActivityStatusId == 1">UNUSED</span>
                            <span class="terminalstatus terminal-active"
                                *ngIf="TItem.ActivityStatusId == 2">ACTIVE</span>
                            <span class="terminalstatus terminal-idle" *ngIf="TItem.ActivityStatusId == 3">IDLE</span>
                            <span class="terminalstatus terminal-dead" *ngIf="TItem.ActivityStatusId == 4">DEAD</span>
                        </span>
                        <img class="list-item-title-icon float-right " src="{{TItem.ProviderIconUrl}}">
                        <img class="list-item-title-icon  float-right" src="{{TItem.AcquirerIconUrl}}">

                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>