<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Confirm Redeem
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white">
                <i slot="start" class=" las la-sync-alt " style="font-size: 22px"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center style="padding: 0px !important;">
        <img [src]="_DealInfo.ImageUrl">
    </div>
    <div class="container p-t-0" style="margin-top: -26px;    padding-bottom: 60px;">

        <div style="padding: 16px;">
            <div style="font-size: 18px; padding-top: 16px; padding-bottom: 16px; font-weight: 500;">
                {{_DealInfo.Title}}
            </div>
            <div class="tuc-card-header text-primary">
                Code Valid Till : {{_DealInfo.EndDate || "--"}}
            </div>
            <div>
                {{_DealInfo.Description}}
            </div>
        </div>


        <div class="tuc-card">
            <div class="tuc-card-header text-primary">
                Code Amount
            </div>
            <div class="tuc-card-body">
                <div>
                    <div class="line-height">
                        <div class="card-item-left">
                            Actual Price
                            <div class="card-item-right">
                                <span class="list-amount-currency" style="    font-size: 13px;"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{_DealInfo.ActualPrice || "0"}}
                            </div>
                        </div>
                    </div>
                    <div class="line-height">
                        <div class="card-item-left">
                            Deal Price
                            <div class="card-item-right">
                                <span class="list-amount-currency" style="    font-size: 13px;"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{_DealInfo.SellingPrice || "0"}}
                            </div>
                        </div>
                    </div>
                    <div class="line-height">
                        <div class="card-item-left">
                            Customer Payment Amount
                            <div class="card-item-right">
                                <span class="list-amount-currency" style="    font-size: 13px;"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{_DealInfo.Amount || "0"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tuc-card">
            <div class="tuc-card-header text-primary">
                Customer
            </div>
            <div class="tuc-card-body">
                <div>
                    <div class="line-height">
                        <div class="card-item-left">
                            Name
                            <div class="card-item-right">
                                {{_DealInfo.CustomerDisplayName || "--"}}
                            </div>
                        </div>
                    </div>
                    <div class="line-height">
                        <div class="card-item-left">
                            Mobile Number
                            <div class="card-item-right">
                                {{_DealInfo.CustomerMobileNumber || "--"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tuc-card">
            <div class="tuc-card-header text-primary">
                Code Validity
            </div>
            <div class="tuc-card-body">
                <div>
                    <div class="line-height">
                        <div class="card-item-left">
                            Start Date
                            <div class="card-item-right">
                                {{_DealInfo.StartDate || "--"}}
                            </div>
                        </div>
                    </div>
                    <div class="line-height">
                        <div class="card-item-left">
                            End Date
                            <div class="card-item-right">
                                {{_DealInfo.EndDate || "--"}}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="tuc-card">
            <div class="tuc-card-header text-primary">
                Redeem Locations
            </div>
            <div class="tuc-card-body">
                <div *ngFor="let LItem of _DealInfo.Locations; let index=index; let odd=odd; let even=even;">
                    <div style="    font-weight: 500;
                padding-bottom: 6px;">
                        {{LItem.DisplayName}}
                    </div>
                    <div style="    padding-bottom: 16px;">
                        {{LItem.Address}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<div style="padding: 16px;
background-color: #f7f7f7;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;">
    <div (click)="Redeem_Initialize_Cancel()" style="padding: 12px 16px;
    background-color: red;
    text-align: center;
    margin-top: 0px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    width: 50%;
    float: left;
    border-radius: 0px;">
        Cancel
    </div>
    <div (click)="Redeem_Confirm()" style="    padding: 12px 16px;
    background-color: #2b8155;
    text-align: center;
    margin-top: 0px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    width: 50%;
    float: left;">
        Confirm Redeem
    </div>

</div>