<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="app-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="title">Loyalty
                <span class="dt-item" (click)="DateManager_Open()">
                    {{_DateConfig.TypeName}}
                </span>
            </span>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content" *ngIf="PageType == 1">
            <div class="db-container">
                <div class="db-mcount-container">
                    <div class="db-mcount">
                        <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{_LoyaltyOverview.RewardAmount | number: "1.2-2"}}
                    </div>
                    <div class="db-mcount-title "> Total Reward Amount</div>
                </div>
                <ion-row no-margin no-padding>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{_LoyaltyOverview.Transaction }}
                        </div>
                        <div class="db-msubcount-title ">Transactions</div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{_LoyaltyOverview.NewCustomers }}
                        </div>
                        <div class="db-msubcount-title "> New Customers</div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{_LoyaltyOverview.VisitsByRepeatingCustomers }}
                        </div>
                        <div class="db-msubcount-title ">Loyal Customers</div>
                    </ion-col>

                </ion-row>
            </div>
        </div>
        <div class="app-header-content" *ngIf="PageType == 2">
            <div class="db-container">
                <div class="db-mcount-container">
                    <div class="db-mcount">
                        <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{Reward_TranList_Data_Overview.RewardAmount | number: "1.2-2"}}
                    </div>
                    <div class="db-mcount-title "> Total Reward Amount</div>
                </div>
                <ion-row no-margin no-padding>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{Reward_TranList_Data_Overview.InvoiceAmount | number: "1.2-2"}}
                        </div>
                        <div class="db-msubcount-title "> Total Sales Amount</div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{Reward_TranList_Data_Overview.Transactions }}
                        </div>
                        <div class="db-msubcount-title ">Total Transactions</div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="app-header-content" *ngIf="PageType == 3">
            <div class="db-container">
                <div class="db-mcount-container">
                    <div class="db-mcount">
                        <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{Redeem_TranList_Data_Overview.RedeemAmount | number: "1.2-2"}}
                    </div>
                    <div class="db-mcount-title "> Total Redeem Amount</div>
                </div>
                <ion-row no-margin no-padding>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{Redeem_TranList_Data_Overview.InvoiceAmount | number: "1.2-2"}}
                        </div>
                        <div class="db-msubcount-title "> Total Sales Amount</div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{Redeem_TranList_Data_Overview.Transactions }}
                        </div>
                        <div class="db-msubcount-title ">Total Transactions</div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="app-header-content" *ngIf="PageType == 4">
            <div class="db-container">
                <div class="db-mcount-container">
                    <div class="db-mcount">
                        <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{PendingReward_TranList_Data_Overview.RewardAmount | number: "1.2-2"}}
                    </div>
                    <div class="db-mcount-title "> Total Pending Reward Amount</div>
                </div>
                <ion-row no-margin no-padding>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{PendingReward_TranList_Data_Overview.InvoiceAmount | number: "1.2-2"}}
                        </div>
                        <div class="db-msubcount-title "> Total Sales Amount</div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{PendingReward_TranList_Data_Overview.Transactions }}
                        </div>
                        <div class="db-msubcount-title ">Total Transactions</div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
    <div class="app-body p-0 container-p-b">
        <div class="app-tabmenu">
            <div class="app-tabmenu-item" [ngClass]="PageType === 1 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="PageTypeChange(1)">
                Overview
            </div>
            <div class="app-tabmenu-item" [ngClass]="PageType === 2 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="PageTypeChange(2)">
                Rewards History
            </div>
            <div class="app-tabmenu-item" [ngClass]="PageType === 3 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="PageTypeChange(3)">
                Redeem History
            </div>
            <div class="app-tabmenu-item" [ngClass]="PageType === 4 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="PageTypeChange(4)">
                Pending Rewards
            </div>
        </div>
        <div *ngIf="PageType == 1">
            <div class="ana-card">
                <div class="header">
                    <span class="icon"> <i class="lni lni-users"></i></span>
                    <span class="title">Customers Summary</span>
                </div>
                <div class="body">
                    <div class="title">{{_LoyaltyHistory.TotalCustomer || "0"}}</div>
                    <div class="subtitle">Total customers</div>
                    <ion-row>
                        <ion-col>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title">{{_LoyaltyHistory.NewCustomer || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title"> New Customers </span>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="anaslide-card no-border">
                                <div class="body">
                                    <div class="title">{{_LoyaltyHistory.NewCustomer || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title">Loyal Customers</span>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                    <!-- <div class="slide-content">
                        <ion-slides [options]="_HelperService.AnaSlideOptions">
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">{{_LoyaltyHistory.NewCustomer || "0"}}</div>
                                    </div>
                                    <div class="header">
                                        <span class="title">Total New Customers Visited</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">{{_LoyaltyHistory.RepeatingCustomer || "0"}}</div>
                                    </div>
                                    <div class="header">
                                        <span class="title"> Total Loyal Customers</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title"> <span
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                            {{_LoyaltyHistory.NewCustomerInvoiceAmount | number: "1.2-2" || "0"}}</div>
                                    </div>
                                    <div class="header">
                                        <span class="title"> Sale by New Customers</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title"> <span
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                            {{_LoyaltyHistory.RepeatingCustomerInvoiceAmount | number: "1.2-2" || "0"}}
                                        </div>
                                    </div>
                                    <div class="header">
                                        <span class="title">Sale by Loyal Customers </span>
                                    </div>
                                </div>
                            </ion-slide>
                        </ion-slides>
                    </div> 

                </div>
            </div>
            <div class="tuc-card" *ngIf="_OSalesHistory.TransactionsDataSet.length > 0">
                <div class="tuc-card-header text-primary">
                    Customer Visits
                </div>
                <div class="tuc-card-body">
                    <div style="overflow-x: scroll">
                        <div class="chart-container" style="position: relative;  width:900px;">
                            <canvas height="200" baseChart #RewardPlot="base-chart"
                                [colors]="_HelperService._UserOverviewPlot.Colors"
                                [datasets]="_OSalesHistory.TransactionsDataSet" [labels]="_OSalesHistory.Labels"
                                [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                                [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptionsStr"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ana-card">
                <div class="header">
                    <span class="icon"><i class="lni lni-cart-full"></i></span>
                    <span class="title">Sales Summary</span>
                </div>
                <div class="body">
                    <div class="title"><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_LoyaltyHistory.TotalInvoiceAmount
                        | number: "1.2-2" || "0"}}</div>
                    <div class="subtitle">Total Sales</div>
                    <ion-row>
                        <ion-col>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title"><span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_LoyaltyHistory.NewCustomerInvoiceAmount
                                        | number: "1.2-2" ||
                                        "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title"> New Customers </span>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="anaslide-card no-border">
                                <div class="body">
                                    <div class="title"><span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_LoyaltyHistory.RepeatingCustomerInvoiceAmount
                                        | number:
                                        "1.2-2" || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title">Loyal Customers</span>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                    <!-- <div class="slide-content">
                        <ion-slides [options]="_HelperService.AnaSlideOptions">
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">{{_LoyaltyHistory.NewCustomer || "0"}}</div>
                                    </div>
                                    <div class="header">
                                        <span class="title">Total New Customers Visited</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">{{_LoyaltyHistory.RepeatingCustomer || "0"}}</div>
                                    </div>
                                    <div class="header">
                                        <span class="title"> Total Loyal Customers</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title"> <span
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                            {{_LoyaltyHistory.NewCustomerInvoiceAmount | number: "1.2-2" || "0"}}</div>
                                    </div>
                                    <div class="header">
                                        <span class="title"> Sale by New Customers</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title"> <span
                                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                            {{_LoyaltyHistory.RepeatingCustomerInvoiceAmount | number: "1.2-2" || "0"}}
                                        </div>
                                    </div>
                                    <div class="header">
                                        <span class="title">Sale by Loyal Customers </span>
                                    </div>
                                </div>
                            </ion-slide>
                        </ion-slides>
                    </div> -->

                </div>
            </div>
            <div class="tuc-card" *ngIf="_OSalesHistory.SaleDataSet.length > 0">
                <div class="tuc-card-header text-primary">
                    Sales History
                </div>
                <div class="tuc-card-body">
                    <div style="overflow-x: scroll">
                        <div class="chart-container" style="position: relative;  width:900px;">
                            <canvas height="200" baseChart #RewardPlot="base-chart"
                                [colors]="_HelperService._UserOverviewPlot.Colors"
                                [datasets]="_OSalesHistory.SaleDataSet" [labels]="_OSalesHistory.Labels"
                                [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                                [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptionsStr"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ana-card">
                <div class="header">
                    <span class="icon"><i class="lni lni-chevron-up-circle"></i> </span>
                    <span class="title">Rewards Summary</span>
                </div>
                <div class="body">
                    <div class="title"><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_LoyaltyOverview.RewardAmount
                        | number: "1.2-2" || "0"}}</div>
                    <div class="subtitle">Total Rewards</div>
                    <ion-row>
                        <ion-col>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title"><span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_LoyaltyOverview.RewardInvoiceAmount
                                        | number: "1.2-2" ||
                                        "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title"> Reward Sales Amount </span>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="anaslide-card no-border">
                                <div class="body">
                                    <div class="title">{{_LoyaltyOverview.RewardTransaction || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title">Customer Visits</span>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
            <div class="ana-card">
                <div class="header">
                    <span class="icon"> <i class="lni lni-chevron-down-circle"></i></span>
                    <span class="title">Redeem Summary</span>
                </div>
                <div class="body">
                    <div class="title"><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_LoyaltyOverview.RedeemAmount
                        | number: "1.2-2" || "0"}}</div>
                    <div class="subtitle">Total Redeem</div>
                    <ion-row>
                        <ion-col>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title"><span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_LoyaltyOverview.RedeemInvoiceAmount
                                        | number: "1.2-2" ||
                                        "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title"> Redeem Sales Amount </span>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="anaslide-card no-border">
                                <div class="body">
                                    <div class="title">{{_LoyaltyOverview.RedeemTransaction || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title">Customer Visits</span>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
            <!-- <div>
                <div class="tuc-subtitle">Customers</div>
                <div margin-left>
                    <ion-slides [options]="slideOpts">
                        <ion-slide>
                            <div class="slide-card">
                                <div class="header">
                                    <span class="icon"> <i class="lni lni-users"></i></span>
                                    <span class="title"> New Customers</span>
                                </div>
                                <div class="body">
                                    <div class="title">10,000</div>
                                    <div class="subtitle">Total new customers</div>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="slide-card">
                                <div class="header">
                                    <span class="icon"> <i class="lni lni-users"></i></span>
                                    <span class="title"> New Customers</span>
                                </div>
                                <div class="body">
                                    <div class="title">N 40,999,000</div>
                                    <div class="subtitle">Total new customers</div>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slides>
                </div>
            </div>
            <div class="ana-card">
                <div class="header">
                    <span class="icon"> <i class="lni lni-users"></i></span>
                    <span class="title">Rewards</span>
                </div>
                <div class="body">
                    <div class="title">10,000</div>
                    <div class="subtitle">Total new customers</div>
                    <div class="slide-content">
                        <ion-slides [options]="_HelperService.AnaSlideOptions">
                            <ion-slide>
                                <div class="anaslide-card">

                                    <div class="body">
                                        <div class="title">10,000</div>
                                    </div>
                                    <div class="header">
                                        <span class="title"> New Customers</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">N 40,999,000</div>
                                    </div>
                                    <div class="header">
                                        <span class="title"> New Customers</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">N 40,999,000</div>
                                    </div>
                                    <div class="header">
                                        <span class="title"> New Customers</span>
                                    </div>
                                </div>
                            </ion-slide>
                        </ion-slides>
                    </div>

                </div>
            </div>
            <div>
                <div class="tuc-subtitle">Rewards</div>
                <div margin-left>
                    <ion-slides [options]="slideOpts">
                        <ion-slide>
                            <div class="slide-card">
                                <div class="header">
                                    <span class="icon"> <i class="lni lni-users"></i></span>
                                    <span class="title"> New Customers</span>
                                </div>
                                <div class="body">
                                    <div class="title">10,000</div>
                                    <div class="subtitle">Total new customers</div>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="slide-card">
                                <div class="header">
                                    <span class="icon"> <i class="lni lni-users"></i></span>
                                    <span class="title"> New Customers</span>
                                </div>
                                <div class="body">
                                    <div class="title">N 40,999,000</div>
                                    <div class="subtitle">Total new customers</div>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slides>
                </div>
            </div> -->
        </div>
        <div *ngIf="PageType == 2">
            <input class="search-box" (keyup)="Reward_TranList_Search($event.target.value)" placeholder="search">
            <div *ngIf="Reward_TranList_Data.TotalRecords == 0" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-icon ios="md-list" md="md-list">
                    </ion-icon>
                </div>
                <div class="nolist-title">
                    Its Empty Here
                </div>
                <div class="nolist-subtitle">
                    No transactions yet
                </div>
            </div>
            <div>
                <div (click)="Reward_TranList_OpenAddModal(TItem)" *ngFor="let TItem of Reward_TranList_Data.Data"
                    class="list-item">
                    <div>
                        <div class="list-amount float-right">
                            <div class=" text-secondary">
                                <span class="list-amount-currency"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.RewardAmount |
                                number: "1.2-2"}}
                            </div>
                            <div class="invoiceamount">
                                <span class="float-right ">
                                    <span class="list-amount-currency"
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount
                                    |
                                    number: "1.2-2"}}
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item-title">
                                {{TItem.UserDisplayName}}
                            </div>
                            <div class="list-item-subtitle" *ngIf="TItem.UserDisplayName != TItem.UserMobileNumber">
                                {{TItem.UserMobileNumber}}
                            </div>
                        </div>
                        <div class="list-item-subtitle"
                            *ngIf="TItem.StoreDisplayName != undefined && TItem.StoreDisplayName != null && TItem.StoreDisplayName != ''  ">
                            <i class="lni lni-cart-full"></i> {{TItem.StoreDisplayName}}

                        </div>
                        <div class="list-item-content">
                            <i class="lni lni-calendar"></i> {{TItem.TransactionDate}}
                            <span
                                *ngIf="TItem.CashierDisplayName != undefined && TItem.CashierDisplayName != null && TItem.CashierDisplayName != ''">
                                <span class="bar">|</span> <i class="lni lni-consulting"></i>
                                {{TItem.CashierDisplayName}}
                            </span>
                            <span
                                *ngIf="TItem.TerminalId != undefined && TItem.TerminalId != null && TItem.TerminalId != ''">
                                <span class="bar">|</span> <i class="lni lni-printer"></i>
                                {{TItem.TerminalId}}
                            </span>
                            <span class="float-right text-success" *ngIf="TItem.StatusName == 'Success'">
                                {{TItem.StatusName.toLowerCase()}}
                            </span>
                            <span class="float-right text-danger" *ngIf="TItem.StatusName != 'Success'">
                                {{TItem.StatusName.toLowerCase()}}
                            </span>
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="Reward_TranList_NextLoad($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading ...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>
        <div *ngIf="PageType == 3">
            <input class="search-box" (keyup)="Redeem_TranList_Search($event.target.value)" placeholder="search">
            <div *ngIf="Redeem_TranList_Data.TotalRecords == 0" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-icon ios="md-list" md="md-list">
                    </ion-icon>
                </div>
                <div class="nolist-title">
                    Its Empty Here
                </div>
                <div class="nolist-subtitle">
                    No transactions yet
                </div>
            </div>
            <div>
                <div (click)="Redeem_TranList_OpenAddModal(TItem)" *ngFor="let TItem of Redeem_TranList_Data.Data"
                    class="list-item">
                    <div>
                        <div class="list-amount float-right">
                            <div class=" text-secondary">
                                <span class="list-amount-currency"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.RedeemAmount |
                                number: "1.2-2"}}
                            </div>
                            <div class="invoiceamount">
                                <span class="float-right ">
                                    <span class="list-amount-currency"
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount
                                    |
                                    number: "1.2-2"}}
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item-title">
                                {{TItem.UserDisplayName}}
                            </div>
                            <div class="list-item-subtitle" *ngIf="TItem.UserDisplayName != TItem.UserMobileNumber">
                                {{TItem.UserMobileNumber}}
                            </div>
                        </div>
                        <div class="list-item-subtitle"
                            *ngIf="TItem.StoreDisplayName != undefined && TItem.StoreDisplayName != null && TItem.StoreDisplayName != ''  ">
                            <i class="lni lni-cart-full"></i> {{TItem.StoreDisplayName}}

                        </div>
                        <div class="list-item-content">
                            <i class="lni lni-calendar"></i> {{TItem.TransactionDate}}
                            <span
                                *ngIf="TItem.CashierDisplayName != undefined && TItem.CashierDisplayName != null && TItem.CashierDisplayName != ''">
                                <span class="bar">|</span> <i class="lni lni-consulting"></i>
                                {{TItem.CashierDisplayName}}
                            </span>
                            <span
                                *ngIf="TItem.TerminalId != undefined && TItem.TerminalId != null && TItem.TerminalId != ''">
                                <span class="bar">|</span> <i class="lni lni-printer"></i>
                                {{TItem.TerminalId}}
                            </span>
                            <span class="float-right text-success" *ngIf="TItem.StatusName == 'Success'">
                                {{TItem.StatusName.toLowerCase()}}
                            </span>
                            <span class="float-right text-danger" *ngIf="TItem.StatusName != 'Success'">
                                {{TItem.StatusName.toLowerCase()}}
                            </span>
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="Redeem_TranList_NextLoad($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading ...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>
        <div *ngIf="PageType == 4">
            <input class="search-box" (keyup)="PendingReward_TranList_Search($event.target.value)" placeholder="search">
            <div *ngIf="PendingReward_TranList_Data.TotalRecords == 0" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-icon ios="md-list" md="md-list">
                    </ion-icon>
                </div>
                <div class="nolist-title">
                    Its Empty Here
                </div>
                <div class="nolist-subtitle">
                    No transactions yet
                </div>
            </div>
            <div>
                <div (click)="PendingReward_TranList_OpenAddModal(TItem)"
                    *ngFor="let TItem of PendingReward_TranList_Data.Data" class="list-item">
                    <div>
                        <div class="list-amount float-right">
                            <div class=" text-secondary">
                                <span class="list-amount-currency"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.TotalAmount |
                                number: "1.2-2"}}
                            </div>
                            <div class="invoiceamount">
                                <span class="float-right ">
                                    <span class="list-amount-currency"
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount
                                    |
                                    number: "1.2-2"}}
                                </span>
                            </div>
                        </div>
                        <div>
                            <div class="list-item-title">
                                {{TItem.UserDisplayName}}
                            </div>
                            <div class="list-item-subtitle" *ngIf="TItem.UserDisplayName != TItem.UserMobileNumber">
                                {{TItem.UserMobileNumber}}
                            </div>
                        </div>
                        <div class="list-item-subtitle"
                            *ngIf="TItem.StoreDisplayName != undefined && TItem.StoreDisplayName != null && TItem.StoreDisplayName != ''  ">
                            <i class="lni lni-cart-full"></i> {{TItem.StoreDisplayName}}

                        </div>
                        <div class="list-item-content">
                            <i class="lni lni-calendar"></i> {{TItem.TransactionDate}}
                            <span
                                *ngIf="TItem.CashierDisplayName != undefined && TItem.CashierDisplayName != null && TItem.CashierDisplayName != ''">
                                <span class="bar">|</span> <i class="lni lni-consulting"></i>
                                {{TItem.CashierDisplayName}}
                            </span>
                            <span
                                *ngIf="TItem.TerminalId != undefined && TItem.TerminalId != null && TItem.TerminalId != ''">
                                <span class="bar">|</span> <i class="lni lni-printer"></i>
                                {{TItem.TerminalId}}
                            </span>
                            <span class="float-right text-success" *ngIf="TItem.StatusName == 'Success'">
                                {{TItem.StatusName.toLowerCase()}}
                            </span>
                            <span class="float-right text-danger" *ngIf="TItem.StatusName != 'Success'">
                                {{TItem.StatusName.toLowerCase()}}
                            </span>
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll margin-top threshold="100px"
                    (ionInfinite)="PendingReward_TranList_NextLoad($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading ...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>
    </div>
</ion-content>
<div class="tucmodal" *ngIf="_HelperService.AppConfig.TucDateModal">
    <div class="tucmodal-container">
        <div class="tucmodal-header">
            <div class="tucmodal-header-title">
                Select Date
            </div>
            <div class="tucmodal-header-subtitle">
                Select date from below
            </div>
        </div>
        <div class="tucmodal-content">
            <ion-row margin-bottom>
                <ion-col>
                    <ion-label class="input-label">Start Date</ion-label>
                    <ion-datetime #rewardHistoryDatePicker (ionChange)="DateManager_StartDateChange()"
                        [(ngModel)]="_DateConfig.SelectedStartDate" displayFormat="DD-MM-YYYY" class="input"
                        placeholder="Select start date">
                    </ion-datetime>
                </ion-col>
                <ion-col>
                    <ion-label class="input-label">End Date</ion-label>
                    <ion-datetime #rewardHistoryDatePicker (ionChange)="DateManager_EndDateChange()"
                        [(ngModel)]="_DateConfig.SelectedEndDate" displayFormat="DD-MM-YYYY" class="input"
                        placeholder="Select end date">
                    </ion-datetime>
                </ion-col>
            </ion-row>
            <div>
                <span class="date-pill" (click)="DateManager_RangeClick(1)"
                    [ngClass]="_DateConfig.Type === 1 ? 'date-pill-active' : 'date-pill'">
                    Today
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(2)"
                    [ngClass]="_DateConfig.Type === 2 ? 'date-pill-active' : 'date-pill'">
                    Yesterday
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(3)"
                    [ngClass]="_DateConfig.Type === 3 ? 'date-pill-active' : 'date-pill'">
                    Last 7 Days
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(4)"
                    [ngClass]="_DateConfig.Type === 4 ? 'date-pill-active' : 'date-pill'">
                    Last 15 Days
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(5)"
                    [ngClass]="_DateConfig.Type === 5 ? 'date-pill-active' : 'date-pill'">
                    Last 30 Days
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(6)"
                    [ngClass]="_DateConfig.Type === 6 ? 'date-pill-active' : 'date-pill'">
                    This Week
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(7)"
                    [ngClass]="_DateConfig.Type === 7 ? 'date-pill-active' : 'date-pill'">
                    Last Week
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(8)"
                    [ngClass]="_DateConfig.Type === 8 ? 'date-pill-active' : 'date-pill'">
                    This Month
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(9)"
                    [ngClass]="_DateConfig.Type === 9 ? 'date-pill-active' : 'date-pill'">
                    Last Month
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(10)"
                    [ngClass]="_DateConfig.Type === 10 ? 'date-pill-active' : 'date-pill'">
                    Last 3 Month
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(11)"
                    [ngClass]="_DateConfig.Type === 11 ? 'date-pill-active' : 'date-pill'">
                    Last 6 Month
                </span>
            </div>

        </div>
        <div class="tucmodal-footer">
            <ion-row>
                <ion-col size="5">
                    <button class="tucmodal-footer-button tucmodal-footer-button-cancel"
                        (click)="_HelperService.HideTucDateModal()">
                        Cancel
                    </button>
                </ion-col>
                <ion-col>
                    <button class="tucmodal-footer-button" (click)="DateManager_Confirm()">
                        Confirm
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</div>

<div class="footer-container">
    <div class="footer-item" (click)="_HelperService.NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item  text-primary" (click)="_HelperService.NavLoyalty()">
        <div class="footer-item-icon">
            <i class="lni lni-gift"></i>
        </div>
        <div class="footer-item-text">Loyalty</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDeals()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Deals</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavOrders()">
        <div class="footer-item-icon">
            <i class="lni lni-cart"></i>
        </div>
        <div class="footer-item-text">Products</div>
    </div>
    <div class="footer-item" (click)="_HelperService.NavMore()">
        <div class="footer-item-icon">
            <i class="lni lni-more"></i>
        </div>
        <div class="footer-item-text">More</div>
    </div>
</div>