<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="app-titlebar-button"> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="app  app-white" forceOverscroll="false">
    <div>
        <div class="app-header">
            <div text-center>
                <img src="../../../assets/icon/tucwhite.png" style="width: 180px;">
            </div>
            <div text-center style="font-size: 16px;
                        margin-top: 0px; color: #ffffff;
                        font-weight: 600;margin-bottom: 8px;">
                Merchant
            </div>
        </div>
        <div class="app-body app-body-white">
            <div padding margin-top>
                <div>
                    <ion-label class="input-label">Login Id</ion-label>
                    <ion-input class=" input" placeholder="your username / login id" type="text" max-length="128"
                        [(ngModel)]="UserName">
                    </ion-input>
                </div>
                <ion-label class="input-label">Password
                </ion-label>
                <ion-input class=" input" placeholder="enter account password" type="password" max-length="64"
                    [(ngModel)]="Password">
                </ion-input>
                <button type="button" margin-top (click)="StartVerification()" class="btn-primary-lg">Login</button>
                <div text-center style="margin-top:16px; margin-bottom:32px; font-size: 13px;"><a class="app-color"
                        style="text-decoration:none;font-weight:500;"
                        href="https://merchant.thankucash.com/account/forgotpassword">Forgot Password ?</a></div>
                <div text-center style="margin-top:16px; margin-bottom:32px; font-size: 14px;">Dont have account ? <a
                        class="app-color" style="text-decoration:none;font-weight:500; font-size: 13px;"
                        (click)="NavReg()">REGISTER
                    </a></div>
            </div>
        </div>
    </div>
    <div style="height: 100px;
    text-align: center;
    width: 100%;
    margin-top: 20%;">
        <div text-center style="font-size: 13px; font-weight: 900;margin-bottom: 8px; color: #a9a9a9;">
            Powered By
        </div>
        <div text-center>
            <img src="../../../assets/icon/conicon.png" style="width: 60px;">
        </div>
    </div>
</ion-content>