<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Deals</span>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content id="Container" class="bg-app">
    <div class="page-header ">
        <div class="db-mcount">
            <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{_HelperService._SalesSummary.TotalSuccessfulTransactionInvoiceAmount| number: "1.2-2" || "--" }}
        </div>
        <div class="db-subtitle "> Total Sale</div>
        <div *ngIf="_HelperService._UserOverviewPlot.HourlyVisitData.length > 0">
            <canvas height="110" baseChart #RewardPlot="base-chart"
                [colors]="_HelperService._UserOverviewPlot.ColorsInverse"
                [datasets]="_HelperService._UserOverviewPlot.HourlyVisitData"
                [labels]="_HelperService._UserOverviewPlot.HourlyVisitLabel"
                [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptionsInverse"></canvas>
        </div>
        <div class="db-subtitle">Customer Hourly Visits
            <span class="float-right">{{StartTimeS}} - {{EndTimeS}}</span>
        </div>
    </div>
    <!-- <div class="container-mini">
        <div class="tab-container">
            <div class="tab-item" [ngClass]="Type === 1 ? 'tab-item-active' : 'tab-item'"
                (click)="UserAnalytics_DateChange(1)">
                Today
            </div>
            <div class="tab-item" [ngClass]="Type === 2 ? 'tab-item-active' : 'tab-item'"
                (click)="UserAnalytics_DateChange(2)">
                Yesterday
            </div>
            <div class="tab-item" [ngClass]="Type === 3 ? 'tab-item-active' : 'tab-item'"
                (click)="UserAnalytics_DateChange(3)">
                Week
            </div>
            <div class="tab-item" [ngClass]="Type === 4 ? 'tab-item-active' : 'tab-item'"
                (click)="UserAnalytics_DateChange(4)">
                Month
            </div>
            <div class="tab-item" [ngClass]="Type > 4 ? 'tab-item-active' : 'tab-item'"
                (click)="UserAnalytics_DateChange(5)">
                Custom
            </div>
        </div>
        <div style="display: none">
            <ion-label class="input-label">Select Date</ion-label>
            <ion-datetime #startTimePicker [min]="MinDate" [max]="MaxDate" (ionChange)="CustomDateChange()"
                [(ngModel)]="SelectedItemDate" displayFormat="DD-MM-YYYY" class="input" placeholder="Select date">
            </ion-datetime>
        </div>
    </div> -->
    <div class="container-mini">
        <div class="tab-container">
            <div class="tab-item tab-item-fluid"
                [ngClass]="StoresList_Data.Type === 'all' ? 'tab-item-active' : 'tab-item'"
                (click)="DealStatusType('all')">
                All
            </div>
            <div class="tab-item tab-item-fluid"
                [ngClass]="StoresList_Data.Type === 'running' ? 'tab-item-active' : 'tab-item'"
                (click)="DealStatusType('running')">
                Running
            </div>
            <div class="tab-item tab-item-fluid"
                [ngClass]="StoresList_Data.Type === 'upcoming' ? 'tab-item-active' : 'tab-item'"
                (click)="DealStatusType('upcoming')">
                Upcoming
            </div>
            <div class="tab-item tab-item-fluid"
                [ngClass]="StoresList_Data.Type === 'paused' ? 'tab-item-active' : 'tab-item'"
                (click)="DealStatusType('paused')">
                Paused
            </div>
            <div class="tab-item tab-item-fluid"
                [ngClass]="StoresList_Data.Type === 'draft' ? 'tab-item-active' : 'tab-item'"
                (click)="DealStatusType('draft')">
                Draft
            </div>
            <div class="tab-item tab-item-fluid"
                [ngClass]="StoresList_Data.Type === 'pendingapproval' ? 'tab-item-active' : 'tab-item'"
                (click)="DealStatusType('pendingapproval')">
                Pending Approval
            </div>
            <div class="tab-item tab-item-fluid"
                [ngClass]="StoresList_Data.Type === 'expired' ? 'tab-item-active' : 'tab-item'"
                (click)="DealStatusType('expired')">
                Expired
            </div>
        </div>
        <input class="search-box" (keyup)="doSearch($event.target.value)" placeholder="search">
        <div *ngIf="StoresList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-cart" md="md-cart">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No deal code redeemed yet
            </div>
            <div class="nolist-content">
                Redeemed codes will be visible here
            </div>
        </div>
        <div>
            <div (click)="NavStore(TItem)" *ngFor="let TItem of StoresList_Data.Data" class="card-deal">
                <div class="card-deal-image" [style.background-image]="'url('+TItem.ImageUrl+')'">
                    <div class="card-deal-image-overlay">
                        <div class="card-deal-sale">
                            <span class="totalview">
                                <i class="lni lni-eye"></i> Views
                                <span [innerHtml]="TItem.Views"></span>
                            </span>

                            <span class="totalsale">
                                <i class="lni lni-cart-full"></i> Sale
                                <span [innerHtml]="TItem.TotalPurchase || 0"></span>
                            </span>

                        </div>
                        <div class="card-deal-amounts">
                            <span class="sellingprice">
                                <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                <span [innerHtml]="TItem.SellingPrice"></span>
                            </span>
                            <span class="actualprice">
                                <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                <span [innerHtml]="TItem.ActualPrice"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="card-deal-body">
                    <div class="card-deal-title card-deal-space" [innerHtml]="TItem.Title">
                    </div>
                    <div class="card-deal-shedule card-deal-space">
                        <span [innerHtml]="TItem.CategoryName">
                        </span>/
                        <span [innerHtml]="TItem.SubCategoryName">
                        </span>
                    </div>
                    <div class="card-deal-shedule">
                        <i class="lni lni-calendar"></i>
                        <span [innerHtml]="TItem.StartDateS">
                        </span>
                        -
                        <span [innerHtml]="TItem.EndDateS">
                        </span>
                    </div>

                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>
<div class="footer-container">
    <div class="footer-item " (click)="_HelperService.NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavLoyalty()">
        <div class="footer-item-icon">
            <i class="lni lni-gift"></i>
        </div>
        <div class="footer-item-text">Loyalty</div>
    </div>
    <div class="footer-item text-primary" (click)="_HelperService.NavDeals()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Deals</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavOrders()">
        <div class="footer-item-icon">
            <i class="lni lni-cart"></i>
        </div>
        <div class="footer-item-text">Products</div>
    </div>
    <div class="footer-item" (click)="_HelperService.NavMore()">
        <div class="footer-item-icon">
            <i class="lni lni-more"></i>
        </div>
        <div class="footer-item-text">More</div>
    </div>
</div>