<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" color="light"
    type="indeterminate">
</ion-progress-bar>
<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Order
                <span class="statusbar-title-count">
                    #{{StoreInfo.ReferenceId}}
                </span>
            </span>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="GetOrderDetails()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header-details">
        <div class="db-mcount">
            <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{StoreInfo.NinjaAmount| number: "1.2-2" || "--" }}
            <span style="font-size: 12px;float:right;"> {{StoreInfo.TotalItem}} ITEMS</span>
        </div>
        <div class="page-header-details-title">
            Collect from Ambassador
        </div>

        <!-- For Store
            <div class="page-header-details-content">
                {{StoreInfo.DealerLocationName}}
            </div> -->
        <!-- <div class="  page-header-details-content">
                {{StoreInfo.DealerLocationAddress}}
            </div> -->
        <div class="page-header-details-content">
            <i class=" las la-cash-register"></i> Order Date : {{StoreInfo.OpenDate}}
        </div>
        <div class="page-header-details-content">
            <i class=" las la-clock"></i> Delivery Date : {{StoreInfo.CloseDate || "--"}}
        </div>
    </div>
    <div class="container " *ngIf="ActiveTab == 1">
        <div class="tuc-card"
            *ngIf="StoreInfo.StatusCode != 'orderstatus.confirmed'   && StoreInfo.AgentId != undefined ">
            <div class="tuc-card-header text-primary">
                Ambassador
            </div>
            <div class="tuc-card-body">
                <img [src]="StoreInfo.AgentIconUrl" style="    float: left;
                width: 60px;
                margin-right: 16px;
                border-radius: 4px;">
                <div>
                    <div class="line-height">
                        {{StoreInfo.AgentDisplayName || "--"}}
                    </div>
                    <div class="line-height">
                        {{StoreInfo.AgentMobileNumber || "--"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="tuc-card">
            <div class="tuc-card-header text-primary">
                {{StoreInfo.StatusName}}
                <span class="float-right"> {{StoreInfo.ModifyDate}}</span>
            </div>
            <div class="tuc-card-body " style="display: inline-block;font-weight: 600;text-align:center;width:100%">
                <div style="width: 20%;
                float: left;
                padding: 14px 0px;
                background-color: #efefef;
                border-radius: 4px; 
                font-size: 12px;"
                    [class.bg-active]=" StoreInfo.StatusCode === 'orderstatus.preparing' ||  StoreInfo.StatusCode === 'orderstatus.ready' ||  StoreInfo.StatusCode === 'orderstatus.readytopickup' || StoreInfo.StatusCode === 'orderstatus.outfordelivery'  ||  StoreInfo.StatusCode === 'orderstatus.delivered' || StoreInfo.StatusCode === 'orderstatus.deliveryfailed'  ">
                    Preparing
                </div>
                <div style="width: 20%;
                float: left;
                padding: 14px 0px;
                background-color: #efefef;
                border-radius: 4px;
                font-size: 12px;
                margin-left: 2%;"
                    [class.bg-active]=" StoreInfo.StatusCode === 'orderstatus.ready' || StoreInfo.StatusCode === 'orderstatus.readytopickup' || StoreInfo.StatusCode === 'orderstatus.outfordelivery'   || StoreInfo.StatusCode === 'orderstatus.delivered'  || StoreInfo.StatusCode === 'orderstatus.deliveryfailed'  ">
                    Ready
                </div>
                <div style="width: 34%;
                float: left;
                padding: 14px 0px;
                background-color: #efefef;
                border-radius: 4px;
                font-size: 12px;
                margin-left: 2%;"
                    [class.bg-active]=" StoreInfo.StatusCode === 'orderstatus.outfordelivery'   || StoreInfo.StatusCode === 'orderstatus.delivered'  || StoreInfo.StatusCode === 'orderstatus.deliveryfailed'  ">
                    Out for Delivery
                </div>
                <div style="width: 20%;
                float: left;
                padding: 14px 0px;
                background-color: #efefef;
                border-radius: 4px;
                margin-left: 2%;
                font-size: 12px;" [class.bg-active]="  StoreInfo.StatusCode === 'orderstatus.delivered'">
                    Delivered
                </div>

            </div>



            <div class="tuc-card-header text-primary" margin-bottom margin-top
                *ngIf="StoreInfo.StatusCode != 'orderstatus.delivered' && StoreInfo.StatusCode != 'orderstatus.outfordelivery'">
                Update Order Status
            </div>
            <div class="tuc-card-body" *ngIf="StoreInfo.StatusCode != 'orderstatus.delivered'">
                <div *ngIf="StoreInfo.StatusCode == 'orderstatus.confirmed'">
                    Estimated time for items preperation in minutes
                    <ion-row>
                        <ion-col>
                            <span class="otime" (click)="SetEPTime(15)"
                                [ngClass]="StoreInfo.EPTime === 15 ? 'otimeactive' : 'otime'">
                                15
                            </span>
                            <span class="otime" (click)="SetEPTime(30)"
                                [ngClass]="StoreInfo.EPTime === 30 ? 'otimeactive' : 'otime'">
                                30
                            </span>
                            <span class="otime" (click)="SetEPTime(45)"
                                [ngClass]="StoreInfo.EPTime === 45 ? 'otimeactive' : 'otime'">
                                45
                            </span>
                            <span class="otime" (click)="SetEPTime(60)"
                                [ngClass]="StoreInfo.EPTime === 60 ? 'otimeactive' : 'otime'">
                                60
                            </span>
                            <span class="otime" (click)="SetEPTime(90)"
                                [ngClass]="StoreInfo.EPTime === 90 ? 'otimeactive' : 'otime'">
                                90
                            </span>
                            <span class="otime" (click)="SetEPTime(120)"
                                [ngClass]="StoreInfo.EPTime === 120 ? 'otimeactive' : 'otime'">
                                more
                            </span>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-button expand="full" color="success" shape="round" size="medium"
                                class="r-2x f-s-n no-shadow"
                                (click)="UpdateOrderStatusPreparing('orderstatus.preparing' , 'Confirm order status to preparing ?')">
                                Preparing
                            </ion-button>
                        </ion-col>

                    </ion-row>
                </div>

                <div *ngIf="StoreInfo.StatusCode == 'orderstatus.preparing' && StoreInfo.EPTime != undefined && StoreInfo.EPTime > 0"
                    style="margin-bottom: 4px;">
                    Estimated time for items preperation is <b style="color: #2b2d80;">{{StoreInfo.EPTime}} min</b>
                </div>
                <ion-button expand="full" color="success" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    *ngIf="StoreInfo.StatusCode == 'orderstatus.preparing'"
                    (click)="UpdateOrderStatus('orderstatus.readytopickup' , 'Mark order status as ready?')">
                    Ready
                </ion-button>

                <ion-button expand="full" color="success" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    *ngIf="StoreInfo.StatusCode == 'orderstatus.readytopickup' || StoreInfo.StatusCode == 'orderstatus.deliveryfailed' "
                    (click)="UpdateOrderStatus('orderstatus.outfordelivery' , 'Mark order status as out for delivery ?')">
                    Out For Delivery
                </ion-button>
                <!-- <ion-row>
                    <ion-col size="6">
                        <ion-button expand="full" color="success" shape="round" size="medium"
                            class="r-2x f-s-n no-shadow" *ngIf="StoreInfo.StatusCode == 'orderstatus.outfordelivery'"
                            (click)="Status_Delivered()">
                            Delivered
                        </ion-button>
                    </ion-col>
                    <ion-col size="6">
                        <ion-button expand="full" color="danger" shape="round" size="medium"
                            class="r-2x f-s-n no-shadow" *ngIf="StoreInfo.StatusCode == 'orderstatus.outfordelivery'"
                            (click)="Status_DeliveryFailed()">
                            Delivery Failed
                        </ion-button>
                    </ion-col>
                </ion-row> -->
            </div>
        </div>
        <div class="tuc-card">
            <div class="tuc-card-header text-primary">
                Total Invoice Amount
            </div>
            <div class="tuc-card-body">
                <div style="    font-size: 28px;
                color: #2b2d80;">
                    <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                    {{StoreInfo.TotalAmount| number: "1.2-2" || "--" }}
                </div>
            </div>
            <div class="tuc-card-header text-primary" margin-top style="margin-bottom: 0px;    margin-top: 8px;">
                Order Items : <span style="font-size: 12px;"> {{StoreInfo.TotalItem}} ITEMS</span>

            </div>
        </div>
        <div class="tuc-card">
            <div class="tuc-card-header text-primary">
                Items
            </div>
            <div class="tuc-card-body">
                <div>
                    <div class="line-height" *ngFor="let TItem of StoreInfo.OrderItems" style="    display: inline-block;
                    width: 100%;margin-bottom : 8px;">
                        <img [src]="TItem.VarientIconUrl" style=" border-radius: 8px;   float: left;
                        width: 54px;
                        height: 54px;
                        margin-right: 16px;">
                        <div class="card-item-left">
                            <div>
                                {{TItem.ProductName}} - {{TItem.VarientName}}
                            </div>
                            <div> {{TItem.UnitPrice}} * {{TItem.Quantity}} = <span
                                    tyle="font-weight: 600;color: #2f2f2f;"><span class="list-amount-currency"
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                    {{TItem.TotalAmount || "--"}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="tuc-card">
            <div class="tuc-card-header text-primary">
                Ambassador
            </div>
            <div class="tuc-card-body">
                <img [src]="StoreInfo.AgentIconUrl" style="    float: left;
                width: 60px;
                margin-right: 16px;
                border-radius: 4px;">
                <div>
                    <div class="line-height">
                        {{StoreInfo.AgentDisplayName  || "--"}}
                    </div>
                    <div class="line-height">
                        {{StoreInfo.AgentMobileNumber  || "--"}}
                    </div>
                </div>
            </div>
        </div> -->
        <div class="tuc-card">
            <div class="tuc-card-header text-primary">
                Customer
            </div>
            <div class="tuc-card-body">
                <div>
                    <div class="line-height">
                        {{StoreInfo.CustomerDisplayName || "--"}}
                    </div>
                    <div class="line-height">
                        {{StoreInfo.CustomerMobileNumber || "--"}}
                    </div>
                    <div class="line-height">
                        {{StoreInfo.CustomerEmailAddress || "--"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="tuc-card" *ngIf="StoreInfo.ShippingAddress != undefined">
            <div class="tuc-card-header text-primary">
                Delivery Address
            </div>
            <div class="tuc-card-body">
                <div>
                    <div class="line-height">
                        {{StoreInfo.ShippingAddress.Name || "--"}}
                    </div>
                    <div class="line-height" (click)="CallNumber()">
                        {{StoreInfo.ShippingAddress.MobileNumber || "--"}}
                    </div>
                    <div class="line-height">
                        {{StoreInfo.ShippingAddress.AddressLine1 || "--"}}
                    </div>
                    <div class="line-height">
                        {{StoreInfo.ShippingAddress.LandMark || "--"}}
                    </div>

                </div>
            </div>
        </div>
        <div class="tuc-card" *ngIf="StoreInfo.ShippingAddress != undefined">
            <div class="tuc-card-header text-primary">
                Order Activity
            </div>
            <div class="tuc-card-body">
                <div *ngFor="let TItem of StoreInfo.OrderActivity" style="margin-bottom: 14px;">
                    <div style="font-weight: 500; color: #303F9F;">
                        {{TItem.CreateDate}}
                    </div>
                    <div>
                        {{TItem.Title}}
                    </div>
                    <div style="    color: #5f5f5f;" *ngIf="TItem.Comment != undefined">
                        {{TItem.Comment}}
                    </div>
                </div>
            </div>
        </div>
        <div style="margin:16px; padding-bottom: 16px;margin-bottom: 0px;"
            *ngIf="StoreInfo.StatusCode == 'orderstatus.confirmed'">
            <ion-button expand="full" color="danger" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                (click)="CancelOrder()">
                Cancel Order
            </ion-button>
        </div>
    </div>
</ion-content>