<!-- <ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">
                <span class="statusbar-title-count">
                    Deal Details : #{{_TransactionDetails.ReferenceId  || "--"}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times-circle " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<ion-content style="--background: #ffffff;">
    <div class="page-header " style=" background-color: #ffffff; padding:0px !important ; height: 200px !important; background-image: url('../../../assets/images/bggrad.png');    background-size: contain;
    background-repeat: repeat-x;min-height: 200px !important;   padding-top: 8px !important;  " text-center>
        <div>
            <h1 class="page-header-title-lg" style="    font-size: 13px;
            text-align: center;
            font-weight: 600;
            margin-bottom: 0px;
            text-transform: uppercase;
            color: rgb(255 ,255 ,255 , 0.80);
            margin-top: 40px;">
                Scan code
            </h1>
            <h1 class="page-header-title-lg-b" style="     font-size: 23px;
            font-weight: 400;
            margin-bottom: 8px;
            text-align: center;
            color: #ffffff;
            margin-top: 16px;">
                {{_HelperService.AccountOwner.DisplayName}}
            </h1>
            <h1 class="page-header-title-lg-b" style="  font-size: 16px;
            font-weight: 400;
            margin-bottom: 8px;
            text-align: center;
            color: #ffffff;
            margin-top: 8px;">
                {{_HelperService.AccountOwner.AccountCode}}
            </h1>
        </div>
    </div>
    <div class="container "
        style="overflow: auto;padding-bottom:30px; margin-top: -28px; background-color: #ffffff; box-shadow: none;">
        <div style="text-align: center;"
            *ngIf="_HelperService.AccountOwner.AccountCode != undefined && _HelperService.AccountOwner.AccountCode != null  && _HelperService.AccountOwner.AccountCode != ''">
            <qrcode [qrdata]="_HelperService.AccountOwner.AccountCode" [width]="300" [errorCorrectionLevel]="'M'"
                style="    margin-top: 30px;"></qrcode>
        </div>
        <div style="    padding-left: 16px;
        padding-right: 16px;">
            <div style="    margin-bottom: 4px;
        font-size: 18px;
        font-weight: 500;    text-align: center;">
                Scan QR code to Receive Payment
            </div>
        </div>
    </div>
</ion-content>
<div class="tuc-card" style="box-shadow: none;
background-color: #ffffff;
margin: 0px;
padding: 0px;
padding-left: 16px;
padding-bottom: 0px;
padding-right: 16px;">
    <div class="tuc-card-body">
        <div>
            <div padding-top padding-bottom>
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="ModalDismiss('noaction')">
                    Close
                </ion-button>
            </div>
        </div>
    </div>
</div>