<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="app-titlebar-button"> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div text-center>
            <img src="../../../assets/icon/tucwhite.png" style="width: 180px;">
        </div>
        <div text-center style="font-size: 16px;
                    margin-top: 0px; color: #ffffff;
                    font-weight: 600;margin-bottom: 8px;">
            Merchant Registration
        </div>
    </div>
    <div class="app-body" style="padding: 20px; padding-top:16%">
        <ion-label class="input-label">Enter verification code received on <b>{{_Details.MobileNumber}}</b>
        </ion-label>
        <ion-input class=" input" [(ngModel)]="_Details.AccessCode" maxlength="32" type="tel">
        </ion-input>
        <button type="button" margin-top margin-bottom (click)="UpdateProfile()" class="btn-primary"
            *ngIf="!_HelperService.IsFormProcessing">Verify Mobile Number</button>

        <button type="button" margin-top margin-bottom class="btn-primary-inverse"
            *ngIf="_HelperService.IsFormProcessing">
            <i class="las la-spinner  fa-pulse  la-pulse "></i>
            Please wait </button>
        <!-- <div text-center style="margin-top:16px; margin-bottom:32px;">Already have account ? <a class="app-color"
                style="text-decoration:none;font-weight:500;" (click)="NavLogin()">Login
            </a></div> -->
    </div>
</ion-content>