<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <img src="../../../../assets/icon/tucwhite.png" class="app-header-logo">
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false" style="    --background: transparent;background: none transparent !important;
--background-color: transparent !important;
background-color: transparent !important;">
    <div class="app-header" style="background-color: #303F9F;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;height: 140px;">
        <div class="app-header-content">
            <i class="las la-gifts app-header-icon "></i>
            <div class="app-header-title">Reward Customer</div>
            <div class="app-header-subtitle">Scan code or enter mobile number</div>
        </div>
    </div>
    <div class="app-body" style="background-color: transparent !important;">
        <div style="border: 8px solid rgb(255 , 255 ,  255 , 0.55);
        width: 256px;
        height: 256px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        border-radius: 4px;">
        </div>
    </div>
</ion-content>

<div class="tuc-footer">
    <div>
        <input type="tel" maxlength="13" [(ngModel)]="MobileNumber" placeholder="Enter mobile number" style="     border: 1px solid #ccc;
        margin-bottom: 12px;
        width: 100%;
        margin-top: 8px;
        border-radius: 4px;
        font-size: 16px;
        padding: 8px;">
    </div>
    <button class="cancel " (click)="Redeem_Initialize_Cancel()">
        Cancel
    </button>
    <button class="approve  " *ngIf="!_HelperService.IsFormProcessing" (click)="Redeem_Initialize()">
        Continue
    </button>
    <button class="approve  " *ngIf="_HelperService.IsFormProcessing" disabled>
        Continue
    </button>
</div>
<!-- <ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Reward
            </span>
        </ion-title>
    </ion-toolbar>
</ion-header> -->
<!-- <ion-content class="bg-app" style="    --background: transparent;background: none transparent !important;
--background-color: transparent !important;
background-color: transparent !important;">
    <div class="page-header " text-center>
        <div class="page-header-lg-img">
            <i slot="start" class=" las la-store page-header-lg-icon"></i>
        </div>
        <div>
            <h1 class="page-header-title-lg">Reward Points </h1>
            <h1 class="page-header-title-lg-b">Reward customer</h1>
        </div>
    </div>
    <div class="container p-t-0" style="background-color: transparent !important;">
    </div>
</ion-content> -->

<!-- <div style=" 
background-color: #f7f7f7;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;">
    <div style="padding-left: 16px; padding-right :16px;">
        <input type="number" maxlength="11" [(ngModel)]="CashierCode" placeholder="Enter cashier code" style="     border: 1px solid #ccc;
        margin-bottom: 16px;
        width: 100%;
        margin-top: 16px;
        border-radius: 5px;
        font-size: 18px;
        padding: 8px;">
    </div>
    <div (click)="Redeem_Initialize_Cancel()" style="padding: 16px 16px;
    background-color: red;
    text-align: center;
    margin-top: 0px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    float: left;
    border-radius: 0px;">
        Cancel
    </div>
</div> -->