<!-- <ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Received Payments
                <span class="statusbar-title-count">
                    - {{TranList_Data.TotalRecords}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="LoadData()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
 -->




<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <img src="../../../../assets/icon/tucwhite.png" class="app-header-logo" style="margin-left: 0px;">
    </ion-toolbar>
</ion-header>


<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content">
            <i class="las la-list-alt app-header-icon "></i>
            <div class="app-header-title"> TUC Pay</div>
            <div class="app-header-subtitle">Received Payments
            </div>
        </div>
    </div>


    <!-- <div class="page-header " text-center>
        <div class="page-header-lg-img">
            <i class=" las la-money-bill-wave page-header-lg-icon"></i>
        </div>
        <div>
            <h1 class="page-header-title-lg">TUC Pay </h1>
            <h1 class="page-header-title-lg-b">Received Payments</h1>
        </div>
    </div> -->
    <div class="app-body">

        <div style="display: none">
            <ion-label class="input-label">Select Date</ion-label>
            <ion-datetime #startTimePicker [min]="MinDate" [max]="MaxDate" (ionChange)="CustomDateChange()"
                [(ngModel)]="SelectedItemDate" displayFormat="DD-MM-YYYY" class="input" placeholder="Select date">
            </ion-datetime>
        </div>
        <input class="search-box" (keyup)="doSearch($event.target.value)" placeholder="search" style="      margin: 0px;
        width: 100%;
        box-shadow: none;
        margin-bottom: 16px;">
        <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No TUCPay payments yet
            </div>
            <div class="nolist-content">
                Your payments history will appear here
            </div>
        </div>
        <div>
            <div (click)="OpenAddModal(TItem)" *ngFor="let TItem of TranList_Data.Data" class="list-item" style="    margin-left: 0px;
            margin-right: 0px;">
                <div>
                    <div class="list-amount float-right">
                        <span class=" text-success" *ngIf="TItem.StatusName == 'Success'">
                            <span class="list-amount-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount |
                            number: "1.2-2"}}
                        </span>
                        <span class="text-danger" *ngIf="TItem.StatusName != 'Success'">
                            <span class="list-amount-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount |
                            number: "1.2-2"}}
                        </span>
                    </div>
                    <div class="list-item-title">
                        {{TItem.UserDisplayName}}
                    </div>
                    <div class="list-item-subtitle">
                        {{TItem.UserMobileNumber}}
                    </div>


                    <div class="list-item-subtitle"
                        *ngIf="TItem.SubParentDisplayName != undefined && TItem.SubParentDisplayName != null && TItem.SubParentDisplayName != ''  ">
                        <i class=" las la-store"></i> {{TItem.SubParentDisplayName}}
                    </div>
                    <div class="list-item-content"
                        *ngIf="TItem.CreatedByDisplayName != undefined && TItem.CreatedByDisplayName != null && TItem.CreatedByDisplayName != ''  ">
                        <i class=" las la-cash-register"></i> {{TItem.CreatedByDisplayName}} |
                        {{TItem.CashierDisplayName}}
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-clock"></i> {{TItem.TransactionDate}}
                        <span class="float-right text-success" *ngIf="TItem.StatusName == 'Success'">
                            <i class=" las la-check-circle"></i> {{TItem.StatusName.toLowerCase()}}
                        </span>
                        <span class="float-right text-danger" *ngIf="TItem.StatusName != 'Success'">
                            <i class=" las  la-warning"></i> {{TItem.StatusName.toLowerCase()}}
                        </span>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>