<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Redeem History
                <span class="statusbar-title-count">
                    <!-- {{StoresList_Data.Offset}} / -->
                    - {{StoresList_Data.TotalRecords}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white">
                <i slot="start" class=" las la-sync-alt " style="font-size: 22px"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <div class="page-header-lg-img">
            <i slot="start" class=" las la-tags page-header-lg-icon"></i>
        </div>
        <div>
            <h1 class="page-header-title-lg">Deals </h1>
            <h1 class="page-header-title-lg-b">Redeem History </h1>
        </div>
    </div>
    <div class="container ">
        <input class="search-box" (keyup)="doSearch($event.target.value)" placeholder="search">


        <div *ngIf="StoresList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-cart" md="md-cart">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No deal code redeemed yet
            </div>
            <div class="nolist-content">
                Redeemed codes will be visible here
            </div>
        </div>
        <div>
            <div (click)="NavStore(TItem)" *ngFor="let TItem of StoresList_Data.Data" class="list-item">
                <div>
                    <div class="list-item-title">
                        {{TItem.Title}}
                    </div>
                    <div class="list-item-subtitle" style="    font-size: 16px;
                    font-weight: 600;">
                        <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{TItem.Amount}}
                    </div>
                    <div class="list-item-content">
                        Customer : {{TItem.CustomerDisplayName}} - {{TItem.CustomerMobileNumber}}
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-clock"></i>Used On : {{TItem.UseDate}}
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>