<ion-header no-border class="bg-en-b-light">
    <ion-toolbar class="bg-en-b-light" color="warning">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Place Order
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="myDismiss()" class="c-white">Cancel</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="page-header " text-center>
        <div class="page-header-title">
            Order details
        </div>
        <div class="page-header-subtitle">
            Select or enter order information
        </div>
    </div>
    <div padding>
        <div *ngIf="OrderType =='gas'" text-center>
            <div style="margin-bottom: 5px;">
                <ion-label style="font-size: 13px;
    font-weight: 600;">Quantity</ion-label>
            </div>
            <div margin-bottom padding-bottom>
                <ion-chip color="primary" outline='true' (click)="Gas('6 kg')">
                    <ion-label>6 KG</ion-label>
                </ion-chip>
                <ion-chip color="primary" outline='true' (click)="Gas('12.5 kg')">
                    <ion-label>12.5KG</ion-label>
                </ion-chip>
                <ion-chip color="primary" outline='true' (click)="Gas('50 kg')">
                    <ion-label>50 KG</ion-label>
                </ion-chip>
            </div>
            <div padding-bottom>
                <div><span style="font-size: 14px; font-weight: 900;">{{OrderTypeVarient}} gas for </span></div>
                <h1 style="font-size:36px"><span style="font-size: 14px;"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{OrderPrice}}</h1>
            </div>
            <div style="margin-bottom: 5px;">
                <ion-label style="font-size: 13px;
                font-weight: 600;">Payment Mode</ion-label>
            </div>
            <div padding-bottom>
                <ion-chip color="primary" outline='true'>
                    <ion-label>Card</ion-label>
                </ion-chip>
                <ion-chip color="primary" outline='true'>
                    <ion-label>Cash</ion-label>
                </ion-chip>
            </div>
            <div padding-top padding-bottom>
                <ion-button (click)="ProceedOrder()" expand="full" color="primary" shape="round" size="medium"
                    class="r-2x f-s-n no-shadow">
                    Proceed
                </ion-button>
            </div>
        </div>
        <div *ngIf="OrderType =='disel'" text-center>
            <div style="margin-bottom: 5px;">
                <ion-label style="font-size: 13px;
            font-weight: 600;">Quantity</ion-label>
            </div>
            <div margin-bottom padding-bottom>
                <ion-chip color="primary" outline='true' (click)="Gas('5 Lt.')">
                    <ion-label>5 Lt.</ion-label>
                </ion-chip>
                <ion-chip color="primary" outline='true' (click)="Gas('10 Lt.')">
                    <ion-label>10 Lt.</ion-label>
                </ion-chip>
                <ion-chip color="primary" outline='true' (click)="Gas('15 Lt.')">
                    <ion-label>15 Lt.</ion-label>
                </ion-chip>
                <ion-chip color="primary" outline='true' (click)="Gas('20 Lt.')">
                    <ion-label>20 Lt.</ion-label>
                </ion-chip>
            </div>
            <div padding-bottom>
                <div><span style="font-size: 14px; font-weight: 900;">{{OrderTypeVarient}} disel for </span></div>
                <h1 style="font-size:36px"><span style="font-size: 14px;"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span> {{OrderPrice}}</h1>
            </div>
            <div style="margin-bottom: 5px;">
                <ion-label style="font-size: 13px;
                        font-weight: 600;">Payment Mode</ion-label>
            </div>
            <div padding-bottom>
                <ion-chip color="primary" outline='true'>
                    <ion-label>Card</ion-label>
                </ion-chip>
                <ion-chip color="primary" outline='true'>
                    <ion-label>Cash</ion-label>
                </ion-chip>
            </div>
            <div padding-top padding-bottom>
                <ion-button (click)="ProceedOrder()" expand="full" color="primary" shape="round" size="medium"
                    class="r-2x f-s-n no-shadow">
                    Proceed
                </ion-button>
            </div>
        </div>
        <div *ngIf="OrderType =='vehicle'" text-center>
            <h3>Coming soon</h3>
            <div padding-top padding-bottom>
                <ion-button (click)="ProceedOrder()" expand="full" color="primary" shape="round" size="medium"
                    class="r-2x f-s-n no-shadow">
                    Proceed
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>