<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <span class="title">Hey {{_HelperService.AccountOwner.DisplayName}}
            <span class="dt-item" (click)="DateManager_Open()">
                {{_DateConfig.TypeName}}
            </span>
        </span>
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content">
            <div class="db-container">
                <div class="db-mcount-container">
                    <div class="db-mcount">
                        <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{_LoyaltyOverview.RewardAmount | number: "1.2-2"}}
                    </div>
                    <div class="db-mcount-title "> Total Reward Amount</div>
                </div>
                <ion-row no-margin no-padding>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{_LoyaltyOverview.Transaction }}
                        </div>
                        <div class="db-msubcount-title ">Transactions</div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{_LoyaltyOverview.NewCustomers }}
                        </div>
                        <div class="db-msubcount-title "> New Customers</div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{_LoyaltyOverview.VisitsByRepeatingCustomers }}
                        </div>
                        <div class="db-msubcount-title ">Loyal Customers</div>
                    </ion-col>

                </ion-row>
            </div>

        </div>
    </div>
    <div class="app-body ">
        <div class="homeop-container">
            <ion-row no-margin>
                <ion-col>
                    <div (click)="RedeemSt1()" class="homeop">
                        <div class="homeop-icon"> <i class="las la-arrow-circle-down"></i></div>
                        <div> Receive </div>
                        <div> Payment</div>
                    </div>
                </ion-col>
                <ion-col>
                    <div (click)="NavScanDeal()" class="homeop">
                        <div class="homeop-icon"> <i class="las la-tags"></i></div>
                        <div> Redeem </div>
                        <div> Deal</div>
                    </div>
                </ion-col>
                <ion-col>
                    <div (click)="NavReward()" class="homeop">
                        <div class="homeop-icon"> <i class="las la-gift"></i></div>
                        <div> Reward </div>
                        <div> Customer</div>
                    </div>
                </ion-col>
                <ion-col>
                    <div (click)="ModalSaveCustomer()" class="homeop">
                        <div class="homeop-icon"> <i class="las la-user-plus"></i></div>
                        <div> Register </div>
                        <div> Customer</div>
                    </div>
                </ion-col>
            </ion-row>
        </div>

        <div class="ana-card">
            <div class="header">
                <span class="icon"><i class="lni lni-chevron-up-circle"></i> </span>
                <span class="title">Loyalty Summary</span>
            </div>
            <div class="body">
                <div class="title"><span
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_LoyaltyOverview.RewardAmount
                    | number: "1.2-2" || "0"}}</div>
                <div class="subtitle">Total Rewards</div>
                <div class="slide-content">
                    <ion-slides [options]="_HelperService.AnaSlideOptions">
                        <ion-slide>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title"><span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_LoyaltyOverview.RewardInvoiceAmount
                                        | number: "1.2-2" ||
                                        "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title">Reward Sales</span>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title">{{_LoyaltyOverview.RewardTransaction || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title"> Reward Trans.</span>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title"><span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_LoyaltyOverview.RedeemAmount
                                        | number: "1.2-2" || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title">Redeem Amount</span>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title">{{_LoyaltyOverview.RedeemTransaction || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title">Redeem Trans.</span>
                                </div>
                            </div>
                        </ion-slide>
                        <!-- <ion-slide>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title">xxxxxx</div>
                                </div>
                                <div class="header">
                                    <span class="title">xxxxxxxxx</span>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title">xxxxxx</div>
                                </div>
                                <div class="header">
                                    <span class="title">xxxxxxxxx</span>
                                </div>
                            </div>
                        </ion-slide> -->

                    </ion-slides>
                </div>
            </div>
        </div>
        <div class="ana-card">
            <div class="header">
                <span class="icon"> <i class="lni lni-bullhorn"></i></span>
                <span class="title">Deals Summary</span>
            </div>
            <div class="body">
                <div class="title">{{_DealStatusOverview.Running || "0"}}</div>
                <div class="subtitle"> Running Deals</div>
                <div class="slide-content">
                    <ion-slides [options]="_HelperService.AnaSlideOptions">
                        <ion-slide>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title">{{_DealStatusOverview.Upcoming || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title">Upcomming Deals</span>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title">{{_DealStatusOverview.ApprovalPending || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title"> In Review</span>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title">
                                        {{_DealStatusOverview.Paused || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title"> Paused</span>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title">
                                        {{_DealStatusOverview.Draft || "0"}}
                                    </div>
                                </div>
                                <div class="header">
                                    <span class="title">Draft</span>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title">
                                        {{_DealStatusOverview.Rejected || "0"}}
                                    </div>
                                </div>
                                <div class="header">
                                    <span class="title">Rejected</span>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title">
                                        {{_DealStatusOverview.Expired || "0"}}
                                    </div>
                                </div>
                                <div class="header">
                                    <span class="title">Expired</span>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slides>
                </div>
            </div>
        </div>
        <div class="tuc-card" *ngIf="_OSalesHistory.SaleDataSet.length > 0">
            <div class="tuc-card-header text-primary">
                Sales History
            </div>
            <div class="tuc-card-body">
                <div style="overflow-x: scroll">
                    <div class="chart-container" style="position: relative;  width:900px;">
                        <canvas height="200" baseChart #RewardPlot="base-chart"
                            [colors]="_HelperService._UserOverviewPlot.Colors" [datasets]="_OSalesHistory.SaleDataSet"
                            [labels]="_OSalesHistory.Labels" [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                            [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptionsStr"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div>
                <div class="tuc-subtitle">Customers</div>
                <div margin-left>
                    <ion-slides [options]="slideOpts">
                        <ion-slide>
                            <div class="slide-card">
                                <div class="header">
                                    <span class="icon"> <i class="lni lni-users"></i></span>
                                    <span class="title"> New Customers</span>
                                </div>
                                <div class="body">
                                    <div class="title">10,000</div>
                                    <div class="subtitle">Total new customers</div>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="slide-card">
                                <div class="header">
                                    <span class="icon"> <i class="lni lni-users"></i></span>
                                    <span class="title"> New Customers</span>
                                </div>
                                <div class="body">
                                    <div class="title">N 40,999,000</div>
                                    <div class="subtitle">Total new customers</div>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slides>
                </div>
            </div>
            <div class="ana-card">
                <div class="header">
                    <span class="icon"> <i class="lni lni-users"></i></span>
                    <span class="title">Rewards</span>
                </div>
                <div class="body">
                    <div class="title">10,000</div>
                    <div class="subtitle">Total new customers</div>
                    <div class="slide-content">
                        <ion-slides [options]="_HelperService.AnaSlideOptions">
                            <ion-slide>
                                <div class="anaslide-card">

                                    <div class="body">
                                        <div class="title">10,000</div>
                                    </div>
                                    <div class="header">
                                        <span class="title"> New Customers</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">N 40,999,000</div>
                                    </div>
                                    <div class="header">
                                        <span class="title"> New Customers</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">N 40,999,000</div>
                                    </div>
                                    <div class="header">
                                        <span class="title"> New Customers</span>
                                    </div>
                                </div>
                            </ion-slide>
                        </ion-slides>
                    </div>

                </div>
            </div>
            <div>
                <div class="tuc-subtitle">Rewards</div>
                <div margin-left>
                    <ion-slides [options]="slideOpts">
                        <ion-slide>
                            <div class="slide-card">
                                <div class="header">
                                    <span class="icon"> <i class="lni lni-users"></i></span>
                                    <span class="title"> New Customers</span>
                                </div>
                                <div class="body">
                                    <div class="title">10,000</div>
                                    <div class="subtitle">Total new customers</div>
                                </div>
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="slide-card">
                                <div class="header">
                                    <span class="icon"> <i class="lni lni-users"></i></span>
                                    <span class="title"> New Customers</span>
                                </div>
                                <div class="body">
                                    <div class="title">N 40,999,000</div>
                                    <div class="subtitle">Total new customers</div>
                                </div>
                            </div>
                        </ion-slide>
                    </ion-slides>
                </div>
            </div> -->
    </div>
</ion-content>
<div class="tucmodal" *ngIf="_HelperService.AppConfig.TucDateModal">
    <div class="tucmodal-container">
        <div class="tucmodal-header">
            <div class="tucmodal-header-title">
                Select Date
            </div>
            <div class="tucmodal-header-subtitle">
                Select date from below
            </div>
        </div>
        <div class="tucmodal-content">
            <ion-row margin-bottom>
                <ion-col>
                    <ion-label class="input-label">Start Date</ion-label>
                    <ion-datetime #rewardHistoryDatePicker (ionChange)="DateManager_StartDateChange()"
                        [(ngModel)]="_DateConfig.SelectedStartDate" displayFormat="DD-MM-YYYY" class="input"
                        placeholder="Select start date">
                    </ion-datetime>
                </ion-col>
                <ion-col>
                    <ion-label class="input-label">End Date</ion-label>
                    <ion-datetime #rewardHistoryDatePicker (ionChange)="DateManager_EndDateChange()"
                        [(ngModel)]="_DateConfig.SelectedEndDate" displayFormat="DD-MM-YYYY" class="input"
                        placeholder="Select end date">
                    </ion-datetime>
                </ion-col>
            </ion-row>
            <div>
                <span class="date-pill" (click)="DateManager_RangeClick(1)"
                    [ngClass]="_DateConfig.Type === 1 ? 'date-pill-active' : 'date-pill'">
                    Today
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(2)"
                    [ngClass]="_DateConfig.Type === 2 ? 'date-pill-active' : 'date-pill'">
                    Yesterday
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(3)"
                    [ngClass]="_DateConfig.Type === 3 ? 'date-pill-active' : 'date-pill'">
                    Last 7 Days
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(4)"
                    [ngClass]="_DateConfig.Type === 4 ? 'date-pill-active' : 'date-pill'">
                    Last 15 Days
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(5)"
                    [ngClass]="_DateConfig.Type === 5 ? 'date-pill-active' : 'date-pill'">
                    Last 30 Days
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(6)"
                    [ngClass]="_DateConfig.Type === 6 ? 'date-pill-active' : 'date-pill'">
                    This Week
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(7)"
                    [ngClass]="_DateConfig.Type === 7 ? 'date-pill-active' : 'date-pill'">
                    Last Week
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(8)"
                    [ngClass]="_DateConfig.Type === 8 ? 'date-pill-active' : 'date-pill'">
                    This Month
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(9)"
                    [ngClass]="_DateConfig.Type === 9 ? 'date-pill-active' : 'date-pill'">
                    Last Month
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(10)"
                    [ngClass]="_DateConfig.Type === 10 ? 'date-pill-active' : 'date-pill'">
                    Last 3 Month
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(11)"
                    [ngClass]="_DateConfig.Type === 11 ? 'date-pill-active' : 'date-pill'">
                    Last 6 Month
                </span>
            </div>

        </div>
        <div class="tucmodal-footer">
            <ion-row>
                <ion-col size="5">
                    <button class="tucmodal-footer-button tucmodal-footer-button-cancel"
                        (click)="_HelperService.HideTucDateModal()">
                        Cancel
                    </button>
                </ion-col>
                <ion-col>
                    <button class="tucmodal-footer-button" (click)="DateManager_Confirm()">
                        Confirm
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</div>

<!-- <ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Hey {{_HelperService.AccountOwner.DisplayName}}</span>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content id="Container" class="bg-app">
    <div class="page-header ">
        <div class="db-mcount">
            <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{_HelperService._SalesSummary.TotalSuccessfulTransactionInvoiceAmount| number: "1.2-2" || "--" }}
        </div>
        <div class="db-subtitle "> Total Sale</div>
        <div *ngIf="_HelperService._UserOverviewPlot.HourlyVisitData.length > 0">
            <canvas height="110" baseChart #RewardPlot="base-chart"
                [colors]="_HelperService._UserOverviewPlot.ColorsInverse"
                [datasets]="_HelperService._UserOverviewPlot.HourlyVisitData"
                [labels]="_HelperService._UserOverviewPlot.HourlyVisitLabel"
                [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptionsInverse"></canvas>
        </div>
        <div class="db-subtitle">Customer Hourly Visits
            <span class="float-right">{{StartTimeS}} - {{EndTimeS}}</span>
        </div>
    </div>
    <div class="container-mini" style="    padding-top: 16px;">
        <ion-row style="margin-left: 8px  ; margin-right:8px;">

            <ion-col>
                <div (click)="RedeemSt1()" style="    padding:8px 8px;
                background-color: #f9f9f9;
                text-align: center;
                border-radius: 8px;
                margin-top: 0px;
                color: #3b3b3b; 
                font-weight: 600;
                font-size: 14px;">

                    <div style="    font-size: 28px;color: #303F9F;"> <i class="las la-arrow-circle-down"></i></div>
                    <div style="    font-size: 11px;">Receive </div>
                    <div style="    font-size: 11px;"> Payment</div>
                </div>
            </ion-col>
            <ion-col>
                <div (click)="NavScanDeal()" style="    padding:8px 8px;
                background-color: #f9f9f9;
                text-align: center;
                border-radius: 8px;
                margin-top: 0px;
                color: #3b3b3b;
                font-weight: 600;
                font-size: 14px;">
                    <div style="    font-size: 28px;color: #303F9F;"> <i class="las la-tags"></i></div>
                    <div style="    font-size: 11px;">Redeem </div>
                    <div style="    font-size: 11px;"> Deal</div>
                </div>
            </ion-col>
            <ion-col>
                <div (click)="NavReward()" style="    padding:8px 8px;
                background-color: #f9f9f9;
                text-align: center;
                border-radius: 8px;
                margin-top: 0px;
                color: #3b3b3b;
                font-weight: 600;
                font-size: 14px;">
                    <div style="    font-size: 28px;color: #303F9F;"> <i class="las la-gift"></i></div>
                    <div style="    font-size: 11px;"> Reward </div>
                    <div style="    font-size: 11px;"> Customer</div>
                </div>
            </ion-col>
            <ion-col>
                <div (click)="ModalSaveCustomer()" style="    padding:8px 8px;
                background-color: #f9f9f9;
                text-align: center;
                border-radius: 8px;
                margin-top: 0px;
                color: #3b3b3b;
                font-weight: 600;
                font-size: 14px;">
                    <div style="    font-size: 28px;color: #303F9F;"> <i class="las la-user-plus"></i></div>
                    <div style="    font-size: 11px;"> Register </div>
                    <div style="    font-size: 11px;"> Customer</div>
                </div>
            </ion-col>
        </ion-row>

        <div class="tab-container-dt">
            <div class="tab-item-dt" [ngClass]="Type === 1 ? 'tab-item-dt-active' : 'tab-item-dt'"
                (click)="UserAnalytics_DateChange(1)">
                Today
            </div>
            <div class="tab-item-dt" [ngClass]="Type === 2 ? 'tab-item-dt-active' : 'tab-item-dt'"
                (click)="UserAnalytics_DateChange(2)">
                Yesterday
            </div>
            <div class="tab-item-dt" [ngClass]="Type === 3 ? 'tab-item-dt-active' : 'tab-item-dt'"
                (click)="UserAnalytics_DateChange(3)">
                Week
            </div>
            <div class="tab-item-dt" [ngClass]="Type === 4 ? 'tab-item-dt-active' : 'tab-item-dt'"
                (click)="UserAnalytics_DateChange(4)">
                Month
            </div>
            <div class="tab-item-dt" [ngClass]="Type > 4 ? 'tab-item-dt-active' : 'tab-item-dt'"
                (click)="UserAnalytics_DateChange(5)">
                Custom
            </div>
        </div>
        <div style="display: none">
            <ion-label class="input-label">Select Date</ion-label>
            <ion-datetime #startTimePicker [min]="MinDate" [max]="MaxDate" (ionChange)="CustomDateChange()"
                [(ngModel)]="SelectedItemDate" displayFormat="DD-MM-YYYY" class="input" placeholder="Select date">
            </ion-datetime>
        </div>
        <div class="scrolling-item tuc-card-i">
            <div>
                <i class="las la-running tuc-card-i-icon "></i>
                <div class="tuc-card-i-content">
                    <div class="tuc-card-i-header"> Customers Visits</div>
                    <div class="tuc-card-i-number">
                        {{_HelperService._SalesSummary.TotalTransaction | number: "1.0-1" || "--" }}
                    </div>
                    <div class="tuc-card-i-footer">
                        Customers Visited To Stores
                    </div>
                </div>
            </div>
        </div>
        <div class="scrolling-wrapper">
            <div class="scrolling-item tuc-card-i">
                <div>
                    <i class="las la-users tuc-card-i-icon "></i>
                    <div class="tuc-card-i-content">
                        <div class="tuc-card-i-header">Total Customers</div>
                        <div class="tuc-card-i-number">
                            {{_HelperService._SalesSummary.TotalCustomer | number: "1.0-1" || "--" }}
                        </div>
                        <div class="tuc-card-i-footer">
                            Customers Visited
                        </div>
                    </div>
                </div>
            </div>
            <div class=" scrolling-item tuc-card-i">
                <div>
                    <i class="las la-user-plus tuc-card-i-icon"></i>
                    <div class="tuc-card-i-content">
                        <div class="tuc-card-i-header">New Customers</div>
                        <div class="tuc-card-i-number">

                            {{_HelperService._UserCounts.TotalCustomerNew | number: "1.0-1" || "--" }}
                        </div>
                        <div class="tuc-card-i-footer">
                            New customers to Stores
                        </div>
                    </div>
                </div>
            </div>
            <div class=" scrolling-item tuc-card-i">
                <div>
                    <i class="las la-user-tag tuc-card-i-icon"></i>
                    <div class="tuc-card-i-content">
                        <div class="tuc-card-i-header">Repeating Customers</div>
                        <div class="tuc-card-i-number">
                            {{( _HelperService._SalesSummary.TotalCustomer - _HelperService._UserCounts.TotalCustomerNew
                            )| number: "1.0-1" || "--" }}
                        </div>
                        <div class="tuc-card-i-footer">
                            Repeating customers to store
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tuc-card-i" style="background-color: #e2ffe2;"
            *ngIf="(_Configurations.RewardDeductionTypeCode == 'rewarddeductiontype.prepay' ||
                _Configurations.RewardDeductionTypeCode == 'rewarddeductiontype.postpay') && _AccountBalance.Balance > 4999">
            <i class="las la-wallet tuc-card-i-icon" style="    background-color: #e2ffe2;
    color: #008000;"></i>
            <div class="tuc-card-i-content" style="color: #008000;">
                <div class="tuc-card-i-header" style="color: #008000;">Reward Wallet</div>
                <div class="tuc-card-i-number" style="color: #008000;">
                    <span class="tuc-card-i-number-currency"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                    {{_AccountBalance.Balance | number: "1.2-2" || "--" }}
                </div>
                <div class="tuc-card-i-footer" style="color: #008000;" padding-bottom>
                    Available Balance
                </div>
                <ion-button size="small" color="success" expand="full" shape="round" fill="outline">Credit
                    Wallet
                </ion-button>
            </div>
        </div>

        <div class="tuc-card-i" style="background-color: #ffd6ca;"
            *ngIf="(_Configurations.RewardDeductionTypeCode == 'rewarddeductiontype.prepay' ||
                _Configurations.RewardDeductionTypeCode == 'rewarddeductiontype.postpay') && _AccountBalance.Balance < 5000">
            <i class="las la-wallet tuc-card-i-icon" style="background-color: #ffd6ca;color: #ff5722;"></i>
            <div class="tuc-card-i-content" style="color: #ff5722;">
                <div class="tuc-card-i-header" style="color: #ff5722;">Reward Wallet</div>
                <div class="tuc-card-i-number" style="color: #ff5722;">
                    <span class="tuc-card-i-number-currency"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                    {{_AccountBalance.Balance | number: "1.2-2" || "--" }}
                </div>
                <div class="tuc-card-i-footer" style="color: #ff5722;" padding-bottom>
                    Available Balance
                </div>
                <ion-button size="small" expand="full" color="warning" shape="round" fill="outline">Credit
                    Wallet
                </ion-button>
            </div>
        </div>
        <div class="tuc-subtitle">Customer Payment Channels</div>
        <div padding-top *ngIf="_HelperService._SalesSummary.TransactionTypeUsersData.length > 0">
            <canvas height="140" baseChart [colors]="_HelperService.ChartConfig.SalesTypeCustomersColors"
                [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                [options]="_HelperService.ChartConfig.DoughnetChart.Options" [legend]="true"
                [data]="_HelperService._SalesSummary.TransactionTypeUsersData"
                [labels]="_HelperService._SalesSummary.TransactionTypeUsersLabels"></canvas>
        </div>
        <div class="scrolling-wrapper">
            <div class="scrolling-item tuc-card-i tuc-card-i-green">
                <div>
                    <i class="las la-money-bill-wave tuc-card-i-icon tuc-card-i-icon-green"></i>
                    <div class="tuc-card-i-content">
                        <div class="tuc-card-i-header">Cash Payments</div>
                        <div class="tuc-card-i-number">
                            <span class="tuc-card-i-number-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{_HelperService._SalesSummary.TotalCashTransactionInvoiceAmount| number: "1.2-2" || "--" }}
                        </div>
                        <div class="tuc-card-i-footer">
                            {{_HelperService._SalesSummary.TotalCashTransactionCustomer | number: "1.0-1" || "--" }}
                            Customers
                        </div>
                    </div>
                </div>
            </div>
            <div class=" scrolling-item tuc-card-i">
                <div>
                    <i class="las la-credit-card tuc-card-i-icon"></i>
                    <div class="tuc-card-i-content">
                        <div class="tuc-card-i-header">Card Payments</div>
                        <div class="tuc-card-i-number">
                            <span class="tuc-card-i-number-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{_HelperService._SalesSummary.TotalCardTransactionInvoiceAmount| number: "1.2-2" || "--" }}
                        </div>
                        <div class="tuc-card-i-footer">
                            {{_HelperService._SalesSummary.TotalCardTransactionCustomer | number: "1.0-1" || "--" }}
                            Customers
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tuc-subtitle">Customer Rewards</div>
        <div class="scrolling-wrapper">
            <div class="scrolling-item tuc-card-i">
                <div>
                    <i class="las la-gifts tuc-card-i-icon "></i>
                    <div class="tuc-card-i-content">
                        <div class="tuc-card-i-header">Rewards</div>
                        <div class="tuc-card-i-number">
                            <span class="tuc-card-i-number-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{_HelperService._RewardsSummary.TotalRewardTransactionAmount| number: "1.2-2" || "--" }}
                        </div>
                        <div class="tuc-card-i-footer">
                            {{_HelperService._RewardsSummary.TotalRewardTransactionCustomer | number: "1.0-1" || "--" }}
                            Customers
                        </div>
                    </div>
                </div>
            </div>
            <div class="scrolling-item tuc-card-i">
                <div>
                    <i class="las la-donate tuc-card-i-icon "></i>
                    <div class="tuc-card-i-content">
                        <div class="tuc-card-i-header">Redeem</div>
                        <div class="tuc-card-i-number">
                            <span class="tuc-card-i-number-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{_HelperService._RewardsSummary.TotalRedeemTransactionAmount| number: "1.2-2" || "--" }}
                        </div>
                        <div class="tuc-card-i-footer">
                            {{_HelperService._RewardsSummary.TotalRedeemTransactionCustomer | number: "1.0-1" || "--" }}
                            Customers
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tuc-card" *ngIf="_HelperService._OSalesHistory.SaleDataSet.length > 0">
            <div class="tuc-card-header text-primary">
                Customer Visits ( last 15 days)
            </div>
            <div class="tuc-card-body">
                <canvas height="140" baseChart #RewardPlot="base-chart"
                    [colors]="_HelperService._UserOverviewPlot.Colors"
                    [datasets]="_HelperService._OSalesHistory.SaleCustomersDataSet"
                    [labels]="_HelperService._OSalesHistory.Labels"
                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                    [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptionsStr"></canvas>
                <div class="tuc-card-i-footer">
                    {{DStartTimeS}} - {{DEndTimeS}}
                </div>
            </div>
        </div>
        <div class="tuc-card" *ngIf="_HelperService._OSalesHistory.SaleDataSet.length > 0">
            <div class="tuc-card-header text-primary">
                Sales History ( last 15 days)
            </div>
            <div class="tuc-card-body">
                <canvas height="140" baseChart #RewardPlot="base-chart"
                    [colors]="_HelperService._UserOverviewPlot.Colors"
                    [datasets]="_HelperService._OSalesHistory.SaleDataSet"
                    [labels]="_HelperService._OSalesHistory.Labels"
                    [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                    [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptionsStr"></canvas>
                <div class="tuc-card-i-footer">
                    {{DStartTimeS}} - {{DEndTimeS}}
                </div>
            </div>

        </div>
    </div>
</ion-content> -->
<div class="footer-container">
    <div class="footer-item text-primary" (click)="_HelperService.NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavLoyalty()">
        <div class="footer-item-icon">
            <i class="lni lni-gift"></i>
        </div>
        <div class="footer-item-text">Loyalty</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDeals()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Deals</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavOrders()">
        <div class="footer-item-icon">
            <i class="lni lni-cart"></i>
        </div>
        <div class="footer-item-text">Products</div>
    </div>
    <div class="footer-item" (click)="_HelperService.NavMore()">
        <div class="footer-item-icon">
            <i class="lni lni-more"></i>
        </div>
        <div class="footer-item-text">More</div>
    </div>
</div>