<div class="page-header " text-center>
    <div class="page-header-lg-img">
        <i class="las la-user-tag  menu-icon page-header-lg-icon"></i>
    </div>
    <div>
        <h1 class="page-header-title-lg">Add
        </h1>
        <h1 class="page-header-title-lg-b">Cashier</h1>
    </div>
</div>
<div class="container p-t-0">
    <div margin>

        <ion-grid no-padding>
            <ion-row margin-bottom>
                <ion-col no-margin no-padding>
                    <ion-label class="input-label"> Cashier Code / Id
                    </ion-label>
                    <ion-input class="f-s-content input" readonly disabled type="text" max-length="128"
                        [(ngModel)]="Form_AddUser.DisplayName">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid no-padding>
            <ion-row margin-bottom>
                <ion-col no-margin no-padding>
                    <ion-label class="input-label">First Name</ion-label>
                    <ion-input class="f-s-content input" type="text" max-length="128"
                        [(ngModel)]="Form_AddUser.FirstName">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid no-padding>
            <ion-row margin-bottom>
                <ion-col no-margin no-padding>
                    <ion-label class="input-label">Last Name</ion-label>
                    <ion-input class="f-s-content input" type="text" max-length="128"
                        [(ngModel)]="Form_AddUser.LastName">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid no-padding>
            <ion-row margin-bottom>
                <ion-col no-margin no-padding>
                    <ion-label class="input-label">Mobile Number</ion-label>
                    <ion-input class="f-s-content input" type="tel" max-length="13"
                        [(ngModel)]="Form_AddUser.ContactNumber">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid no-padding>
            <ion-row margin-bottom>
                <ion-col no-margin no-padding>
                    <ion-label class="input-label">Employee Id</ion-label>
                    <ion-input class="f-s-content input" type="tel" max-length="13"
                        [(ngModel)]="Form_AddUser.ReferralCode">
                    </ion-input>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid no-padding>
            <ion-row margin-bottom>
                <ion-col no-margin no-padding size="6">
                    <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                        (click)="Form_AddUser_Process()">
                        Add Cashier
                    </ion-button>
                </ion-col>
                <ion-col no-margin no-padding size="6">
                    <ion-button expand="full" color="light" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                        (click)="ModalDismiss('noaction')">
                        Cancel
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>




</div>