<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-button (click)="_HelperService.ModalDismiss('noaction')" class="app-titlebar-button">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content">
            <i class="las la-university app-header-icon "></i>
            <div class="app-header-title"> Cashouts</div>
            <div class="app-header-subtitle">Transfer your reward points to bank account</div>
        </div>
    </div>
    <div class="app-body">
        <div *ngIf="Stage == 0 ">
            <div *ngIf="_Configuration.TransferBalance > 0" style="    margin-bottom: 20px;
                padding: 8px;
                font-weight: 500;
                background-color: rgb(0, 140 ,72 , 0.1);
                border-radius: 4px;" class="text-success">
                <span class="float-right">
                    <span class="list-amount-currency"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Configuration.TransferBalance |
                    number:
                    "1.2-2"}}
                </span>
                Eligible amount for cashout
            </div>
            <div *ngIf="_Configuration.TransferBalance  <  0" style="
        text-align: center;
            margin-bottom: 16px;
            padding: 8px;
            border: 1px solid #efefef;
            border-radius: 8px;
            background-color: #fbfafa;">
                <span style="color: red;
                font-size: 13px;
                padding-left: 8px;
                font-weight: 500;">Your wallet is not having enough rewards balance for transfer. Minimum <span
                        class="list-amount-currency"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Configuration.MinimumTransferAmount
                    | number:
                    "1.2-2"}}
                    reward balance required for Cashout </span>
            </div>


            <div text-center>
                <ion-label class="input-label">Enter cashout amount
                </ion-label>
                <ion-input class=" input  input-lg" [(ngModel)]="_Configuration.Amount" type="tel" max-length="10"
                    placeholder="0" (keyup)="CalculateAmount()" (keydown)="CalculateAmount()">
                </ion-input>
                <ion-label class="input-label">Select bank for transfer
                </ion-label>
            </div>

            <div
                *ngIf="_Configuration.Banks != undefined && _Configuration.Banks != null && _Configuration.Banks.length > 0">
                <div class="item-list" (click)="BankSelected(Item)"
                    *ngFor="let Item of _Configuration.Banks; let index=index; let odd=odd; let even=even;">
                    <div *ngIf="Item.ReferenceId != _Configuration.BankReferenceId">
                        <div class="item-list-title">
                            {{Item.Name || "--"}}
                        </div>
                        <div class="item-list-subtitle">
                            {{Item.BankName || "--"}}
                            <span class=" float-right">
                                {{Item.AccountNumber || "--"}}
                            </span>
                        </div>
                    </div>
                    <div *ngIf="Item.ReferenceId == _Configuration.BankReferenceId">
                        <div class="item-list-title text-success">
                            {{Item.Name || "--"}}
                        </div>
                        <div class="item-list-subtitle  text-success">
                            {{Item.BankName || "--"}}
                            <span class=" float-right">
                                {{Item.AccountNumber || "--"}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="box" style="margin-top: 20px;">
                    <div class="box-header">
                        Cashout Criteria
                    </div>
                    <div class="box-body">
                        <div class="box-body-item">
                            <span class="box-body-item-left">
                                Eligible Balance for transfer
                            </span>
                            <span class="box-body-item-right">
                                <span class="list-amount-currency"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{_Configuration.TransferBalance | number: "1.2-2"}}
                            </span>
                        </div>
                        <div class="box-body-item">
                            <span class="box-body-item-left">
                                Minimum Transfer Amount
                            </span>
                            <span class="box-body-item-right">
                                <span class="list-amount-currency"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Configuration.MinimumTransferAmount
                                |
                                number: "1.2-2"}}
                            </span>
                        </div>
                        <div class="box-body-item">
                            <span class="box-body-item-left">
                                Maximum Transfer Amount
                            </span>
                            <span class="box-body-item-right">
                                <span class="list-amount-currency"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Configuration.MaximumTransferAmount
                                |
                                number: "1.2-2"}}
                            </span>
                        </div>
                        <div class="box-body-item">
                            <span class="box-body-item-left">
                                Transfer Charges
                            </span>
                            <span class="box-body-item-right">
                                <span class="list-amount-currency"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Configuration.Charge
                                | number:
                                "1.2-2"}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div
                *ngIf="_Configuration.Banks == undefined || _Configuration.Banks == null || _Configuration.Banks.length == 0">
                <div (click)="AddbankAccount()" style="  text-align: center;
                padding: 12px 16px;
                border: 1px solid #efefef;
                border-radius: 3px;
                margin-top: 16px;
                margin-bottom: 32px;">
                    Add Bank Account
                </div>
            </div>



        </div>

        <div *ngIf="Stage == 1 " class="inv">
            <div class="inv-header">
                Transfer Details
            </div>
            <div class="inv-body">
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Amount
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Configuration.Amount |
                        number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Processing Charges
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Configuration.Charge |
                        number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item-prime">
                    <span class="inv-body-item-left">
                        Total Amount
                    </span>
                    <span class="inv-body-item-right">
                        <span class="currency"
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Configuration.TotalAmount |
                        number: "1.2-2"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Bank
                    </span>
                    <span class="inv-body-item-right">
                        {{_Configuration.BankName || "--"}}
                    </span>
                </div>
                <div class="inv-body-item">
                    <span class="inv-body-item-left">
                        Account
                    </span>
                    <span class="inv-body-item-right">
                        {{_Configuration.Name || "--"}}
                    </span>
                </div>
                <div class="inv-body-item p-0">
                    <span class="inv-body-item-left">
                        Account Number
                    </span>
                    <span class="inv-body-item-right">
                        {{_Configuration.AccountNumber || "--"}}
                    </span>
                </div>
            </div>
        </div>






        <!-- 
        <ion-grid no-padding>
            <ion-row margin-bottom>
                <ion-col no-margin no-padding>
                    <ion-label class="input-label"> Amount
                    </ion-label>
                    <ion-input (keyup)="CalculateAmount()" (keydown)="CalculateAmount()" class="f-s-content input"
                        placeholder="Enter amount" type="tel" max-length="10" [(ngModel)]="_Configuration.Amount">
                    </ion-input>
                </ion-col>
            </ion-row>
            <ion-row margin-bottom>
                <ion-col no-margin no-padding>
                    <ion-label class="input-label">Select bank for transfer
                    </ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div style="
        margin-bottom: 16px;
        padding: 16px;
        border: 1px solid #efefef;
        border-radius: 8px;" (click)="BankSelected(LItem)"
            *ngFor="let LItem of _Configuration.Banks; let index=index; let odd=odd; let even=even;">
            <div style="    color: #5f5d5d;
            font-size: 12px;
            font-weight: 500;" *ngIf="LItem.ReferenceId != _Configuration.BankReferenceId">
                <div style="margin-bottom : 4px">
                    {{LItem.Name}}
                </div>
                <div style="margin-bottom : 4px">
                    {{LItem.AccountNumber}}
                </div>
                <div>
                    {{LItem.BankName}}
                </div>
            </div>
            <div class="item-list-active" *ngIf="LItem.ReferenceId == _Configuration.BankReferenceId">
                <div>
                    {{LItem.Name}}
                </div>
                <div>
                    {{LItem.AccountNumber}}
                </div>
                <div>
                    {{LItem.BankName}}
                </div>
            </div>
        </div> -->


        <!-- 
        <div style="    padding: 16px; margin-bottom: 16px;border-radius: 8px;;
        background-color: #F4F4F4;">
            <div class="tuc-card-i-header" style="font-size: 12px !important; color: #9D9D9D;">Transfer Details</div>
            <div style="    font-weight: 500;">
                <div class="line-height" style="line-height: 34px;">
                    <span style="color: #C5C8CE; font-size: 12px;">
                        Amount
                    </span>
                    <span style="float: right;">
                        <span class="list-amount-currency"    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Configuration.Amount  | number: "1.2-2"}}
                    </span>
                </div>
                <div class="line-height" style="    line-height: 34px;
                    border-bottom: 1px dotted #ccc;
                    padding-bottom: 8px;
                    margin-bottom: 8px;">
                    <span style="color: #C5C8CE; font-size: 12px;">
                        Charges
                    </span>
                    <span style="float: right;">
                        <span class="list-amount-currency"    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Configuration.Charge  | number: "1.2-2"}}
                    </span>
                </div>
                <div class="line-height" style="    line-height: 34px;
                        border-bottom: 1px dotted #ccc;
                    margin-bottom: 16px;
                    padding-bottom: 8px;">
                    <span style="color: #C5C8CE; font-size: 12px;">
                        Total Amount
                    </span>
                    <span style="float: right;">
                        <span
                            class="list-amount-currency"    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_Configuration.TotalAmount  | number: "1.2-2"}}
                    </span>
                </div>
            </div>
        </div> -->
        <!-- <button type="button" margin-top margin-bottom (click)="UpdateProfile()" class="btn-primary"
            *ngIf="!_HelperService.IsFormProcessing"> Update
            Pin</button>

        <button type="button" margin-top margin-bottom (click)="UpdateProfile()" class="btn-primary-inverse"
            *ngIf="_HelperService.IsFormProcessing">
            <i class="las la-spinner  fa-pulse  la-pulse "></i>
            Please wait </button> -->
    </div>
</ion-content>

<div class="tuc-footer" *ngIf="Stage == 0">
    <button class="cancel" (click)="_HelperService.ModalDismiss('noaction')">
        Cancel
    </button>
    <button class="approve" disabled readonly
        *ngIf="_Configuration.Banks == undefined || _Configuration.Banks == null || _Configuration.Banks.length == 0">
        Continue
    </button>

    <button class="approve" (click)="InitializeTransferContinue()"
        *ngIf="_Configuration.Banks != undefined && _Configuration.Banks != null && _Configuration.Banks.length > 0">
        Continue
    </button>
</div>
<div class="tuc-footer" *ngIf="Stage == 1">
    <button class="cancel" (click)="_HelperService.ModalDismiss('noaction')">
        Cancel
    </button>
    <button class="approve" (click)="InitializeTransferConfirm()">
        Transfer
    </button>
</div>