<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="app-titlebar-button"> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content">
            <i class="las la-info-circle app-header-icon "></i>
            <div class="app-header-title"> About</div>
            <div class="app-header-subtitle">Version :
                {{_HelperService.AppConfig.NetworkKeys.Android.AppVersion}}</div>
        </div>
    </div>
    <div class="app-body">
        <div padding-bottom>
            ThankUCash for Merchants is a product of Connected Analytics Inc, and we have launched this mobile app
            to help
            businesses and merchants like you, embrace the full value of the ThankUCash platform. You will be able
            to tell your
            customers, sales and even your best performing attendant/cashier. We want to make it very easy for you
            as a merchant to
            embrace the ease of technology and allow it to help you grow your business.
        </div>
        <div padding-bottom>
            Our target is to help you retain your existing customers, maintain a theft free business, acquire new
            customers and
            ultimately grow your company.
        </div>
        <div padding-bottom>
            Let us help you do the heavy lifting, and together grow your business.
        </div>
        <div padding-bottom>
            Our business is your business growth.
        </div>
    </div>
</ion-content>