<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar" style="text-align: center;">
        Receive Payment / Redeem Points
        <!-- <img src="../../../../assets/icon/tucwhite.png" class="app-header-logo"> -->
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header" style="min-height: 100px;">

        <div style="      color: #303F9F;
        background-color: #ffffff59;
        display: flex;
        margin-right: 16px;
        margin-left: 16px;
        border-radius: 8px;
        font-size: 13px;    margin-top: 20px;
        font-weight: 500;">
            <div (click)="RedeemStageChange(0)"
                [ngClass]="{'tpay  tpay-active'  : RedeemStage == 0,'tpay'  : RedeemStage != 0}">Scan Code</div>
            <div (click)="RedeemStageChange(1)"
                [ngClass]="{'tpay  tpay-active'  : RedeemStage != 0,'tpay'  : RedeemStage == 0}">Use Mobile Number</div>
        </div>
    </div>
    <div class="app-body" style="padding: 20px !important;">
        <div class="container " *ngIf="RedeemStage == 0"
            style="overflow: auto;padding-bottom:30px;  background-color: #ffffff; box-shadow: none;">
            <div style="text-align: center;"
                *ngIf="_HelperService.AccountOwner.AccountCode != undefined && _HelperService.AccountOwner.AccountCode != null  && _HelperService.AccountOwner.AccountCode != ''">
                <qrcode [qrdata]="_HelperService.AccountOwner.AccountCode" [width]="300" [errorCorrectionLevel]="'M'"
                    style="    margin-top: 30px;"></qrcode>
            </div>
            <div style="    padding-left: 16px;
        padding-right: 16px;">
                <div style="    margin-bottom: 4px;
        font-size: 18px;
        font-weight: 500;    text-align: center;">
                    Scan QR code to Receive Payment
                </div>
            </div>
        </div>
        <div *ngIf="RedeemStage == 1">
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Customer mobile number
                        </ion-label>
                        <ion-input class="f-s-content input" type="tel" max-length="13"
                            [(ngModel)]="_CustomerDetails.MobileNumber">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Customer redeem pin
                        </ion-label>
                        <ion-input class="f-s-content input" type="tel" max-length="4"
                            [(ngModel)]="_CustomerDetails.Pin">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngIf="RedeemStage == 2">
            <div style="padding: 16px 16px;
            background-color: #f7f7f7;
            margin-bottom: 16px;
            border-radius: 6px;
            width: 100%;
            display: inline-block;">
                <div style="    font-weight: 500;
                margin-bottom: 12px;
                font-size: 13px;"> Customer details </div>
                <img src="{{_CustomerDetails.IconUrl}}" style="    float: left;
                width: 58px;
                margin-right: 16px;
                border-radius: 4px;">
                <div>
                    <div style="    font-size: 14px;
                    margin-bottom: 6px;">{{_CustomerDetails.Name}}</div>
                    <div style="    font-size: 12px;
                    font-weight: 500;">
                        Available Balance
                    </div>
                    <div style="    font-weight: 600;
                    font-size: 16px;">{{_CustomerDetails.AccountBalance | number: "1.2-2" }} </div>
                </div>
            </div>
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Invoice Amount
                        </ion-label>
                        <ion-input class="f-s-content input" type="tel" max-length="13"
                            [(ngModel)]="_CustomerDetails.InvoiceAmount">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Redeem Amount
                        </ion-label>
                        <ion-input class="f-s-content input" type="tel" max-length="13"
                            [(ngModel)]="_CustomerDetails.RedeemAmount">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngIf="RedeemStage == 3">
            <div margin>
                <h1 style="font-size: 48px;
                text-align: center;
                color: green;
                margin-bottom: 16px;">
                    <span class="list-amount-currency" style="font-size:40px"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_CustomerDetails.RedeemAmount |
                    number: "1.2-2"}}
                </h1>
                <div style="    text-align: center;
                font-weight: 500;
                font-size: 14px;">
                    Customer Redeem Amount
                </div>

            </div>
            <!-- <div style="padding: 16px 16px;
            background-color: #f7f7f7;
            margin-bottom: 16px;
            border-radius: 6px;
            width: 100%;
            display: inline-block;">
                <div style="    font-weight: 500;
                margin-bottom: 12px;
                font-size: 13px;"> Customer details </div>
                <img src="{{_CustomerDetails.IconUrl}}" style="    float: left;
                width: 58px;
                margin-right: 16px;
                border-radius: 4px;">
                <div>
                    <div style="    font-size: 16px;
                    margin-bottom: 4px;">{{_CustomerDetails.Name}}</div>
                    <div>{{_CustomerDetails.MobileNumber}} </div>
                </div>
            </div> -->
            <div class="tuc-card"
                style="border-radius: 8px;box-shadow: none;    background-color: #f7f7f7;margin:0px; margin-bottom: 16px;">
                <div class="tuc-card-header ">
                    Redeem Details
                </div>
                <div class="tuc-card-body">
                    <div style="    font-weight: 500;">
                        <div class="line-height">
                            <span style="color: #C5C8CE; font-size: 12px;">
                                Invoice Amount
                            </span>
                            <span style="float:right;">
                                <span class="list-amount-currency"
                                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                {{_CustomerDetails.InvoiceAmount |
                                number: "1.2-2" || "--"}}
                            </span>
                        </div>
                        <div class="line-height">
                            <span style="color: #C5C8CE; font-size: 12px;">
                                Reference Number
                            </span>
                            <span style="float:right;">
                                {{_CustomerDetails.TransactionReferenceId || "--"}}
                            </span>
                        </div>
                        <div class="line-height">
                            <span style="color: #C5C8CE; font-size: 12px;">
                                Payment Date
                            </span>
                            <span style="float:right;">
                                {{_CustomerDetails.TransactionDate || "--"}}
                            </span>
                        </div>
                        <div class="line-height">
                            <span style="color: #C5C8CE; font-size: 12px;">
                                Status
                            </span>
                            <span class="float-right text-success" *ngIf="_CustomerDetails.StatusName == 'success'">
                                {{_CustomerDetails.StatusName.toLowerCase()}}
                            </span>
                            <span class="float-right text-danger" *ngIf="_CustomerDetails.StatusName != 'success'">
                                {{_CustomerDetails.StatusName.toLowerCase()}}
                            </span>
                            <!-- <span style="color: green;float:right;">
                                {{_MerchantDetails.StatusName  || "--"}}
                            </span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div *ngIf="!_CustomerDetails.IsNewCustomer" style="padding: 16px 16px;
        background-color: #f7f7f7;
        margin-bottom: 16px;
        border-radius: 6px;
        width: 100%;
        display: inline-block;">
            <div style="    font-weight: 500;
            margin-bottom: 12px;
            font-size: 13px;"> Customer details </div>
            <img src="{{_CustomerDetails.IconUrl}}" style="    float: left;
            width: 58px;
            margin-right: 16px;
            border-radius: 4px;">
            <div>
                <div style="    font-size: 16px;
                margin-bottom: 4px;">{{_CustomerDetails.Name}}</div>
                <div>{{_CustomerDetails.MobileNumber}} </div>
            </div>
        </div> -->
        <div>
            <!--          
            <ion-grid no-padding>
                <ion-row margin-bottom *ngIf="_CustomerDetails.IsNewCustomer">
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Customer Name
                        </ion-label>
                        <ion-input class="f-s-content input" type="text" max-length="128"
                            [(ngModel)]="_CustomerDetails.Name">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom *ngIf="_CustomerDetails.IsNewCustomer">
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Customer Email Address
                        </ion-label>
                        <ion-input class="f-s-content input" type="email" max-length="128"
                            [(ngModel)]="_CustomerDetails.EmailAddress">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom *ngIf="_CustomerDetails.IsNewCustomer">
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Gender
                        </ion-label>
                        <div style="margin-bottom: 32px;">
                            <span class="gender"
                                [ngClass]="{'gender gender-active'  : _CustomerDetails.GenderCode == 'gender.male','gender'  : _CustomerDetails.GenderCode != 'gender.male'}"
                                (click)="ToggleGender('gender.male')">
                                Male
                            </span>
                            <span class="gender"
                                [ngClass]="{'gender gender-active'  : _CustomerDetails.GenderCode == 'gender.female','gender'  : _CustomerDetails.GenderCode != 'gender.female'}"
                                (click)="ToggleGender('gender.female')">
                                Female
                            </span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom *ngIf="_CustomerDetails.IsNewCustomer">
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Customer Date Of Birth
                        </ion-label>
                        <ion-datetime class="f-s-content input" displayFormat="DD-MM-YYYY"
                            placeholder="Select date of birth" [(ngModel)]="_CustomerDetails.DateOfBirth">
                        </ion-datetime>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Enter Invoice Amount
                        </ion-label>
                        <ion-input class="f-s-content input" placeholder="Enter amount " type="tel" max-length="10"
                            (keyup)="CalculateReward()" (keydown)="CalculateReward()" (onchange)="CalculateReward()"
                            [(ngModel)]="_CustomerDetails.InvoiceAmount">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Enter Cashier code
                        </ion-label>
                        <ion-input class="f-s-content input" placeholder=" (optional) " type="text" max-length="6"
                            [(ngModel)]="_CustomerDetails.CashierCode">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
          -->
            <!-- <div padding-top padding-bottom *ngIf="!_HelperService.IsFormProcessing">
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="ConfirmRedeem()">
                     Customer
                </ion-button>
            </div>
            <div padding-top padding-bottom >
                <ion-button expand="full" disabled readonly color="primary" shape="round" size="medium"
                    class="r-2x f-s-n no-shadow">
                    Please wait...
                </ion-button>
            </div>
            <div padding-top padding-bottom *ngIf="!_HelperService.IsFormProcessing" style="    text-align: center;">
                <button type="button" (click)="ProcessOnline_Cancel()" style="    padding: 8px 10px;
                border-radius: 4px;">
                    Cancel
                </button>
            </div> -->
        </div>
    </div>
</ion-content>
<div class="tuc-footer" *ngIf="RedeemStage == 0">
    <button class="cancel  full-width " (click)="ProcessOnline_Cancel()">
        Close
    </button>
</div>
<div class="tuc-footer" *ngIf="RedeemStage == 1">
    <button class="cancel  " (click)="ProcessOnline_Cancel()">
        Cancel
    </button>
    <button class="approve  " *ngIf="!_HelperService.IsFormProcessing" (click)="InitializeRedeemCheck()">
        Continue
    </button>
    <button class="approve  " *ngIf="_HelperService.IsFormProcessing" disabled>
        Processing
    </button>
</div>
<div class="tuc-footer" *ngIf="RedeemStage == 2">
    <button class="cancel  " (click)="ProcessOnline_Cancel()">
        Cancel
    </button>
    <button class="approve  " *ngIf="!_HelperService.IsFormProcessing" (click)="ConfirmRedeemCheck()">
        Redeem
    </button>
    <button class="approve  " *ngIf="_HelperService.IsFormProcessing" disabled>
        Processing
    </button>
</div>
<div class="tuc-footer" *ngIf="RedeemStage == 3">
    <button class="cancel  full-width " (click)="ProcessOnline_Cancel()">
        Close
    </button>
</div>


<!-- <ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Customer Details
            </span>
        </ion-title>
    </ion-toolbar>
</ion-header> -->
<!-- <ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Redeem Points
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ngOnInit()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<!-- <ion-content class="bg-app">
    
    <div class="container p-t-0">
       
    </div>

</ion-content> -->