
html , body
{
    /* font-family: 'Nunito Sans' !important ; */
    /* --ion-default-font:'Nunito Sans' !important ; */
    /* --font-family:'Nunito Sans' !important ; */
    /* font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif !important; */
    /* --ion-default-font: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI","Roboto","Helvetica Neue",Arial,sans-serif !important; */
}
.ion-content, .bg-app
{ 
    background-color: #303F9F; 
     --background: #303F9F;
     --background-color: #303F9F  !important;
background-color: #303F9F  !important;
}

.app-color
{
    color: #303F9F; --color: #303F9F; 
}


.c-white
{
     --color: #ffffff;
     color: #ffffff;
}
.statusbar-title
{
        font-size: 15px;
    font-weight: 500;
     --color: #ffffff;
     color: #ffffff;
}
.statusbar-title-count
{
        font-size: 14px;
    font-weight: 500;
     --color: #ffffff;
     color: #ffffff;
}
.input-container
{
margin-bottom: 16px !important;
--padding-end: 0px;
--padding-start: 0px;
  --inner-padding-start: 0px;
  --inner-padding-end: 0px;
}

.input
{
 background-color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    padding-left: 8px !important;
    padding: 6px 8px !important;
    font-size: 14px;
    border: 1px solid rgba(43, 44, 129, 0.05);
    margin-bottom: 22px;
    /* box-shadow: 0px 3px 23px rgba(0,0,0,0.1); */
}

.input-label
{
           font-size: 13px !important;
    font-weight: 500;
    color: #36464e;
}

.page-header {
    background-color: #303F9F  !important;
    color:  #ffffff   !important;
  min-height: 110px !important;
  padding-top: 16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 16px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.page-header-title-lg
{
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 6px;
}
.page-header-title-lg-b
{
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    margin-top: 0px;
}



.page-header-lg-img
{
      width: 80px;
    float: left;
    margin-right: 0px;
}
.page-header-details {
    background-color: #303F9F  !important;
    color:  #ffffff   !important;
  min-height: 130px !important;
  padding-top: 16px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  padding-bottom: 16px !important;
  /* white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important; */
}
.page-header-details-title
{
    font-size: 16px;
    margin-bottom: 6px;
    font-weight: 600;
}
.page-header-details-subtitle
{
       font-size: 12px;
    margin-bottom: 6px;
    line-height: 22px;
}
.page-header-details-content
{
    line-height: 22px;
     font-size: 13px;
}

.container
{
       font-size: 13px;
    /* margin: auto; */
    background-color: #F5F6FA;
    border-radius: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding-top: 10px;
    min-height: 500px;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    min-height: calc(100% - 110px);
 
        /* font-size: 13px;
            margin: 0px 8px;    background-color: #ffffff;
                border-radius: 6px;
                    border-top-left-radius: 30px;   
                        border-top-right-radius: 30px; */


}

.container-mini
{
  border-radius: 12px;
    font-size: 13px;
    background-color: #F5F6FA;
    margin: 0px 0px;
    padding-bottom: 64px;
    /* padding: 16px 0px; */
}
/* OLD CSS */
.c-en-b-light
{
color: #4CAF50  !important;
}

.c-en-b-white
{
color: #fff  !important;
} 

.transparent {
    --background: transparent !important;
    --background-color: transparent !important;
        background: transparent !important;
}

.bg-en-b-light ,.toolbar-container
{
--background-color: #4CAF50  !important;
background-color: #4CAF50  !important;
}
.bg-en-b-dark
{
background-color:  #30325B   !important;
--background:  #30325B   !important;
}
.c-en-b-dark
{
color:  #30325B   !important;
}
.bg-en-b-lightgrey
{
background-color:  #f7f7f7   !important;
}

.c-grey
{
color:  #ccc   !important;
}

.f-s-n
{
    font-size: 13px;
}

.gender
{
    color: #080808 ;
        background-color: rgba(18, 8, 79, 0.13);
}
.gender-active
{
    color: #080808 ;
        --background-color: #4CAF50 !important;
    background-color: #4CAF50 !important;
}




.f-s-content
{
    font-size: 13px;
}

.no-shadow
{
    box-shadow: none;
    --box-shadow:none;
}

.p-container
{
       /* background-color: rgba(48, 50, 91, 0.08) !important; */
    color: #30325B !important;
    white-space: nowrap !important;
    /* padding: 15px; */
    text-overflow: ellipsis !important;
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    /* margin-bottom: 15px; */
    overflow-x: auto;
    white-space: nowrap;
        /* height: 200px; */
}
.p-item
{
    width: 30%;
  min-width: 110px;
    float: left;
    /* height: 160px; */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    /* margin-right: 10px; */
            margin: 5px;
    border-radius: 5px;
    border: 2px solid #ccc;
}

.p-title
{
    font-size: 13px;
    font-weight: 900;
    text-align: left;
}

.p-subtitle
{
font-size: 10px;
    font-weight: 900;
    color: #949494;
    text-align: left;
    margin-bottom: 15px;
}
.p-icon
{
text-align: center;
    text-align: center;
    margin-bottom: 10px;
}
.p-icon img
{
    width: 80px;
}

.p-price
{
font-weight: 900;
    color: #30325B !important;
    text-align: center;
    font-size: 13px;
}



        .s-content{
        width: 110px;
    background-color: rgba(255, 255, 255, 0.7);
    float: none;
    margin: 0 0.25%;
    padding: 10px;
    display: inline-block;
    zoom: 1;
    margin-right: 8px;
    border-radius: 6px;
    border: 1px solid #cfd0ff;
        }


    /* New Clases */
    
    .home-widget-card
    {
        border: 1px solid #f1e502;
    box-shadow: none;
    border-radius: 4px;
    background-color: rgba(30, 32, 78, 0.05);
    margin: 0px;
        padding-top: 16px;
    padding-bottom: 16px;
    }
     .home-widget-title
    {
     /* text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: #1e204e;
    font-weight: 600; */
        text-align: center;
    font-size: 11px;

    margin-bottom: 4px;
    margin-top: 6px;
    color: #1e204e;
    font-weight: 600;
    text-transform: capitalize;
    }

    .home-widget-card img
    {
       width: 64px;
           margin-left: auto;
    margin-right: auto;
    }


.icon-content
{
      /* background-color: #d2d2d2; 
     --background: #d2d2d2; */
    
  /* background-color: #f1f5fd; 
     --background: #f1f5fd;  */

         background-color: #e0e0e0;
    --background: #e0e0e0;
}

.white
{
    background: #ffffff;
    --background: #ffffff;
}

.card{
    box-shadow: none;
}

.card ion-card-header
{
         font-weight: 600;
    font-size: 13px;
    margin-bottom: 0px;
    color: #2f3268;
    text-transform: uppercase;
}

.card ion-card-content
{
      padding-left: 6px;
      padding-right :6px;
}

 .home-widget-subtitle
{
          text-align: center;
    font-size: 10px;
    margin-top: 0px;
    color: #4d4f7d;
    font-weight: 600;
}

.offlinemap, .mofflinemapselector
{
        border-top: 1px solid rgb(197, 232, 197);
    width: 100%;
    min-height: 200px;
    height: 200px;
    background-color: rgb(204, 204, 204);
    position: relative;
    margin-top: 10px !important;
}



.header-container
{
    background-color: #f7f7f7; padding: 16px;
}

.header-container-title
{
   font-size: 16px; font-weight: 600;margin-bottom: 6px;
}

.header-container-subtitle
{
    text-transform: lowercase;font-size: 13px;color: #5f5f5f;
}

.timing-active
{
    background-color: #34900e;
    font-size: 12px;
    text-align: center;
    padding: 8px 8px;
    font-weight: 500;
    border-radius: 3px;
    color: #ffffff;
}

.timing-inactive
{
    background-color: #ccc;
    font-size: 12px;
    text-align: center;
    padding: 8px 8px;
    font-weight: 500;
    border-radius: 3px;
}

.en-primary
{
    background-color: #2F325C !important;
    --background-color: #2F325C !important;
}

.en-primary-light
{
    background-color: #575D90 !important;
    --background-color: #575D90 !important;
}


.en-secondary
{
    background-color: #FFF212 !important;
    --background-color: #FFF212 !important;
}

.en-danger
{
    background-color: #FF6663 !important;
    --background-color: #FF6663 !important;
}



.en-text-primary
{
    color: #2F325C !important;
    --color: #2F325C !important;
}

.en-text-primary-light
{
    color: #575D90 !important;
    --color: #575D90 !important;
}


.en-text-secondary
{
    color: #FFF212 !important;
    --color: #FFF212 !important;
}

.en-text-danger
{
    color: #FF6663 !important;
    --color: #FF6663 !important;
}

.input-xl-container
{
        border-radius: 4px;
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #f5f3f3;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #f7f7f7;
}

.input-xl-content-icon
{

   font-size: 30px;
    font-weight: 300;
    padding-left: 16px;
    padding-right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #0A2F56;
    background-color: transparent;
}

.input-xl-content-input
{
            font-weight: 300;
    font-size: 30px;
    color: #0A2F56;
}

.r-2x{
    --border-radius: 6px !important;
    border-radius: 6px !important;
}


.content-title{
        font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #2f315b;
    margin-bottom: 10px;
    padding-bottom: 16px;
}


.menu-item
{
        padding:  0px;
}
.menu-icon
{
font-size: 18px;
      font-size: 20px;
    margin-right: 16px;
        color: #303F9F;
    padding: 4px;
    border-radius: 6px;    background-color: #f9f9f9;
}

.menu-text
{
        font-size: 14px !important;
    font-weight: 500;
    color: #263238 !important;
}

.intro-header-inverse
{
       background-color: #2f3268;
       color: #ffffff;
    padding: 16px;
}
.intro-header-right
{
     float: right;padding-top: 6px;
}
.intro-header-right-currency
{
    font-size: 14px;
}
.intro-header-right-amount
{
    font-size: 26px;
}
.intro-header-title-inverse
{
          text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #ffffff;
}
.intro-header-subtitle-inverse
{
         text-transform: lowercase;
    font-size: 13px;
    color: #ffffff;
}
.intro-header
{
       background-color: rgba(0, 12, 255, 0.04);
    padding: 16px;
    border-bottom: 1px solid rgba(47, 49, 91, 0.15);
    border-top: 1px solid rgba(47, 49, 91, 0.15);
}
.intro-header-title
{
          text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #2c2f61;
}

.intro-header-subtitle
{
         text-transform: lowercase;
    font-size: 13px;
    color: #5f5f5f;
}
.productlist-h
{
           padding: 10px 8px;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #c3c6f9;
    font-size: 13px;
        display: flex;
    /* text-align: center; */
}
.productlist-icon-h
{
        float: left;
    width: 80px;
    margin-right: 16px;
}
.productlist-title-h
{
         font-size: 13px;
    font-weight: 500;
    color: #2c2f61;
    text-transform: capitalize;
    margin-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.productlist
{
           padding: 10px 8px;
    background-color: #f7f7f7;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #c3c6f9;
    font-size: 13px;
    /* text-align: center; */
}
.productlist-icon
{
      margin-bottom: 4px;
}
.productlist-title
{
         font-size: 13px;
    font-weight: 500;
    color: #2c2f61;
    text-transform: capitalize;
    /* text-align: center; */
    margin-bottom: 6px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-primary-lg
{
    padding: 12px 0px;
    font-size: 16px;
    text-align: center;
    width: 100%;
    background-color: #303F9F;
    color: #ffffff;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
}

.text-lg
{
      font-weight: 300;
    font-size: 26px;
    margin-top: 0px;
    text-transform: capitalize;
    padding-top: 0px;
    margin-bottom: 4px;
}


.details-item
{
    margin-bottom: 6px;
}

.details-title
{
    font-size: 13px;
            font-weight: 500;color: #404040;
}



.details-value
{
    font-size: 14px;
            font-weight: 500;color: #404040
}

.details-separator
{
float:right

}


.statusarea
{
       font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: purple;
    padding: 3px 6px;
    border-radius: 4px;
    color: #fff;
}
.yellow
{
background-color: yellow;
}
.orange
{
background-color: orange;
}
.green
{
background-color: green;
}
.red
{
background-color: red;
}

.purple
{
background-color: purple;
}

.teal
{
background-color: teal;
}

.grey
{
background-color: grey;
}

.page-header-lg-icon
{
    background-color: #303F9F;
    font-size: 34px;
    color: #fff;
    border-radius: 100%;
    padding: 8px;
    border: 2px solid #fff;
    margin-top: 10px;
}



.orders-container
{
    background-color: #f7f7f7;
            border-radius: 6px;
            margin-bottom: 16px;
            border: 1px solid #f3f3f3;
            height: 120px;
}
.orders-area-left
{
      float: left;
            width: 60px;
            padding-right: 0px;
            padding: 40px 6px;
            background-color: #ececf5;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            margin-right: 10px;
            height: 118px;
}
.orders-area-left
{
      float: left;
            width: 60px;
            padding-right: 0px;
            padding: 40px 6px;
            background-color: #ececf5;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            margin-right: 10px;
            height: 118px;
}
.orders-area-right
{
    padding: 8px 10px;
            border-radius: 3px;
}
.orders-title
{
   margin-bottom: 8px;
            font-size: 14px;
            font-weight: 500;
}
.orders-title-mini
{
   font-size: 10px;color: #777777;font-weight: 500;
}

.float-right
{
float: right;
}
.orders-price
{
   font-weight: bold;margin-bottom: 8px;font-size: 16px;
}

.orders-date
{
       font-weight: 500;
            margin-bottom: 12px;
            font-size: 11px;
            color: #777777;
}

.orders-status
{
        float: right;
            font-weight: 600;font-size: 10px;
            /* color: orangered; */
            text-transform: uppercase;
}

.orders-status-title
{
  font-size: 9px;
            text-align: center;
            font-weight: 500; color: #777777;
            margin-top: 8px;
            margin-bottom: 8px;
            text-transform: uppercase;
}


.float-right{
    float: right;
}
.tuc-card-i
{
       margin: 12px 16px;
    border-radius: 12px;
    padding: 0px;
    box-shadow: 0px 0px 16px 4px #0000001a;
    background-color: #ffffff;
        /* background-color: #e3e4ff; */
}
.tuc-card-i-icon
{ 
     margin: 0px;
    padding: 34px 20px;
    background-color: #f9f9f9;
    font-size: 37px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #303F9F;
        float: left;
}
.tuc-card-i-green
{
background-color: #dcfded;   
}
.tuc-card-i-icon-green
{
background-color: #dcfded;    color: #018e4a;
}

.tuc-card-i-content
{
    padding: 16px;
    margin-left: 80px;
    background-color: #ffffff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.tuc-card-i-header
{
margin-bottom: 8px;color: #303F9F;    font-weight: 600;    font-size: 14px;
}
.tuc-card-i-number
{
    font-size: 22px;
    font-weight: 500;
    color: #3a3a3a;
}
.tuc-card-i-number-currency
{
    font-size: 14px;
    font-weight: 600;
}

.tuc-card-i-footer
{
       margin-top: 4px;
       font-size: 12px;
    color: #3a3a3a;
}


.tuc-card
{
    margin: 16px 16px;
    border-radius: 8px;
    padding: 14px 16px;
    box-shadow: 0px 4px 6px 0 #33282810;
    background-color: #ffffff;
}
.tuc-card-header
{
font-weight: 600;
    font-size: 13px;
    margin-bottom: 12px;
}

 
.tuc-card-header-icon
{
       font-size: 20px;
    float: left;
    margin-right: 8px;
    margin-top: -2px;
}

.tuc-card-body
{
    font-size: 13px;
    color: #272727;
}

.text-md-currency
{
    font-size: 16px;
    font-weight: 600;
}

.text-md
{
        font-size: 18px;
    font-weight: 500;
        color: #3a3a3a;
}

.text-sm
{
      font-weight: 500;
    /* margin-top: 8px; */
    font-size: 12px;
    color: #4c4c4c;
}

.tuc-subtitle
{
    padding: 16px 16px 0px;
    font-size: 15px;
    font-weight: 600;
    color: #303F9F;
}


.text-primary 
{
    color: #303F9F;
}
.text-white
{
color: #eeeef9;
}
.home-ql
{
/* background-color: #eeeef9; */
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.home-ql-margin-b
{
margin-bottom: 8px;
}

.home-ql-item
{
             padding-top: 16px;
    padding-bottom: 16px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 0px 16px 4px #0000001a;
}

.home-ql-icon
{
       font-size: 20px;
    color: #303F9F;
}
.home-ql-number
{
       font-size: 16px;
    color: #303F9F;
    font-weight: 500;
}
.home-ql-text
{
        font-size: 11px;
    font-weight: 500;
    margin-top: 4px;
    color: #303F9F;
}

/* .text-cashier
{
    color: blue;
} */

/* .text-terminal, .text-orange
{
     color: orange;
} */
.text-orange
{
     color: orange;
}
/* 
.text-store
{
       color: red;
} */



.terminalstatus
{
       font-weight: 900;
    font-size: 8px;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 0px 4px;
    line-height: initial;
    color: #fff;
}

.terminal-active
{
    border: 1px solid #008c48;
    background-color: #008c48;
}

.terminal-idle
{
    border: 1px solid #ff5722;
    background-color: #ff5722;
}
.terminal-dead
{
    border: 1px solid #e9223f;
    background-color: #e9223f;
}

.terminal-unused
{
    border: 1px solid #607d8b;
    background-color: #607d8b;
}

.container-start-row
{
       margin-left: 10px;
    margin-right: 10px;
}
.text-success, .text-green
{
    color:#008c48;
}
.text-danger
{
    color:#e9223f;
}

.p-t-0
{
    padding-top : 0px;
}

.search-box
{
    width: calc(100% - 32px);
    margin: 16px 16px;
    background-color: #ffffff;
    padding: 16px 16px;
    text-decoration: none;
    color: #353535;
    font-size: 14px;
    border-radius: 12px;
    font-weight: 400;
    border: 1px solid #f6eeff;
}

.no-margin
{
    margin : 0px;
}

.refreshbtn
{
    color: #ffffff;
    border: 1px solid #bec0e4;
    border-radius: 100%;
    font-size: 16px;
    padding: 4px;
}

.float-right , .pull-right
{
    float: right;
}

.modal-wrapper
{   
     background: #303F9F;
     --background: #303F9F;
}

.line-height
{
    line-height: 26px;
}

.card-item-left
{
    font-weight: normal;

}
.card-item-right
{
    font-weight: 600;
    float: right;    color: #2f2f2f;
}


.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper .scrolling-item
{
    display: inline-block;
    width: 85%;
    margin-right: 0px;
}
.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

/* .ion-page
{
        overflow: scroll;
    background-color: #fff;
} */


.db-logo
{
       float: right;
    width: 42px;
    height: 42px;
    border-radius: 12px;
    border: 2px solid #eddbff;
    box-shadow: 0px 0px 16px 4px #0000001a;
}
.db-currency
{
font-size: 20px;
}
.db-container
{
    padding-bottom: 30px;
}
.db-mcount-container
{
    padding-bottom: 30px;
}
.db-mcount
{
font-weight: 500;
    font-size: 26px;
    text-align: left;
    margin-top: 0px;
}
.db-mcount-title {
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.80);
}

.db-msubcount
{
font-weight: 500;
    font-size: 18px;
    text-align: left;
    margin-top: 0px;
}
.db-msubcount-title {
    font-weight: 600;
    font-size: 12px;
    text-align: left;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.80);
}



.db-subtitle
{
    font-weight: 600;
    font-size: 13px;
    text-align: left;
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.80);
}


.f-s-22
{
    font-size: 22px;
}

.bg-active 
{
    background-color: green !important;
    color: #ffffff !important;
    font-weight: 900 !important;
}
.progressbar
{
    position: fixed;
    z-index: 1024;
    background: transparent;
    top: 0;
    width: 100%;;
}

.otime
{
    padding: 7px 8px;
    border: 1px solid #2b2d80;
    color: #2b2d80;
    margin-right: 8px;
    border-radius: 100%;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 6px;
}
.otimeactive
{
    background: #2b2d80;
    
    padding: 7px 8px;
    border: 1px solid #2b2d80;
    color: #ffffff;
    margin-right: 6px;
    border-radius: 100%;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 6px;
}

.bg-success, .bg-green
{
    background-color:#008c48 !important;
}
.bg-danger2
{
    background-color:#ac172e !important;
}
.bg-danger3
{
    background-color:#6d1825 !important;
}
.bg-danger
{
    background-color:#e9223f !important;
}