


/*Modal Footer */

.tuc-footer
{
    background-color: #ffffff;
    border-top: 1px solid #f7f7f7;
    padding: 8px 2% 16px 2%;
}

.tuc-footer .cancel
{
    padding: 14px 8px;
    width: 30%;
    font-size: 14px;
    color: #86888f;
    border-radius: 4px;
    margin-right: 2%;
    border: 1px solid #86888f;
    background-color: #ffffff;
}

.tuc-footer .approve
{
    padding: 14px 8px;
    width: 68%;
    font-size: 14px;
    color: #ffffff;
    background-color: #303F9F;
    border-radius: 4px;
    border: 1px solid #303F9F;
}

.bg-red
{
    background-color: #e9223f !important;
}

.full-width
{
    width: 100% !important;
}


.input
{
    background-color: #fff;
    margin-top: 8px;
    border-radius: 6px;
    padding: 8px 12px !important;
    font-size: 14px;
    margin-bottom: 16px;
    box-shadow: none;
    border: 1px solid #C2CCD9;
    color: #32353E;
}  
 .input-label {
    font-size: 13px !important;
    color: #36464e;
    font-weight: 400;
}

.input-lg
{
  background-color: transparent;
    margin-top: 16px;
    border-radius: 8px;
    padding: 0px 0px !important;
    font-size: 54px;
    margin-bottom: 16px;
    box-shadow: none;
    border: none;
    color: #32353E;
    font-weight: 400;
}

.btn-primary {
    padding: 16px 0px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    background-color: #303F9F;
    color: #ffffff;
    font-weight: 500;
    border-radius: 8px;
    text-transform: uppercase;
}

.btn-primary-inverse
{
    padding: 16px 0px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    background-color: #ffffff;
    color: #303F9F;
    font-weight: 500;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid #303F9F;
}
.btn-light
{
  text-align: center;
  padding: 16px 16px;
  border: 1px solid #efefef;
  border-radius: 3px;
  margin-top: 16px;
  margin-bottom: 32px;
}
.p-b
{
    padding-bottom: 16px;
}

.box
{
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 16px;
}

.box-header
{
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 16px;
    color: #32353E;
}
.box-body
{
  
}
.box-body-item
{
    padding-bottom: 12px;
}
.box-body-item-left
{
    color: #9e9e9e;
    font-size: 12px;
}

.box-body-item-left i{
    font-size:16px
}
.box-body-item-right
{
    float: right;
    font-size: 13px;
    color: #32353E;
}



.text-justify
{
    text-align: justify;
}


.item-list
{
    padding:  16px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px 0px #33282810 ;
    margin-bottom: 16px;
}
.item-list-active
{
    padding:  16px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px 0px #33282810 ;
    margin-bottom: 16px;
    font-weight: 500;
    color : #303F9F !important;
}

.item-list-title
{
    font-weight: 500;
    font-size: 13px;
    padding-bottom: 8px;
    color: #36464e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-list-subtitle {
    color: #5c5c5c;
    font-size: 12px;
    padding-bottom: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-list-amount
{
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 6px;
}
.item-list-substatus
{
  font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    
}
.item-list-status
{
  font-weight: 500;
  font-size: 11px;
  text-transform: lowercase;
}
.p-0
{
  padding: 0px !important;
}
.container-p-b
{
  padding-bottom: 80px !important;
}
.item-list-mini
{
    
    margin-bottom: 16px;
    padding: 16px;
    border: 1px solid #efefef;
    border-radius: 8px;
}

.item-list-mini-title
{
    color: #5f5d5d;
    font-size: 12px;
    font-weight: 500;
}

.item-list-mini-active
{
    color: #303F9F;
    font-size: 12px;
    font-weight: 500;
}

.searchbar
{
    border: 1px solid #86888f;
    margin-bottom: 16px;
    border-radius: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 46px;
}

.searchbar input
{
    background: none !important;
    font-size: 14px !important;
}


.nolist-title
{
    font-size: 24px;
    color: #9e9e9e;
    margin-bottom: 8px;
    font-weight: 300;

}


.nolist-subtitle
{
    font-size: 16px;
    color: #9e9e9e;
    margin-bottom: 8px;
    font-weight: 300;
}

.nolist-icon-item ion-icon
{
    background-color: #ffffff;
    font-size: 34px;
    color: #9e9e9e;
    border-radius: 100%;
    padding: 14px;
    border: 3px solid #9e9e9e;
    margin-top: 10px;
    margin-bottom: 20px;
}
.nolist-icon-item i
{
       background-color: #ffffff;
    font-size: 34px;
    color: #9e9e9e;
    border-radius: 100%;
    padding: 14px;
    border: 3px solid #9e9e9e;
    margin-top: 10px;
    margin-bottom: 20px;
}



.nolist-item
{
    margin: 10% 8%;
}



.nolist-content
{
font-size: 14px;
    color: #7b7b7b;
    margin-bottom: 8px;
}


.loading-wrapper
{
    border-radius: 4px !important;
    padding-top: 16px  !important;
    padding-bottom: 16px  !important;
}

.loading-wrapper .loading-content
{
    font-weight: 400 !important;
}

.text-primary
{
  color: #303F9F;
}
.text-secondary
{
  color: #32353E;
}


.text-success, .text-green
{
    color:#008c48;
}
.text-danger
{
    color:#e9223f;
}
.text-warning
{
  color: #ff5722;
}
.bg-primary
{
    background-color:#303F9F !important;
}
.bg-success, .bg-green
{
    background-color:#008c48 !important;
}

.bg-danger
{
    background-color:#e9223f !important;
}
.bg-warning
{
    background-color:#ff5722 !important;
}
.float-right , .pull-right
{
    float: right;
}

.currency
{
    font-size: 10px;
    font-weight: 600;
    padding-right: 2px;
}

.inv
{
  border: 1px dotted #c7c7c7;
  border-radius: 4px;
  margin-top: 16px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #fbfbfb;
}

.inv-header
{
  font-weight: 500;
  font-size: 13px;
  padding-bottom: 24px;
  color: #32353E;
}
.inv-body
{
 
}
.inv-body-item
{
  padding-bottom: 16px;
}
.inv-body-item-left
{
  color: #9e9e9e;
  font-size: 12px;
}
.inv-body-item-right
{
  float: right;
  font-size: 13px;
  color: #32353E;
}
.inv-body-item-prime
{
  border-top: 1px dotted #a2a4ab !important;
  padding-top: 16px !important;
  border-bottom: 1px dotted #a2a4ab !important;
  font-weight: 700 !important;
  color: #32353E;
  padding-bottom: 16px;
  margin-bottom: 24px;
}


.text-center
{
  text-align: center !important;
}

ion-toolbar {
  --border-style: none;
}




.gender
{
    color: #000000 ;
    padding: 8px 16px;
                border-radius: 16px;
                margin-right: 8px;
                text-align: center;
                border: 2px solid #f6f6f6;
}
.gender-active
{
    padding: 8px 16px;
                border-radius: 16px;
                margin-right: 8px;
                text-align: center;
    color: #303F9F ;
    font-weight: 500;
    border: 2px solid #303F9F;
}


.tpay
{
  width: 50%;
 float: left;
  text-align: center;   
   padding-top: 8px;
    padding-bottom: 8px;
}

.tpay-active
{
  width: 50%;
            float: left;
            text-align: center;    padding-top: 8px;
    padding-bottom: 8px;
  border-radius: 8px;
  background-color: #ffffff;
}




.footer-container
{
    position: absolute !important;
    bottom: 0 !important;
    z-index: 1 !important;
    width: 100% !important;
    background-color: #ffffff !important;
    border-radius: 16px !important;
    color: #7987A1 !important;
    padding-bottom: 14px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    box-shadow: 0px -6px 6px 0px #33282810 !important;
}

.footer-item
{
        padding-top: 12px;
    padding-bottom: 8px;
    text-align: center;
    float: left;
    width: 20%;
}

.footer-item-icon
{
    font-size: 20px;
}
.footer-item-text
{
      font-size: 11px;
    font-weight: 500;
}







.item-title
{
       font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            color: #2f315b;
            margin-bottom: 10px;
}

.card-deal-space
{
    margin-bottom: 8px;
}

.card-deal
{
    margin: 0px 16px 16px 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px 0px #33282810 ;
    background-color: #ffffff;
    transition-duration: 0.6s;
}
.card-deal i{
    margin-right: 4px;
}
.card-deal-image
{
    height: 120px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.card-deal-image-overlay
{
    width: 100%;
    height: 120px;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
}
.card-deal-sale
{
    display: inline-block;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    top: 0;
    padding-left: 16px;
    padding-top: 8px;
}
.card-deal-sale .totalview
{
    padding-right: 16px;
}
.card-deal-amounts
{
    display: inline-block;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 16px;
    padding-bottom: 8px;
}
.card-deal-amounts .sellingprice
{
    font-size: 20px;
    font-weight: 500;
    margin-right: 4px;
}
.card-deal-amounts .actualprice
{
    display: inline-flex;
    text-decoration: line-through; 
}
.card-deal-body
{
    padding: 16px;
}
.card-deal-title
{
    color: #1B2E4B;
font-weight: 600;
line-height: 22px;
    font-size: 14px;
     white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-deal-shedule
{
    color: #7987A1;
    font-size: 12px;
}


.item-title
{
       font-size: 12px;
            text-transform: uppercase;
            font-weight: 600;
            color: #2f315b;
            margin-bottom: 10px;
}


 


.list-item-title
{
    color: #32353E;
font-weight: 600;
    line-height: 22px;
    font-size: 14px;
     white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-item-title-icon
{
        width: 20px;
    margin-right: 8px;
    float: left;
    border-radius: 4px;
    border: 1px solid #a97cd6;
}
.list-item-subtitle
{
   font-size: 12px;
    color: #4a4a4a;
     white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  line-height: 24px;
}
.list-item-content
{
      font-size: 11px;
    color: #7987A1;
    line-height: 20px;
     white-space: nowrap;
     font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-item-cardicon
{
    width: 32px;
}

.list-amounttype
{
        font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: green;
    color: #fff;
    padding: 2px 2px;
    border-radius: 3px;
}
.list-amounttypecard
{
        font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #303F9F;
    color: #fff;
    padding: 2px 2px;
    border-radius: 3px;
}

.nolist-item
{
    margin: 10% 8%;
}
.nolist-icon-item ion-icon
{
       background-color: #ffffff;
    font-size: 34px;
    color: #aaaaf3;
    border-radius: 100%;
    padding: 14px;
    border: 3px solid #aaaaf3;
    margin-top: 10px;
    margin-bottom: 20px;
}

.nolist-title
{
font-size: 30px;
    color: #cbcbf1;
    margin-bottom: 8px;

}

.nolist-subtitle
{
font-size: 20px;
    color: #cbcbf1;
    margin-bottom: 8px;
}

.nolist-content
{
font-size: 14px;
    color: #7b7b7b;
    margin-bottom: 8px;
}

 
 
.list-item
{
    padding: 14px 16px;
    margin: 0px 16px 16px 16px;
    border-radius: 8px;
    background-color: #ffffff;
    transition-duration: 0.6s;
    box-shadow: 0px 4px 6px 0px #33282810;
}

.list-item i
{
   padding-right: 4px;
}
.list-item .bar
{
   padding-right: 4px;
   padding-left: 4px;
}

.list-item-title-icon
{
        width: 20px;
    margin-right: 8px;
    float: left;
    border-radius: 4px;
    border: 1px solid #a97cd6;
}


.list-amount-currency
{
    font-size: 12px;
    font-weight: 600;
    padding-right: 2px;
}
.list-amount
{
    font-size: 16px;
    font-weight: 600;
}
.list-item .status
{
    font-size: 11px;
    margin-top: 4px;
}
.list-item .invoiceamount
{
    font-size: 11px;
    margin-top: 4px;
    color: #7987A1;
}


.list-item-cardicon
{
    width: 32px;
}

.list-amounttype
{
        font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: green;
    color: #fff;
    padding: 2px 2px;
    border-radius: 3px;
}
.list-amounttypecard
{
        font-size: 9px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #303F9F;
    color: #fff;
    padding: 2px 2px;
    border-radius: 3px;
}

.tab-container-inv
{
       padding: 0px;
    list-style: none;
    background: #ffffff59;
    display: inline-block;
    /* border-radius: 8px; */
    position: relative;
    font-weight: 400;
    font-size: 13px; 
    overflow-x: auto;
     white-space: nowrap;
     width: 100%;
     margin: 16px;
}

.tab-container-inv .tab-item
{
    text-decoration: none;
    color: #303f9e;
    padding: 12px 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
        border-radius: 8px;
    text-align: center;
    min-width: 22%;
}

.tab-container-inv .tab-item-active
{
    text-decoration: none;
    color: #303f9e;
   background-color: #ffffff;
    padding: 12px 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
        border-radius: 8px;
    text-align: center;
    min-width: 22%;
}



.tab-container
{
       padding: 0px;
    list-style: none;
    background: #f9f9f9;
    background: rgb(48 63 158 / 20%);
    box-shadow: 0px 4px 6px 0px #33282810;
    display: inline-block;
    border-radius: 8px;
    position: relative;
    font-weight: 400;
    font-size: 13px;
    overflow-x: auto;
     white-space: nowrap;
     width: calc(100% - 32px);
}

.tab-item
{
        text-decoration: none;
    color: #303f9e;
    padding: 12px 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
        border-radius: 8px;
    text-align: center;
    min-width: 22%;
}

.tab-item-fluid
{
    width: auto;
}

.tab-item-active
{
        text-decoration: none;
    color: #ffffff;
    padding: 12px 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
    border-radius: 8px;  
      background-color: #303F9F;
       font-weight: 500;
       min-width: 20%;

}

.tab-item-i3
{
    width: 33.33%;
    min-width: 33.33%
}
.tab-item-i4
{
    width: 25%;
    min-width: 25%
}



.tab-container-dt
{
       padding: 0px;
    list-style: none;
    background: #f9f9f9;
    background: rgb(48 63 158 / 20%);
    box-shadow: 0px 4px 6px 0px #33282810;
    display: inline-block;
    border-radius: 12px;
    position: relative;
    margin: 16px;
    font-weight: 400;
    font-size: 12px;
    width: calc( 100% - 32px );
    overflow-x: auto;
     white-space: nowrap;
}

.tab-item-dt
{
        text-decoration: none;
    color: #303f9e;
    padding: 12px 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
        border-radius: 12px;
    text-align: center;
    min-width: 20%;
}



.tab-item-dt-active
{
        text-decoration: none;
    color: #ffffff;
    padding: 12px 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
    border-radius: 12px;    background-color: #303F9F;
       font-weight: 500;
       min-width: 20%;

}

.text-right
{
    text-align: right;
}

.dt-item
{
    float: right;
    font-size: 12px;
    font-weight: 500;
    background-color: rgb(255 255 255 / 20%);
    padding: 6px 14px;
    border-radius: 12px;
}



.tucmodal-backdrop
{
  position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #13182c;
    opacity: .5;
}

.tucmodal
{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #303f9f4d;

}.tucmodal-container
{
  position: fixed !important;
  bottom: 0 !important;
  z-index: 1 !important;
  width: 100% !important;
  background-color: #ffffff !important;
  color: #7987A1 !important;
  padding-bottom: 14px !important;
  box-shadow: 0px 0px 14px rgb(0 ,0 ,0 , 10%)!important;
  min-height: 10%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  max-height: 90%;
  overflow: auto;
}
.tucmodal-header
{
  padding: 20px 20px;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.tucmodal-header-title
{
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 6px;
  color: #32353E;
}
.tucmodal-header-subtitle
{
  font-size: 12px;
}
.tucmodal-content
{
  padding: 16px 20px;
  padding-bottom: 60px;
  max-height: 80%;
  overflow: auto;    padding-top: 90px;
}
.tucmodal-footer
{
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid #f7f7f7;
  padding: 12px 20px;
  padding-top: 8px;
  background-color: #ffffff;
  box-shadow: 0px 0px 14px rgb(0 ,0 ,0 , 0.1)!important;
}
.tucmodal-footer ion-row
{
 margin : 0px;
}
.tucmodal-footer ion-row ion-col
{
  padding-top: 0px;
  padding-bottom: 0px;
}
.tucmodal-footer-button
{
  padding: 12px 16px;
  width: 100%;
    font-weight: 500;
    font-size: 14px;
    color: #ffffff;
    background-color: #303F9F;
  border-color: #303F9F;
  border-radius: 4px;
}
.tucmodal-footer-button-cancel
{
  font-weight: normal;
  color: #212529;
  background-color: #f5f5f6;
  border-color: #f5f5f6;
}


.date-pill
{
    font-size: 12px;
    /* font-weight: 500; */
    border: 1px solid #313e9e;
    background-color: #fbfbff;
    color: #303fa0;
    padding: 8px 12px;
    border-radius: 8px;
    margin-right: 12px;
    margin-bottom: 8px;
}
.date-pill-active
{
    font-size: 12px;
    font-weight: 500;
    border: 1px solid #313e9e;
    background-color: #fbfbff;
    color: #303fa0;
    padding: 8px 12px;
    border-radius: 8px;
    margin-right: 12px;
    margin-bottom: 8px;
    background-color: #303fa0;
    color: #ffffff;
}


.slide-card
{
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px 0px #33282810;
    background-color: #ffffff;
    width: 100%;
    font-size: 13px;
    text-align: left;
    padding: 14px 16px;
}

.slide-card .header
{
    margin-bottom: 16px;
}
.slide-card .header .title
{
    color: #303F9F;
    font-size: 14px;
    font-weight: 500;
    margin-top: 6px;
    position: absolute;
}
.slide-card .header .icon
{
    background-color: #313e9e26;
    border-radius: 4px;
    margin-right: 8px;
    padding: 6px;
    width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: middle;
    color: #303fa0;
}
.slide-card .header .icon i
{
    font-size: 16px;
    vertical-align: middle;
}

.slide-card .body
{

}
.slide-card .body .title
{
    color : #32353E;
    font-size: 20px;
    margin-bottom: 4px;
    font-weight: 500;
}

.slide-card .body .subtitle
{
    color: #7987A1;
    font-size: 12px;
}









.ana-card
{
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 12px;
    box-shadow: 0px 4px 6px 0px #33282810;
    background-color: #ffffff;
    font-size: 13px;
    text-align: left;
    padding: 14px 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.ana-card .header
{
    margin-bottom: 16px;
}
.ana-card .header .title
{
    color: #303F9F;
    font-size: 14px;
    font-weight: 500;
    margin-top: 6px;
}
.ana-card .header .icon
{
    background-color: #313e9e26;
    border-radius: 4px;
    margin-right: 8px;
    padding: 6px;
    width: 34px;
    height: 34px;
    text-align: center;
    vertical-align: middle;
    color: #303fa0;
    float: right;
}
.ana-card .header .icon i
{
    font-size: 20px;
    vertical-align: middle;
}

.ana-card .body
{

}
.ana-card .body .title
{
    color : #32353E;
    font-size: 20px;
    margin-bottom: 4px;
    font-weight: 500;
}

.ana-card .body .subtitle
{
    color: #7987A1;
    font-size: 12px;
    margin-bottom: 16px;
}




.anaslide-card
{
    margin-bottom: 0px;
    width: 100%;
    font-size: 13px;
    text-align: left;
    padding: 0px 0px;
    border-right: 1px solid #ccc;
    margin-top: 0px;
    margin-right: 24px;
}

.anaslide-card .header
{
    margin-bottom: 0px;
}
.anaslide-card .header .title
{
    color: #7d8ca4;
    font-size: 12px;
    margin-top: 0px;
    position: unset;
    margin-bottom: 4px;
    font-weight: normal;
}
.anaslide-card .header .icon
{
    background-color: #313e9e26;
    border-radius: 4px;
    margin-right: 8px;
    padding: 6px;
    width: 26px;
    height: 26px;
    text-align: center;
    vertical-align: middle;
    color: #303fa0;
}
.anaslide-card .header .icon i
{
    font-size: 16px;
    vertical-align: middle;
}

.anaslide-card .body
{

}
.anaslide-card .body .title
{
    color : 32353E;
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: 500;
}

.anaslide-card .header .subtitle
{
    color: #7987A1;
    font-size: 11px;
    margin-bottom: 0px;
    font-weight: 500;
}

.no-border
{
    border: none !important;
}




.tab-chip
{
    display: inline-block;
    position: relative;
    font-size: 13px;
    overflow-x: auto;
    white-space: nowrap;


    list-style: none;
    display: inline-block;
    position: relative;
    overflow-x: auto;
     white-space: nowrap;
     width: calc(100% - 32px);margin-left: 16px;
}

.tab-chip-item
{
    text-decoration: none;
    color: #303f9e;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
    border-radius: 16px;
    text-align: center;
    border: 1px solid rgb(48 63 158 / 35%);
    margin-right: 12px;
    font-size: 12px;

}
.tab-chip-item .tab-chip-item-title
{
    padding: 4px 8px;
}

.tab-chip-item .tab-chip-item-count
{
    text-decoration: none;
    color: #303f9e;
    padding: 4px 8px;
    margin: 4px;
    transition-duration: 0.6s;
    border-radius: 16px;
    text-align: center;
    font-size: 12px;
    background-color: #cdd3e8;

}

 

.tab-chip-item-active
{
    background-color: #303f9fe8;
    font-weight: 500;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
    border-radius: 16px;
    border: 1px solid rgb(48 63 158 / 35%);
    margin-right: 12px;
    font-size: 12px;

}

.tab-chip-item-active .tab-chip-item-title
{
    padding: 4px 8px;
}

.tab-chip-item-active .tab-chip-item-count
{
    text-decoration: none;
    color: #303f9e;
    padding: 4px 8px;
    margin: 4px;
    transition-duration: 0.6s;
    border-radius: 16px;
    text-align: center;
    font-size: 12px;
    background-color: #cdd3e8;

}





.cardpurchase-deal-space
{
    margin-bottom: 8px;
}

.cardpurchase-deal
{
    margin: 0px 16px 16px 16px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px 0px #33282810 ;
    background-color: #ffffff;
    transition-duration: 0.6s;
}
.cardpurchase-deal i{
    margin-right: 4px;
}
.cardpurchase-deal-image
{
    height: 80px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.cardpurchase-deal-image-overlay
{
    width: 100%;
    height: 80px;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 8px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    position: relative;
}
.cardpurchase-deal-sale
{
    display: inline-block;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    top: 0;
    padding-left: 16px;
    padding-top: 8px;
}
.cardpurchase-deal-sale .totalview
{
    padding-right: 16px;
}
.cardpurchase-deal-amounts
{
    display: inline-block;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 16px;
    padding-bottom: 8px;
}
.cardpurchase-deal-amounts .sellingprice
{
    font-size: 20px;
    font-weight: 500;
    margin-right: 4px;
}

.cardpurchase-deal-shedule-start
{    padding-right: 8px;

}
.cardpurchase-deal-shedule-end
{
    color: red;    float: right;
}
.cardpurchase-deal-body
{
    padding: 16px;
}
.cardpurchase-deal-title
{
    color: #ffffff;
    font-weight: 600;
    line-height: 22px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 8px;
}
.cardpurchase-deal-shedule
{
    color: #7987A1;
    font-size: 11px;
    font-weight: 500;
}

.cardpurchase-deal-customer
{
margin-bottom: 16px;
}

.cardpurchase-deal-customer-img
{
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    border: 2px solid #303fa0a1;
    margin-right: 16px;
}

.cardpurchase-deal-customer-profile
{

}
.cardpurchase-deal-customer-name
{
    font-weight: 500;
    margin-bottom: 4px;
    font-size: 14px;
}

.cardpurchase-deal-customer-mobile
{
    font-size: 12px;
}

.status-success
{
    color: #008c48;
    background-color: rgb(0 140 72 / 20%);
    padding: 2px 6px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 500;
    text-transform: lowercase;
}
.status-warning
{
    color: #ffa500;
    background-color: rgb(221 145 6 / 20%);
    padding: 2px 6px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 500;
    text-transform: lowercase;
}
.status-error
{
    color: #e9223f;
    background-color: rgb(233 34 63 / 20%);
    padding: 2px 6px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 500;
    text-transform: lowercase;
}
.status-unknown
{
    color: black;
    background-color: rgb(0 0 0 / 20%);
    padding: 2px 6px;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 500;
    text-transform: lowercase;
}

.cardpurchase-deal-usedetails
{
    padding: 8px;
    background: #f5f6fa;
    border-radius: 8px;
    margin-top: 12px;
}
.cardpurchase-deal-shedule-use
{
    color: #008c48;
    float: right;
    font-size: 11px;
    font-weight: 500;
}

.cardpurchase-deal-shedule-usetitle
{
    font-size: 13px;
    margin-bottom: 4px;
}
.cardpurchase-deal-shedule-source
{

}

.cardpurchase-deal-shedule-use
{

}

.cardpurchase-deal-shedule-source
{
    padding-right: 8px;
    font-size: 11px;
    font-weight: 500;
}
.cardpurchase-deal-shedule-loc
{
    color: #7d8ca4;
    font-size: 12px;
}


.homeop
{
    padding: 12px 8px;
    background-color: rgb(48 63 160 / 10%);
    text-align: center;
    border-radius: 16px;
    margin-top: 0px;
    color: #303fa0;
    font-weight: 600;
    font-size: 11px;
}

.homeop-icon
{
    font-size: 28px;
    color: #303F9F;
}
.homeop-container
{
    margin-left: 16px;
    margin-right: 16px;
}


.bg-white
{
    background-color: #ffffff;
}