


 /* Theme Colors - Start  */
 .app
 {
     background-color:linear-gradient(180deg, rgba(48,63,159,1) 0%, rgba(24,32,80,1) 15%, rgba(26,34,86,1) 40%, rgba(245,246,250,1) 40%);
     --ion-background-color:linear-gradient(180deg, rgba(48,63,159,1) 0%, rgba(24,32,80,1) 15%, rgba(26,34,86,1) 40%, rgba(245,246,250,1) 40%);
 background: #303F9F; 
 --color: #32353E;
 color: #32353E;
 }

 .app-white
 {
    background-color:linear-gradient(180deg, rgba(48,63,159,1) 0%, rgba(24,32,80,1) 15%, rgba(26,34,86,1) 40%, rgba(255,255,255,1) 40%);
    --ion-background-color:linear-gradient(180deg, rgba(48,63,159,1) 0%, rgba(24,32,80,1) 15%, rgba(26,34,86,1) 40%, rgba(255,255,255,1) 40%);
 }

 .app-titlebar
{
    --ion-background-color: #303F9F;
    --background-color: #303F9F;
    --background: #303F9F;
        --color: #ffffff;
        color: #ffffff;
}
 .app-titlebar-button
{
        color: #ffffff;
        --color: #ffffff;
}
.app-body{
    background-color: #F5F6FA;
  }
  .app-body-white{
    background-color: #ffffff;
  }
 /* Theme Colors - End  */
 .app-titlebar
 {
         font-size: 15px;
         font-weight: 500;
 }
 .app-titlebar-button
 {
         margin-left: 8px;
         text-transform: capitalize;
 }
.app-titlebar  .title
{
  padding-left: 20px;
  padding-right: 20px;
   width: 100%;
}
.app-titlebar ion-title .title
{
  padding-left: inherit;
  padding-right: inherit;
   width: 100%;
}
.app-header{
min-height: 100px;
font-size: 13px;
width: 100%;
}
.app-header-content{
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    }
    .app-header-logo{
      width: 100px;
      margin-left: 20px;
      }
.app-body{
  min-height: 68%;
  font-size: 13px;
  border-radius: 0px;
  padding-bottom: 80px;
  box-shadow: 0px -14px 14px rgb(0 ,0 ,0 , 0.10);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding-top: 16px;
  /* padding-left: 20px; */
  /* padding-right: 20px; */
  width: 100%;
}




/* Common */
.app-header {
    color: #ffffff;
}
.app-header-title {
      text-align: left;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding-bottom: 6px;
    font-size: 18px;
    color: #ffffff;
}
.app-header-subtitle {
    font-weight: 400;
    font-size: 13px;
    color: rgb(255 ,255 ,255 , 0.8);
}

.app-header-img
{
  float: right;
}
.app-header-img i
{
  font-size: 3rem;
  color: rgb(255 255 255 / 42%);
  padding: 8px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  top: 0px;
  margin-top: 8px;
}

.app-header-subtitle-modal {
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  color: #ffffff;
  margin-bottom: 16px;
}
.app-header-title-modal {
  text-align: center;
  padding-bottom: 4px; 
  font-size: 38px;
  font-weight: 400;
  color: #ffffff;
  margin-top: 0px;
}
.app-header-icon {
  color: rgb(255 255 255 / 38%);
  font-size: 60px;
  float: right;
  position: absolute;
  right: 20px;
  margin-top: -8px;
}
.app-header-status {
  font-size: 14px;
margin-right: 20px;
float: right;
}
.app-header-title-modal-currency
{
  font-size: 24px;

}


.app-tabmenu
{
    padding: 0px;
    list-style: none;
    background: rgb(48 63 158 / 15%);
    /* box-shadow: 0px 4px 6px 0px #33282810; */
    display: inline-block;
    border-radius: 16px;
    position: relative;
    font-weight: 400;
    font-size: 13px;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.app-tabmenu-item
{
    text-decoration: none;
    color: #303f9e;
    padding: 8px 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
    border-radius: 8px;
    text-align: center;
    min-width: 22%;
}
.app-tabmenu-item-active
{
    text-decoration: none;
    color: #ffffff;
    padding: 8px 16px;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition-duration: 0.6s;
    border-radius: 16px;
    background-color: #303F9F;
    font-weight: 500;
    min-width: 20%;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: 6px;
    margin-right: 6px;
}