<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Terminals
                <span class="statusbar-title-count">
                    <!-- {{TerminalsList_Data.Offset}} / -->
                    - {{TerminalsList_Data.TotalRecords}}
                </span>
            </span>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <div class="page-header-lg-img">
            <i slot="start" class=" las la-cash-register page-header-lg-icon"></i>
        </div>
        <div>
            <h1 class="page-header-title-lg">{{_HelperService.AccountOwner.DisplayName}} </h1>
            <h1 class="page-header-title-lg-b">Terminals</h1>
        </div>
    </div>
    <div class="container p-t-0">

        <input class="search-box " (keyup)="doSearch($event.target.value)" placeholder="search terminals">

        <ion-row no-margin no-padding text-center class="home-ql container-start-row home-ql-margin-b ">
            <ion-col>
                <div class="home-ql-item" (click)="ToggleActivityStatus(2)">
                    <div class="home-ql-number text-success">
                        {{_TerminalStatusCount.Active || "0"}}
                    </div>
                    <div class="home-ql-text">Active</div>
                </div>
            </ion-col>
            <ion-col>
                <div class="home-ql-item" (click)="ToggleActivityStatus(3)">
                    <div class="home-ql-number text-store">
                        {{_TerminalStatusCount.Idle || "0"}}
                    </div>
                    <div class="home-ql-text">Idle</div>
                </div>
            </ion-col>
            <ion-col>
                <div class="home-ql-item" (click)="ToggleActivityStatus(4)">
                    <div class="home-ql-number text-terminal">
                        {{_TerminalStatusCount.Dead || "0"}}
                    </div>
                    <div class="home-ql-text">Dead</div>
                </div>
            </ion-col>
            <ion-col>
                <div class="home-ql-item" (click)="ToggleActivityStatus(1)">
                    <div class="home-ql-number text-cashier">
                        {{_TerminalStatusCount.Unused || "0"}}
                    </div>
                    <div class="home-ql-text">Unused</div>
                </div>
            </ion-col>
        </ion-row>

        <div *ngIf="TerminalsList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-calculator" md="md-calculator">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No terminals added yet
            </div>
            <div class="nolist-content">
                Login to your web panel to add terminals
            </div>
        </div>
        <div>
            <div *ngFor="let TItem of TerminalsList_Data.Data" class="list-item">
                <div>
                    <div class="list-item-title">
                        {{TItem.DisplayName}}

                    </div>
                    <div class="list-item-subtitle">
                        <i class=" las la-store"></i> {{TItem.Address}}
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-clock"></i> Last Sale : {{TItem.LastTransactionDate || "n/a"}}
                    </div>
                    <div class="list-item-content">
                        <span>
                            <span class="terminalstatus terminal-unused"
                                *ngIf="TItem.ActivityStatusId == 1">UNUSED</span>
                            <span class="terminalstatus terminal-active"
                                *ngIf="TItem.ActivityStatusId == 2">ACTIVE</span>
                            <span class="terminalstatus terminal-idle" *ngIf="TItem.ActivityStatusId == 3">IDLE</span>
                            <span class="terminalstatus terminal-dead" *ngIf="TItem.ActivityStatusId == 4">DEAD</span>
                        </span>
                        <img class="list-item-title-icon float-right " src="{{TItem.ProviderIconUrl}}">
                        <img class="list-item-title-icon  float-right" src="{{TItem.AcquirerIconUrl}}">

                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>