<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Stores
                <span class="statusbar-title-count">
                    <!-- {{StoresList_Data.Offset}} / -->
                    - {{StoresList_Data.TotalRecords}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white">
                <i slot="start" class=" las la-sync-alt " style="font-size: 22px" (click)="ngOnInit()"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <div class="page-header-lg-img">
            <i slot="start" class=" las la-store page-header-lg-icon"></i>
        </div>
        <div>
            <h1 class="page-header-title-lg">{{_HelperService.AccountOwner.DisplayName}} </h1>
            <h1 class="page-header-title-lg-b">Stores </h1>
        </div>
    </div>
    <div class="container p-t-0">
        <input class="search-box" (keyup)="doSearch($event.target.value)" placeholder="search stores">
        <div *ngIf="StoresList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-cart" md="md-cart">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No business location added yet
            </div>
            <div class="nolist-content">
                Login to your web panel to add business locations
            </div>
        </div>
        <div>
            <div (click)="NavStore(TItem)" *ngFor="let TItem of StoresList_Data.Data" class="list-item">
                <div>
                    <div class="list-item-title">
                        {{TItem.DisplayName}}
                    </div>
                    <div class="list-item-subtitle">
                        <i class=" las la-store"></i> {{TItem.Address}}
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-cash-register"></i> Terminals : {{TItem.Terminals}}
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-clock"></i> Last Sale : {{TItem.LastTransactionDate}}
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>