<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-button (click)="_HelperService.ModalDismiss('noaction')" class="app-titlebar-button">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content">
            <i class="las la-university app-header-icon "></i>
            <div class="app-header-title">Bank Details</div>
        </div>
    </div>
    <div class="app-body">
        <ion-label class="input-label">Account Holder Name
        </ion-label>
        <ion-input class=" input" [(ngModel)]="_BankDetails.Name" maxlength="128" type="text">
        </ion-input>
        <ion-label class="input-label">Account Number
        </ion-label>
        <ion-input class=" input" type="tel" max-length="128" [(ngModel)]="_BankDetails.AccountNumber">
        </ion-input>
        <ion-label class="input-label">Select your bank from below list
        </ion-label>
        <div class="item-list-mini" (click)="BankSelected(LItem)"
            *ngFor="let LItem of BankCodes; let index=index; let odd=odd; let even=even;">
            <span class="item-list-mini-title" *ngIf="LItem.Name != _BankDetails.BankName">
                {{LItem.Name}}
            </span>
            <span class="item-list-mini-active" *ngIf="LItem.Name == _BankDetails.BankName">
                {{LItem.Name}}
            </span>
        </div>
    </div>
</ion-content>
<div class="tuc-footer">
    <button class="cancel" (click)="_HelperService.ModalDismiss('noaction')">
        Cancel
    </button>
    <button class="approve" (click)="SaveBank()">
        Save
    </button>
</div>