<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-button (click)="_HelperService.ModalDismiss('noaction')" class="app-titlebar-button">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content">
            <i class="las la-university app-header-icon "></i>
            <div class="app-header-title">Bank Details</div>
        </div>
    </div>
    <div class="app-body">
        <div class="box">
            <div class="box-body">
                <div class="box-body-item">
                    <span class="box-body-item-left">
                        Account Name
                    </span>
                    <span class="box-body-item-right">
                        {{_BankDetails.Name || "--"}}
                    </span>
                </div>
                <div class="box-body-item">
                    <span class="box-body-item-left">
                        Account Number
                    </span>
                    <span class="box-body-item-right">
                        {{_BankDetails.AccountNumber || "--"}}
                    </span>
                </div>
                <div class="box-body-item">
                    <span class="box-body-item-left">
                        Bank
                    </span>
                    <span class="box-body-item-right">
                        {{_BankDetails.BankName || "--"}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<div class="tuc-footer">
    <button class="cancel " (click)="_HelperService.ModalDismiss('noaction')">
        Close
    </button>
    <button class="approve bg-red" (click)="DeleteBank()">
        Delete
    </button>
</div>