<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay" side="end" menuId="mainmenu" swipe-gesture="false">
      <ion-content style="    --background:#ffffff !important;">
        <div *ngIf="_HelperService.AccountInfo != undefined" class="item-shoadow-down" style=" padding: 16px; padding-top: 26px;
            color: #fff;  background-color: #303F9F; margin-bottom: 15px;">
          <div style="    font-size: 20px;
            margin-bottom: 8px; 
            font-weight: 600;">
            {{_HelperService.AccountOwner.DisplayName}}
          </div>
          <div style="font-size: 13px; margin-bottom: 4px;">
            {{_HelperService.AccountInfo.User.MobileNumber}}
          </div>
          <div style="font-size: 12px;">
            {{_HelperService.AccountInfo.User.EmailAddress}}
          </div>
        </div>
        <ion-list class="transparent">
          <ion-menu-toggle auto-hide="false">
            <ion-item lines="none" [routerDirection]="'root'" class="transparent menu-item" (click)="NavDashboard()">
              <i slot="start" class=" las la-home menu-icon"></i>
              <ion-label class="menu-text">
                Home
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="transparent menu-item" (click)="NavOrders()">
              <i slot="start" class=" las la-shopping-cart menu-icon"></i>
              <ion-label class="menu-text">
                Orders
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="transparent menu-item" (click)="NavSaleHistory()">
              <i slot="start" class=" las la-receipt menu-icon"></i>
              <ion-label class="menu-text">
                Sales History
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="transparent menu-item" (click)="NavDealRedeem()">
              <i slot="start" class=" las la-tags menu-icon"></i>
              <ion-label class="menu-text">
                Deals Redeem History
              </ion-label>
            </ion-item>
            <!-- <ion-item lines="none" [routerDirection]="'root'" class="transparent menu-item" (click)="NavRewards()">
              <i slot="start" class=" las la-gifts menu-icon"></i>
              <ion-label class="menu-text">
                Rewards History
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="transparent menu-item"
              (click)="NavPendingRewards()">
              <i slot="start" class=" las la-gifts menu-icon"></i>
              <ion-label class="menu-text">
                Pending Rewards
              </ion-label>
            </ion-item> -->


            <ion-item lines="none" [routerDirection]="'root'" class="transparent menu-item" (click)="NacTucPay()">
              <i slot="start" class=" las la-money-bill-wave menu-icon"></i>
              <ion-label class="menu-text">
                Tuc Pay Payments
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="transparent menu-item" (click)="NavStores()">
              <i slot="start" class=" las la-store menu-icon"></i>
              <ion-label class="menu-text">
                Stores
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="transparent menu-item" (click)="NavCashiers()">
              <i slot="start" class=" las la-user-tag menu-icon"></i>
              <ion-label class="menu-text">
                Cashiers
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="transparent menu-item" (click)="NavTerminals()">
              <i slot="start" class=" las la-cash-register menu-icon"></i>
              <ion-label class="menu-text">
                Terminals
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="transparent menu-item" (click)="NavWallet()">
              <i slot="start" class=" las la-wallet menu-icon"></i>
              <ion-label class="menu-text">
                Wallet
              </ion-label>
            </ion-item>

            <ion-item *ngIf="_HelperService.AccountInfo.UserAccount.AccountTypeCode == 'thankumerchant'" lines="none"
              [routerDirection]="'root'" class="transparent menu-item" (click)="NavCashouts()">
              <i slot="start" class="las la-money-bill  menu-icon"></i>
              <ion-label class="menu-text">
                Cashouts
              </ion-label>
            </ion-item>
            <ion-item *ngIf="_HelperService.AccountInfo.UserAccount.AccountTypeCode == 'thankumerchant'" lines="none"
              [routerDirection]="'root'" class="transparent menu-item" (click)="NavBankAccount()">
              <i slot="start" class="las la-university  menu-icon"></i>
              <ion-label class="menu-text">
                Manage Bank Accounts
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="transparent menu-item" (click)="NavProfile()">
              <i slot="start" class="las la-address-card  menu-icon"></i>
              <ion-label class="menu-text">
                Business Info
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="transparent  menu-item" (click)="NavAbout()">
              <i slot="start" class="las  la-info-circle  menu-icon"></i>
              <ion-label class="menu-text">
                About
              </ion-label>
            </ion-item>
            <ion-item lines="none" [routerDirection]="'root'" class="transparent  menu-item" (click)="Logout()">
              <i slot="start" class="las la-sign-out-alt  menu-icon"></i>
              <ion-label class="menu-text">
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>