<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Profile</span>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <div class="page-header-lg-img">
            <i class="las la-address-card  menu-icon page-header-lg-icon"></i>
        </div>
        <div>
            <h1 class="page-header-title-lg">Your </h1>
            <h1 class="page-header-title-lg-b">Profile Info</h1>
        </div>
    </div>
    <div class="container bg-white">
        <div margin>
            <ion-grid no-padding>
                <ion-row margin-bottom margin-top>
                    <ion-col no-margin no-padding>
                        <div class="item-title">Business Information</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Business Display Name
                        </ion-label>
                        <ion-input class="f-s-content input" placeholder="business display name" type="text"
                            max-length="128" [(ngModel)]="_Profile.DisplayName">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Business Name</ion-label>
                        <ion-input class="f-s-content input" placeholder=" your last name" type="text" max-length="128"
                            [(ngModel)]="_Profile.LastName">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Business Email Address
                        </ion-label>
                        <ion-input class="f-s-content input" placeholder="  business email address" type="text"
                            max-length="128" [(ngModel)]="_Profile.EmailAddress">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Business Contact Number
                        </ion-label>
                        <ion-input class="f-s-content input" placeholder="  business email contact number" type="text"
                            max-length="128" [(ngModel)]="_Profile.MobileNumber">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid no-padding>
                <ion-row margin-bottom padding-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Business Address</ion-label>
                        <ion-textarea class="f-s-content input" placeholder=" your business address" type="text"
                            max-length="128" [(ngModel)]="_Profile.Address"></ion-textarea>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid no-padding>
                <ion-row margin-bottom padding-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">About Business </ion-label>
                        <ion-textarea class="f-s-content input" placeholder="information about your business"
                            type="text" rows="5" max-length="128" [(ngModel)]="_Profile.Description"></ion-textarea>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <div class="item-title">Contact Person Information</div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-grid no-padding>
                <ion-row margin-bottom padding-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label position="stacked">First Name</ion-label>
                        <ion-input class="f-s-content input" placeholder="your first name" type="text" max-length="128"
                            [(ngModel)]="_Profile.FirstName">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid no-padding>
                <ion-row margin-bottom padding-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label position="stacked">Last Name</ion-label>
                        <ion-input class="f-s-content input" placeholder=" your last name" type="text" max-length="128"
                            [(ngModel)]="_Profile.LastName">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>


            <ion-grid no-padding>
                <ion-row margin-bottom padding-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label position="stacked">Mobile Number</ion-label>
                        <ion-input class="f-s-content input" placeholder="enter mobile number" type="email"
                            max-length="256" [(ngModel)]="_Profile.ContactNumber">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>

            <ion-grid no-padding>
                <ion-row margin-bottom padding-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label position="stacked">Email Address</ion-label>
                        <ion-input class="f-s-content input" placeholder="enter your email address" type="email"
                            max-length="256" [(ngModel)]="_Profile.SecondaryEmailAddress">
                        </ion-input>
                    </ion-col>
                </ion-row>
            </ion-grid>



            <div padding-top padding-bottom>
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="UpdateProfile()">
                    Update profile
                </ion-button>
            </div>
        </div>
    </div>
</ion-content>