<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class="app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="app-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <span class="title">Orders History
        </span>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="LoadData()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content">
            <div class="app-header-img">
                <i class="lni lni-cart"></i>
            </div>
            <div>
                <div class="app-header-title">You Orders History </div>
                <div class="app-header-subtitle">Manage your all orders</div>
            </div>
        </div>
    </div>
    <div class="app-body p-0 container-p-b">
        <div class="app-tabmenu">
            <div class="app-tabmenu-item" [ngClass]="Type === 0 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="UserAnalytics_DateChange(0)">
                All
            </div>
            <div class="app-tabmenu-item" [ngClass]="Type === 1 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="UserAnalytics_DateChange(1)">
                New
            </div>
            <div class="app-tabmenu-item" [ngClass]="Type === 2 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="UserAnalytics_DateChange(2)">
                Preparing
            </div>
            <div class="app-tabmenu-item" [ngClass]="Type === 4 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="UserAnalytics_DateChange(4)">
                Ready To Pickup
            </div>
            <div class="app-tabmenu-item" [ngClass]="Type === 5 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="UserAnalytics_DateChange(5)">
                Out For Delivery
            </div>
            <div class="app-tabmenu-item" [ngClass]="Type === 6 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="UserAnalytics_DateChange(6)">
                Delivered
            </div>
            <div class="app-tabmenu-item" [ngClass]="Type === 7 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="UserAnalytics_DateChange(7)">
                Failed
            </div>
            <div class="app-tabmenu-item" [ngClass]="Type === 8 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'"
                (click)="UserAnalytics_DateChange(8)">
                Cancelled
            </div>
        </div>
        <div style="display: none">
            <ion-label class="input-label">Select Date</ion-label>
            <ion-datetime #startTimePicker [min]="MinDate" [max]="MaxDate" (ionChange)="CustomDateChange()"
                [(ngModel)]="SelectedItemDate" displayFormat="DD-MM-YYYY" class="input" placeholder="Select date">
            </ion-datetime>
        </div>
        <input class="search-box" [(ngModel)]="TranList_Data.SearchContent" (keyup)="doSearch($event.target.value)"
            placeholder="search">
        <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No orders yet
            </div>
            <div class="nolist-content">
                Orders history will appear here
            </div>
        </div>
        <div>
            <div (click)="OpenAddModal(TItem)" *ngFor="let TItem of TranList_Data.Data" class="list-item">
                <div>
                    <div class="list-item-title">
                        ORDER NUMBER #{{TItem.ReferenceId}}
                    </div>
                    <div class="list-amount">
                        <span class=" text-success">
                            <span class="list-amount-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.TotalAmount |
                            number: "1.2-2"}}

                            <span style="font-size: 12px;">{{TItem.TotalItem}} items</span>
                        </span>
                    </div>

                    <div class="list-item-content">
                        <i class=" las la-directions"></i> Delivery at : {{TItem.DeliveryAddress}}
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-store"></i> From Store {{TItem.DealerLocationName}} -
                        {{TItem.DealerLocationAddress}}
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-clock"></i> {{TItem.OrderDate}}

                        <span class="float-right text-success">
                            <i class=" las la-check-circle"></i> {{TItem.StatusName.toLowerCase()}}
                        </span>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>

<div class="footer-container">
    <div class="footer-item " (click)="_HelperService.NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavLoyalty()">
        <div class="footer-item-icon">
            <i class="lni lni-gift"></i>
        </div>
        <div class="footer-item-text">Loyalty</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavDeals()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Deals</div>
    </div>
    <div class="footer-item text-primary" (click)="_HelperService.NavOrders()">
        <div class="footer-item-icon">
            <i class="lni lni-cart"></i>
        </div>
        <div class="footer-item-text">Products</div>
    </div>
    <div class="footer-item" (click)="_HelperService.NavMore()">
        <div class="footer-item-icon">
            <i class="lni lni-more"></i>
        </div>
        <div class="footer-item-text">More</div>
    </div>
</div>