<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <img src="../../../../assets/icon/tucwhite.png" class="app-header-logo">
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content">
            <i class="las la-gifts app-header-icon "></i>
            <div class="app-header-title"> Reward Customer</div>
            <div class="app-header-subtitle">Your wallet balance :
                <span style="font-weight: 700;"> <span class="list-amount-currency"
                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                    {{_CustomerDetails.AccountBalance | number: "1.2-2"}}</span>
            </div>
        </div>
    </div>
    <div class="app-body">
        <div *ngIf="!_CustomerDetails.IsNewCustomer" style="padding: 16px 16px;
        background-color: #f7f7f7;
        margin-bottom: 16px;
        border-radius: 6px;
        width: 100%;
        display: inline-block;">
            <div style="    font-weight: 500;
            margin-bottom: 12px;
            font-size: 13px;"> Customer details </div>
            <img src="{{_CustomerDetails.IconUrl}}" style="    float: left;
            width: 58px;
            margin-right: 16px;
            border-radius: 4px;">
            <div>
                <div style="    font-size: 16px;
                margin-bottom: 4px;">{{_CustomerDetails.Name}}</div>
                <div>{{_CustomerDetails.MobileNumber}} </div>
            </div>
        </div>
        <div style="padding: 20px;">
            <ion-grid no-padding>

                <ion-row margin-bottom *ngIf="_CustomerDetails.IsNewCustomer">
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Customer Name
                        </ion-label>
                        <ion-input class="f-s-content input" type="text" max-length="128"
                            [(ngModel)]="_CustomerDetails.Name">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom *ngIf="_CustomerDetails.IsNewCustomer">
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Customer Email Address
                        </ion-label>
                        <ion-input class="f-s-content input" type="email" max-length="128"
                            [(ngModel)]="_CustomerDetails.EmailAddress">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom *ngIf="_CustomerDetails.IsNewCustomer">
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Gender
                        </ion-label>
                        <div style="margin-bottom: 32px;">
                            <span class="gender"
                                [ngClass]="{'gender gender-active'  : _CustomerDetails.GenderCode == 'gender.male','gender'  : _CustomerDetails.GenderCode != 'gender.male'}"
                                (click)="ToggleGender('gender.male')">
                                Male
                            </span>
                            <span class="gender"
                                [ngClass]="{'gender gender-active'  : _CustomerDetails.GenderCode == 'gender.female','gender'  : _CustomerDetails.GenderCode != 'gender.female'}"
                                (click)="ToggleGender('gender.female')">
                                Female
                            </span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom *ngIf="_CustomerDetails.IsNewCustomer">
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Customer Date Of Birth
                        </ion-label>
                        <ion-datetime class="f-s-content input" displayFormat="DD-MM-YYYY"
                            placeholder="Select date of birth" [(ngModel)]="_CustomerDetails.DateOfBirth">
                        </ion-datetime>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Enter Invoice Amount
                        </ion-label>
                        <ion-input class="f-s-content input" placeholder="Enter amount " type="tel" max-length="10"
                            (keyup)="CalculateReward()" (keydown)="CalculateReward()" (onchange)="CalculateReward()"
                            [(ngModel)]="_CustomerDetails.InvoiceAmount">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <!-- <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Enter Cashier code
                        </ion-label>
                        <ion-input class="f-s-content input" placeholder=" (optional) " type="text" max-length="6"
                            [(ngModel)]="_CustomerDetails.CashierCode">
                        </ion-input>
                    </ion-col>
                </ion-row> -->
            </ion-grid>
            <!-- <div padding-top padding-bottom *ngIf="!_HelperService.IsFormProcessing">
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="ConfirmRedeem()">
                     Customer
                </ion-button>
            </div>
            <div padding-top padding-bottom >
                <ion-button expand="full" disabled readonly color="primary" shape="round" size="medium"
                    class="r-2x f-s-n no-shadow">
                    Please wait...
                </ion-button>
            </div>
            <div padding-top padding-bottom *ngIf="!_HelperService.IsFormProcessing" style="    text-align: center;">
                <button type="button" (click)="ProcessOnline_Cancel()" style="    padding: 8px 10px;
                border-radius: 4px;">
                    Cancel
                </button>
            </div> -->
        </div>

    </div>
</ion-content>

<div class="tuc-footer">
    <button class="cancel  " (click)="ProcessOnline_Cancel()">
        Cancel
    </button>
    <button class="approve  " *ngIf="!_HelperService.IsFormProcessing" (click)="ConfirmRedeem()">
        Reward
    </button>
    <button class="approve  " *ngIf="_HelperService.IsFormProcessing" disabled>
        Processing
    </button>
</div>

<!-- <ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Customer Details
            </span>
        </ion-title>
    </ion-toolbar>
</ion-header> -->
<!-- <ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Redeem Points
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ngOnInit()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<!-- <ion-content class="bg-app">
    
    <div class="container p-t-0">
       
    </div>

</ion-content> -->