<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Wallet</span>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content id="Container" class="bg-app">
    <div class="page-header " text-center>
        <div class="page-header-lg-img">
            <i class="las la-wallet page-header-lg-icon"></i>
        </div>
        <div>
            <h1 class="page-header-title-lg">{{_HelperService.AccountOwner.DisplayName}} </h1>
            <h1 class="page-header-title-lg-b">Reward Wallet</h1>
        </div>
    </div>
    <div class="container">
        <div class="scrolling-item tuc-card-i">
            <div>
                <i class="las la-wallet tuc-card-i-icon "></i>
                <div class="tuc-card-i-content">
                    <div class="tuc-card-i-header"> Wallet Balance</div>
                    <div class="tuc-card-i-number">
                        <span class="dashboard-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{_AccountBalance.Balance | number: "1.2-2" || "--" }}
                    </div>
                    <div class="tuc-card-i-footer">
                        Available Balance
                    </div>
                </div>
            </div>
        </div>
        <div class="tuc-card"
            *ngIf="_Configurations.RewardDeductionTypeCode == 'rewarddeductiontype.prepay' || _Configurations.RewardDeductionTypeCode == 'rewarddeductiontype.postpay'  ||  _Configurations.RewardDeductionTypeCode == 'rewarddeductiontype.prepayandpostpay'">
            <div class="tuc-card-header text-primary">
                <i class="las la-wallet tuc-card-header-icon"></i> Credit Reward Wallet
            </div>
            <div class="tuc-card-body">
                <ion-input class="f-s-content input" placeholder="enter amount to credit" type="tel" max-length="10"
                    [(ngModel)]="_PaymentDetails.amount">
                </ion-input>
                <br>
                <ion-button (click)="StartPayment()" expand="full" shape="round" fill="outline"
                    *ngIf="_PaymentDetails.amount   < 100">
                    Credit
                    Amount
                </ion-button>
                <ion-button (click)="StartPayment()" *ngIf="_PaymentDetails.amount > 99" expand="full" shape="round"
                    fill="outline">
                    Credit
                    Amount
                </ion-button>
            </div>
        </div>
    </div>
    <div style="margin-bottom: 8px; display: none;">
        <ion-button id="paymentbutton" expand="full" color="primary" shape="round" size="medium"
            class="r-10x f-s-n no-shadow" angular4-paystack [email]="_HelperService.AccountInfo.User.EmailAddress"
            [amount]="_PaymentDetails.amount * 100" [ref]="_PaymentDetails.transactionReference"
            [currency]="_HelperService.AccountInfo.UserCountry.CurrencyNotation" [class]="'btn btn-primary'"
            (onClose)="ProcessOnline_Cancel()" (callback)="ProcessOnline_Confirm($event)">
            Pay &nbsp; <span style="font-size: 12px;"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_PaymentDetails.amount | number:'1.2-2'}}
        </ion-button>
    </div>
</ion-content>