<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="app-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <span class="title">Deals
            <span class="dt-item" (click)="DateManager_Open()">
                {{_DateConfig.TypeName}}
            </span>
        </span>

    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content" *ngIf="PageType == 1">
            <div class="db-container">
                <div class="db-mcount-container">
                    <div class="db-mcount">
                        <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{_SalesHistory.TotalDealAmount | number: "1.2-2"}}
                    </div>
                    <div class="db-mcount-title "> Deal Sales Amount </div>
                </div>
                <ion-row no-margin no-padding>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{_SalesHistory.TotalDeals || "0" }}
                        </div>
                        <div class="db-msubcount-title ">Deals Sold</div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{_SalesHistory.Customer || "0" }}
                        </div>
                        <div class="db-msubcount-title ">Customers</div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{_SalesHistory.Used || "0" }}
                        </div>
                        <div class="db-msubcount-title ">Redeemed Codes</div>
                    </ion-col>

                </ion-row>
            </div>
        </div>
        <div class="app-header-content" *ngIf="PageType == 2">
            <div class="db-container">
                <div class="db-mcount-container">
                    <div class="db-mcount">
                        {{Reward_TranList_Data_Overview.Running || "0"}}
                    </div>
                    <div class="db-mcount-title ">Running Deals</div>
                </div>
                <ion-row no-margin no-padding>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{Reward_TranList_Data_Overview.Upcoming || "0"}}
                        </div>
                        <div class="db-msubcount-title "> Upcoming </div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{Reward_TranList_Data_Overview.Paused || "0"}}
                        </div>
                        <div class="db-msubcount-title "> Paused </div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{Reward_TranList_Data_Overview.Rejected || "0"}}
                        </div>
                        <div class="db-msubcount-title "> Rejected </div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{Reward_TranList_Data_Overview.Total || "0"}}
                        </div>
                        <div class="db-msubcount-title "> Total </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="app-header-content" *ngIf="PageType == 3">
            <div class="db-container">
                <div class="db-mcount-container">
                    <div class="db-mcount">
                        <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{Redeem_TranList_Data_Overview.TotalAmount | number: "1.2-2"}}
                    </div>
                    <div class="db-mcount-title "> Total Sold Amount</div>
                </div>
                <ion-row no-margin no-padding>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{Redeem_TranList_Data_Overview.Total || "0"}}
                        </div>
                        <div class="db-msubcount-title "> Sold </div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{Redeem_TranList_Data_Overview.Used || "0"}}
                        </div>
                        <div class="db-msubcount-title "> Used </div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{Redeem_TranList_Data_Overview.Unused || "0"}}
                        </div>
                        <div class="db-msubcount-title "> Unused </div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{Redeem_TranList_Data_Overview.Expired || "0"}}
                        </div>
                        <div class="db-msubcount-title "> Expired </div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
        <div class="app-header-content" *ngIf="PageType == 4">
            <div class="db-container">
                <div class="db-mcount-container">
                    <div class="db-mcount">
                        <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                        {{PendingReward_TranList_Data_Overview.RewardAmount | number: "1.2-2"}}
                    </div>
                    <div class="db-mcount-title "> Total Pending Reward Amount</div>
                </div>
                <ion-row no-margin no-padding>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{PendingReward_TranList_Data_Overview.InvoiceAmount | number: "1.2-2"}}
                        </div>
                        <div class="db-msubcount-title "> Total Sales Amount</div>
                    </ion-col>
                    <ion-col no-margin no-padding>
                        <div class="db-msubcount">
                            {{PendingReward_TranList_Data_Overview.Transactions }}
                        </div>
                        <div class="db-msubcount-title ">Total Transactions</div>
                    </ion-col>
                </ion-row>
            </div>
        </div>
    </div>
    <div class="app-body p-0 container-p-b">
        <div class="app-tabmenu">
            <div class="app-tabmenu-item tab-item-i3"
                [ngClass]="PageType === 1 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'" (click)="PageTypeChange(1)">
                Overview
            </div>
            <div class="app-tabmenu-item tab-item-i3"
                [ngClass]="PageType === 2 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'" (click)="PageTypeChange(2)">
                Deals
            </div>
            <div class="app-tabmenu-item tab-item-i3"
                [ngClass]="PageType === 3 ? 'app-tabmenu-item-active' : 'app-tabmenu-item'" (click)="PageTypeChange(3)">
                Redeem History
            </div>
        </div>
        <div *ngIf="PageType == 1">
            <div class="ana-card">
                <div class="header">
                    <span class="icon"> <i class="lni lni-bullhorn"></i></span>
                    <span class="title">Deals Summary</span>
                </div>
                <div class="body">
                    <div class="title">{{_DealStatusOverview.Running || "0"}}</div>
                    <div class="subtitle"> Running Deals</div>
                    <div class="slide-content">
                        <ion-slides [options]="_HelperService.AnaSlideOptions">
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">{{_DealStatusOverview.Upcoming || "0"}}</div>
                                    </div>
                                    <div class="header">
                                        <span class="title">Upcomming Deals</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">{{_DealStatusOverview.ApprovalPending || "0"}}</div>
                                    </div>
                                    <div class="header">
                                        <span class="title"> In Review</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">
                                            {{_DealStatusOverview.Paused || "0"}}</div>
                                    </div>
                                    <div class="header">
                                        <span class="title"> Paused</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">
                                            {{_DealStatusOverview.Draft || "0"}}
                                        </div>
                                    </div>
                                    <div class="header">
                                        <span class="title">Draft</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">
                                            {{_DealStatusOverview.Rejected || "0"}}
                                        </div>
                                    </div>
                                    <div class="header">
                                        <span class="title">Rejected</span>
                                    </div>
                                </div>
                            </ion-slide>
                            <ion-slide>
                                <div class="anaslide-card">
                                    <div class="body">
                                        <div class="title">
                                            {{_DealStatusOverview.Expired || "0"}}
                                        </div>
                                    </div>
                                    <div class="header">
                                        <span class="title">Expired</span>
                                    </div>
                                </div>
                            </ion-slide>
                        </ion-slides>
                    </div>
                </div>
            </div>
            <div class="tuc-card" *ngIf="_ODealSalesHistory.SaleDataSet.length > 0">
                <div class="tuc-card-header text-primary">
                    Deals Sales History
                </div>
                <div class="tuc-card-body">
                    <div style="overflow-x: scroll">
                        <div class="chart-container" style="position: relative;  width:900px;">
                            <canvas height="200" baseChart #RewardPlot="base-chart"
                                [colors]="_HelperService._UserOverviewPlot.Colors"
                                [datasets]="_ODealSalesHistory.SaleDataSet" [labels]="_ODealSalesHistory.Labels"
                                [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                                [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptionsStr"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tuc-card" *ngIf="_ODealSalesHistory.RedeemDataSet.length > 0">
                <div class="tuc-card-header text-primary">
                    Deals Redeem History
                </div>
                <div class="tuc-card-body">
                    <div style="overflow-x: scroll">
                        <div class="chart-container" style="position: relative;  width:900px;">
                            <canvas height="200" baseChart #RewardPlot="base-chart"
                                [colors]="_HelperService._UserOverviewPlot.Colors"
                                [datasets]="_ODealSalesHistory.RedeemDataSet" [labels]="_ODealSalesHistory.Labels"
                                [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                                [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptionsStr"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="ana-card">
                <div class="header">
                    <span class="icon"><i class="lni lni-chevron-up-circle"></i> </span>
                    <span class="title">Rewards Summary</span>
                </div>
                <div class="body">
                    <div class="title"><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_DealStatusOverview.RewardAmount
                        | number: "1.2-2" || "0"}}</div>
                    <div class="subtitle">Total Rewards</div>
                    <ion-row>
                        <ion-col>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title"><span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_DealStatusOverview.RewardInvoiceAmount
                                        | number: "1.2-2" ||
                                        "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title"> Reward Sales Amount </span>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="anaslide-card no-border">
                                <div class="body">
                                    <div class="title">{{_DealStatusOverview.RewardTransaction || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title">Customer Visits</span>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </div>
            <div class="ana-card">
                <div class="header">
                    <span class="icon"> <i class="lni lni-chevron-down-circle"></i></span>
                    <span class="title">Redeem Summary</span>
                </div>
                <div class="body">
                    <div class="title"><span
                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_DealStatusOverview.RedeemAmount
                        | number: "1.2-2" || "0"}}</div>
                    <div class="subtitle">Total Redeem</div>
                    <ion-row>
                        <ion-col>
                            <div class="anaslide-card">
                                <div class="body">
                                    <div class="title"><span
                                            [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_DealStatusOverview.RedeemInvoiceAmount
                                        | number: "1.2-2" ||
                                        "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title"> Redeem Sales Amount </span>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="anaslide-card no-border">
                                <div class="body">
                                    <div class="title">{{_DealStatusOverview.RedeemTransaction || "0"}}</div>
                                </div>
                                <div class="header">
                                    <span class="title">Customer Visits</span>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </div> -->
        </div>
        <div *ngIf="PageType == 2">
            <div class="tab-chip">
                <div class="tab-chip-item"
                    [ngClass]="Reward_TranList_Data.Type === 'all' ? 'tab-chip-item-active' : 'tab-chip-item'"
                    (click)="DealStatusType('all')">
                    <span class="tab-chip-item-title">All</span> <span class="tab-chip-item-count">
                        {{Reward_TranList_Data_Overview.Total || "0"}}</span>
                </div>
                <div class="tab-chip-item"
                    [ngClass]="Reward_TranList_Data.Type === 'running' ? 'tab-chip-item-active' : 'tab-chip-item'"
                    (click)="DealStatusType('running')">
                    <span class="tab-chip-item-title">Running</span> <span class="tab-chip-item-count">
                        {{Reward_TranList_Data_Overview.Running || "0"}}</span>
                </div>
                <div class="tab-chip-item"
                    [ngClass]="Reward_TranList_Data.Type === 'upcoming' ? 'tab-chip-item-active' : 'tab-chip-item'"
                    (click)="DealStatusType('upcoming')">
                    <span class="tab-chip-item-title">Upcoming</span> <span class="tab-chip-item-count">
                        {{Reward_TranList_Data_Overview.Upcoming || "0"}}</span>
                </div>
                <div class="tab-chip-item"
                    [ngClass]="Reward_TranList_Data.Type === 'paused' ? 'tab-chip-item-active' : 'tab-chip-item'"
                    (click)="DealStatusType('paused')">
                    <span class="tab-chip-item-title">Paused</span> <span class="tab-chip-item-count">
                        {{Reward_TranList_Data_Overview.Paused || "0"}}</span>
                </div>
                <div class="tab-chip-item"
                    [ngClass]="Reward_TranList_Data.Type === 'draft' ? 'tab-chip-item-active' : 'tab-chip-item'"
                    (click)="DealStatusType('draft')">
                    <span class="tab-chip-item-title">Draft</span> <span class="tab-chip-item-count">
                        {{Reward_TranList_Data_Overview.Draft || "0"}}</span>
                </div>
                <div class="tab-chip-item"
                    [ngClass]="Reward_TranList_Data.Type === 'pendingapproval' ? 'tab-chip-item-active' : 'tab-chip-item'"
                    (click)="DealStatusType('pendingapproval')">
                    <span class="tab-chip-item-title">Pending Approval</span> <span class="tab-chip-item-count">
                        {{Reward_TranList_Data_Overview.ApprovalPending ||
                        "0"}}</span>
                </div>
                <div class="tab-chip-item"
                    [ngClass]="Reward_TranList_Data.Type === 'expired' ? 'tab-chip-item-active' : 'tab-chip-item'"
                    (click)="DealStatusType('expired')">
                    <span class="tab-chip-item-title">Expired</span> <span class="tab-chip-item-count">
                        {{Reward_TranList_Data_Overview.Expired || "0"}}</span>
                </div>
            </div>
            <input class="search-box" (keyup)="Reward_TranList_Search($event.target.value)" placeholder="search">
            <div *ngIf="Reward_TranList_Data.TotalRecords == 0" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-icon ios="md-list" md="md-list">
                    </ion-icon>
                </div>
                <div class="nolist-title">
                    Its Empty Here
                </div>
                <div class="nolist-subtitle">
                    No transactions yet
                </div>
            </div>
            <div>
                <div (click)="Reward_TranList_OpenAddModal(TItem)" *ngFor="let TItem of Reward_TranList_Data.Data"
                    class="card-deal">
                    <div class="card-deal-image" [style.background-image]="'url('+TItem.ImageUrl+')'">
                        <div class="card-deal-image-overlay">
                            <div class="card-deal-sale">
                                <span class="totalview">
                                    <i class="lni lni-eye"></i> Views
                                    <span [innerHtml]="TItem.Views"></span>
                                </span>

                                <span class="totalsale">
                                    <i class="lni lni-cart-full"></i> Sale
                                    <span [innerHtml]="TItem.TotalPurchase || 0"></span>
                                </span>

                            </div>
                            <div class="card-deal-amounts">
                                <span class="sellingprice">
                                    <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                    <span [innerHtml]="TItem.SellingPrice"></span>
                                </span>
                                <span class="actualprice">
                                    <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                    <span [innerHtml]="TItem.ActualPrice"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-deal-body">
                        <div class="card-deal-title card-deal-space" [innerHtml]="TItem.Title">
                        </div>
                        <div class="card-deal-shedule card-deal-space">
                            <span [innerHtml]="TItem.CategoryName">
                            </span>/
                            <span [innerHtml]="TItem.SubCategoryName">
                            </span>
                        </div>
                        <div class="card-deal-shedule">
                            <i class="lni lni-calendar"></i>
                            <span [innerHtml]="TItem.StartDateS">
                            </span>
                            -
                            <span [innerHtml]="TItem.EndDateS">
                            </span>
                        </div>

                    </div>
                </div>
                <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="Reward_TranList_NextLoad($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading ...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>
        <div *ngIf="PageType == 3">
            <div class="tab-chip">
                <div class="tab-chip-item"
                    [ngClass]="Redeem_TranList_Data.Type === 'all' ? 'tab-chip-item-active' : 'tab-chip-item'"
                    (click)="DealPurchaseTypeChange('all')">
                    <span class="tab-chip-item-title">All</span>
                </div>
                <div class="tab-chip-item"
                    [ngClass]="Redeem_TranList_Data.Type === 'dealcode.used' ? 'tab-chip-item-active' : 'tab-chip-item'"
                    (click)="DealPurchaseTypeChange('dealcode.used')">
                    <span class="tab-chip-item-title">Used</span>
                </div>
                <div class="tab-chip-item"
                    [ngClass]="Redeem_TranList_Data.Type === 'dealcode.unused' ? 'tab-chip-item-active' : 'tab-chip-item'"
                    (click)="DealPurchaseTypeChange('dealcode.unused')">
                    <span class="tab-chip-item-title">Unused</span>
                </div>
                <div class="tab-chip-item"
                    [ngClass]="Redeem_TranList_Data.Type === 'dealcode.expired' ? 'tab-chip-item-active' : 'tab-chip-item'"
                    (click)="DealPurchaseTypeChange('dealcode.expired')">
                    <span class="tab-chip-item-title">Expired</span>
                </div>
                <div class="tab-chip-item"
                    [ngClass]="Redeem_TranList_Data.Type === 'dealcode.blocked' ? 'tab-chip-item-active' : 'tab-chip-item'"
                    (click)="DealPurchaseTypeChange('dealcode.blocked')">
                    <span class="tab-chip-item-title">Cancelled / Blocked</span>
                </div>
            </div>
            <input class="search-box" (keyup)="Redeem_TranList_Search($event.target.value)" placeholder="search">
            <div *ngIf="Redeem_TranList_Data.TotalRecords == 0" text-center class="nolist-item">
                <div class="nolist-icon-item">
                    <ion-icon ios="md-list" md="md-list">
                    </ion-icon>
                </div>
                <div class="nolist-title">
                    Its Empty Here
                </div>
                <div class="nolist-subtitle">
                    No transactions yet
                </div>
            </div>
            <div>
                <div (click)="Redeem_TranList_OpenAddModal(TItem)" *ngFor="let TItem of Redeem_TranList_Data.Data"
                    class="cardpurchase-deal">
                    <div class="cardpurchase-deal-image" [style.background-image]="'url('+TItem.ImageUrl+')'">
                        <div class="cardpurchase-deal-image-overlay">
                            <div class="cardpurchase-deal-amounts">
                                <span class="sellingprice">
                                    <span class="currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                    <span [innerHtml]="TItem.Amount"></span>
                                </span>
                            </div>
                            <div class="cardpurchase-deal-titlecon">
                                <div class="cardpurchase-deal-title " [innerHtml]="TItem.Title">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cardpurchase-deal-body">


                        <div class="cardpurchase-deal-customer">
                            <img [src]="TItem.AccountIconUrl" class="cardpurchase-deal-customer-img">
                            <div class="cardpurchase-deal-customer-profile">
                                <div class="cardpurchase-deal-customer-name">
                                    {{TItem.AccountDisplayName}}
                                </div>
                                <div class="cardpurchase-deal-customer-mobile">
                                    {{TItem.AccountMobileNumber}}
                                    <span class="float-right status-success"
                                        *ngIf="TItem.StatusCode == 'dealcode.used'">
                                        {{TItem.StatusName.toLowerCase()}}
                                    </span>
                                    <span class="float-right status-warning"
                                        *ngIf="TItem.StatusCode == 'dealcode.unused'">
                                        {{TItem.StatusName.toLowerCase()}}
                                    </span>
                                    <span class="float-right status-error"
                                        *ngIf="TItem.StatusCode == 'dealcode.expired'">
                                        {{TItem.StatusName.toLowerCase()}}
                                    </span>
                                    <span class="float-right status-error"
                                        *ngIf="TItem.StatusCode == 'dealcode.blocked'">
                                        {{TItem.StatusName.toLowerCase()}}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="cardpurchase-deal-shedule">
                            <span class="cardpurchase-deal-shedule-start">
                                PURCHASE : <span [innerHtml]="TItem.StartDateS"> </span>
                            </span>
                            <span class="cardpurchase-deal-shedule-end">
                                EXPIARY : <span [innerHtml]="TItem.EndDateS"> </span>
                            </span>
                        </div>
                        <div class="cardpurchase-deal-usedetails"
                            *ngIf="TItem.LastUseDate != undefined  && TItem.LastUseDate != null && TItem.LastUseDate != ''">
                            <div class="cardpurchase-deal-shedule-usetitle">
                                Redeem Details
                            </div>
                            <div class="cardpurchase-deal-shedule-loc" *ngIf="TItem.LastUseLocationAddress">
                                <div [innerHtml]="TItem.LastUseLocationDisplayName"> </div>
                                <div [innerHtml]="TItem.LastUseLocationAddress"> </div>
                            </div>
                            <div>
                                <div class="cardpurchase-deal-shedule-source">
                                    Source : <span [innerHtml]="TItem.LastUseLocationSourceName"> </span>

                                    <span class="cardpurchase-deal-shedule-use">
                                        USED ON : <span [innerHtml]="TItem.EndDateS"> </span>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="Redeem_TranList_NextLoad($event)">
                    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading ...">
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </div>
        </div>
    </div>
</ion-content>
<div class="tucmodal" *ngIf="_HelperService.AppConfig.TucDateModal">
    <div class="tucmodal-container">
        <div class="tucmodal-header">
            <div class="tucmodal-header-title">
                Select Date
            </div>
            <div class="tucmodal-header-subtitle">
                Select date from below
            </div>
        </div>
        <div class="tucmodal-content">
            <ion-row margin-bottom>
                <ion-col>
                    <ion-label class="input-label">Start Date</ion-label>
                    <ion-datetime #rewardHistoryDatePicker (ionChange)="DateManager_StartDateChange()"
                        [(ngModel)]="_DateConfig.SelectedStartDate" displayFormat="DD-MM-YYYY" class="input"
                        placeholder="Select start date">
                    </ion-datetime>
                </ion-col>
                <ion-col>
                    <ion-label class="input-label">End Date</ion-label>
                    <ion-datetime #rewardHistoryDatePicker (ionChange)="DateManager_EndDateChange()"
                        [(ngModel)]="_DateConfig.SelectedEndDate" displayFormat="DD-MM-YYYY" class="input"
                        placeholder="Select end date">
                    </ion-datetime>
                </ion-col>
            </ion-row>
            <div>
                <span class="date-pill" (click)="DateManager_RangeClick(1)"
                    [ngClass]="_DateConfig.Type === 1 ? 'date-pill-active' : 'date-pill'">
                    Today
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(2)"
                    [ngClass]="_DateConfig.Type === 2 ? 'date-pill-active' : 'date-pill'">
                    Yesterday
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(3)"
                    [ngClass]="_DateConfig.Type === 3 ? 'date-pill-active' : 'date-pill'">
                    Last 7 Days
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(4)"
                    [ngClass]="_DateConfig.Type === 4 ? 'date-pill-active' : 'date-pill'">
                    Last 15 Days
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(5)"
                    [ngClass]="_DateConfig.Type === 5 ? 'date-pill-active' : 'date-pill'">
                    Last 30 Days
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(6)"
                    [ngClass]="_DateConfig.Type === 6 ? 'date-pill-active' : 'date-pill'">
                    This Week
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(7)"
                    [ngClass]="_DateConfig.Type === 7 ? 'date-pill-active' : 'date-pill'">
                    Last Week
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(8)"
                    [ngClass]="_DateConfig.Type === 8 ? 'date-pill-active' : 'date-pill'">
                    This Month
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(9)"
                    [ngClass]="_DateConfig.Type === 9 ? 'date-pill-active' : 'date-pill'">
                    Last Month
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(10)"
                    [ngClass]="_DateConfig.Type === 10 ? 'date-pill-active' : 'date-pill'">
                    Last 3 Month
                </span>
                <span class="date-pill" (click)="DateManager_RangeClick(11)"
                    [ngClass]="_DateConfig.Type === 11 ? 'date-pill-active' : 'date-pill'">
                    Last 6 Month
                </span>
            </div>

        </div>
        <div class="tucmodal-footer">
            <ion-row>
                <ion-col size="5">
                    <button class="tucmodal-footer-button tucmodal-footer-button-cancel"
                        (click)="_HelperService.HideTucDateModal()">
                        Cancel
                    </button>
                </ion-col>
                <ion-col>
                    <button class="tucmodal-footer-button" (click)="DateManager_Confirm()">
                        Confirm
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </div>
</div>
<div class="footer-container">
    <div class="footer-item" (click)="_HelperService.NavDashboard()">
        <div class="footer-item-icon">
            <i class="lni lni-home"></i>
        </div>
        <div class="footer-item-text">Home</div>
    </div>
    <div class="footer-item  " (click)="_HelperService.NavLoyalty()">
        <div class="footer-item-icon">
            <i class="lni lni-gift"></i>
        </div>
        <div class="footer-item-text">Loyalty</div>
    </div>
    <div class="footer-item text-primary" (click)="_HelperService.NavDeals()">
        <div class="footer-item-icon">
            <i class="lni lni-shopping-basket"></i>
        </div>
        <div class="footer-item-text">Deals</div>
    </div>
    <div class="footer-item " (click)="_HelperService.NavOrders()">
        <div class="footer-item-icon">
            <i class="lni lni-cart"></i>
        </div>
        <div class="footer-item-text">Products</div>
    </div>
    <div class="footer-item" (click)="_HelperService.NavMore()">
        <div class="footer-item-icon">
            <i class="lni lni-more"></i>
        </div>
        <div class="footer-item-text">More</div>
    </div>
</div>