<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="app-titlebar-button"> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div text-center>
            <img src="../../../assets/icon/tucwhite.png" style="width: 180px;">
        </div>
        <div text-center style="font-size: 16px;
                    margin-top: 0px; color: #ffffff;
                    font-weight: 600;margin-bottom: 8px;">
            Merchant Registration
        </div>
    </div>
    <div class="app-body">



        <div>
            <div class="container " style="padding: 20px;padding-top:16px  !important">
                <ion-label class="input-label">About your business
                </ion-label>
                <ion-textarea class=" input" [(ngModel)]="_Details.About" maxlength="1024" type="text"></ion-textarea>
                <ion-label class="input-label">Website Link
                </ion-label>
                <ion-input class=" input" [(ngModel)]="_Details.WebsiteUrl" maxlength="1024" type="text"
                    placeholder="Optional">
                </ion-input>

                <!-- <div class="input-container" style="    border: 1px solid #a32f7f;"> -->
                <input type="text" class=" input" name="GAddress" maxlength="256"
                    placeholder="Locate  your business location" ngx-google-places-autocomplete #places="ngx-places"
                    style="padding: 16px !important; width:100%"
                    (onAddressChange)="Form_UpdateUser_AddressChange($event)">
                <!-- </div> -->
                <div>
                    <agm-map style="height: 200px;
    width: 100%;" [zoom]="17" [latitude]="_Details.Address.Latitude" [longitude]="_Details.Address.Longitude"
                        [streetViewControl]="false" (mapClick)="placeMarker($event)">
                        <agm-marker [latitude]="_Details.Address.Latitude" [longitude]="_Details.Address.Longitude">
                        </agm-marker>
                    </agm-map>
                </div>
                <ion-label class="input-label">Your business Address
                </ion-label>
                <ion-input class=" input" [(ngModel)]="_Details.Address.Address" maxlength="64" type="text">
                </ion-input>

                <!-- <div margin>
                    <div class="input-container">
                        <span>
                            <i class="las la-user"></i>
                        </span>
                        <input placeholder="Name" type="text" maxlength="128" [(ngModel)]="UserCustomAddress.Name">
                    </div>
                    <div class="input-container">
                        <span>
                            <i class="las la-mobile"></i>
                        </span>
                        <input placeholder="Mobile Number" type="number" maxlength="16"
                            [(ngModel)]="UserCustomAddress.MobileNumber">
                    </div>
                    <div class="input-container">
                        <span>
                            <i class="las la-envelope"></i>
                        </span>
                        <input placeholder="Email Address (optional)" type="email" maxlength="128"
                            [(ngModel)]="UserCustomAddress.EmailAddress">
                    </div>
                    <div class="input-container">
                        <span>
                            <i class="las la-map-marked"></i>
                        </span>
                        <input placeholder="Detailed address" type="text" maxlength="128"
                            [(ngModel)]="UserCustomAddress.AddressLine1">
                    </div>
                   
                </div> -->
                <!-- 
            <div>
                <div margin>
                    <div padding margin-top>
                        <div margin-bottom>
                            <ion-label class="input-label">Landmark<small>(optional)</small></ion-label>
                            <ion-input type="text" maxlength="256" [(ngModel)]="UserCustomAddress.Landmark"
                                class="input">
                            </ion-input>
                        </div>
                        <div margin-bottom>
                            <ion-label class="input-label">Zip Code <small>(optional)</small></ion-label>
                            <ion-input type="text" maxlength="256" [(ngModel)]="UserCustomAddress.ZipCode"
                                class="input">
                            </ion-input>
                        </div>
                        <div margin-bottom>
                        <ion-label class="input-label">City</ion-label>
                        <ion-input type="text" maxlength="256" [(ngModel)]="UserCustomAddress.CityName" class="input">
                        </ion-input>
                    </div>
                    <div margin-bottom>
                        <ion-label class="input-label">State</ion-label>
                        <ion-input type="text" maxlength="256" [(ngModel)]="UserCustomAddress.StateName" class="input">
                        </ion-input>
                    </div>
                    <div margin-bottom>
                        <ion-label class="input-label">Country</ion-label>
                        <ion-input type="text" maxlength="256" [(ngModel)]="UserCustomAddress.CountryName"
                            class="input">
                        </ion-input>
                    </div>
                    </div>
                  
                </div>
            </div> -->
            </div>
        </div>

        <!-- <ion-select class=" input" multiple (ionChange)="onCatChange($event.detail.value)">
            <ion-select-option *ngFor="let TItem of CategoriesList" [value]="TItem.ReferenceId"
                value="{{TItem.ReferenceId}}">
                {{TItem.Name}}
            </ion-select-option>
        </ion-select>
        <ion-label class="input-label">About your business
        </ion-label>
        <ion-textarea class=" input" [(ngModel)]="_Details.About" maxlength="1024" type="text"></ion-textarea>
        <ion-label class="input-label">Website Link
        </ion-label>
        <ion-input class=" input" [(ngModel)]="_Details.WebsiteUrl" maxlength="1024" type="text" placeholder="Optional">
        </ion-input> -->
        <button type="button" margin-top margin-bottom (click)="ConfirmAddress()" class="btn-primary"
            *ngIf="!_HelperService.IsFormProcessing">Create Account</button>

        <button type="button" margin-top margin-bottom class="btn-primary-inverse"
            *ngIf="_HelperService.IsFormProcessing">
            <i class="las la-spinner  fa-pulse  la-pulse "></i>
            Please wait </button>
    </div>
</ion-content>