<!-- <ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Reward Details
            </span>
        </ion-title>
    </ion-toolbar>
</ion-header> -->
<!-- <ion-header no-border class=" titlebar">
    <ion-toolbar class="titlebar">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Reward Details
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ngOnInit()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header> -->
<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <img src="../../../../assets/icon/tucwhite.png" class="app-header-logo">
    </ion-toolbar>
</ion-header>

<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content">
            <i class="las la-gifts app-header-icon "></i>
            <div class="app-header-title"> Reward Details</div>
            <div class="app-header-subtitle">Customer reward information
            </div>
        </div>
    </div>
    <div class="app-body">
        <div margin>
            <h1 style="font-size: 48px;
            text-align: center;
            color: green;
            margin-bottom: 16px;">
                <span class="list-amount-currency" style="font-size:40px"
                    [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{_MerchantDetails.RewardAmount
                | number: "1.2-2"}}
            </h1>
            <div style="    text-align: center;
            font-weight: 500;
            font-size: 14px;">
                Customer Reward Amount
            </div>

        </div>
        <div style="padding: 16px 16px;
        background-color: #f7f7f7;
        margin-bottom: 16px;
        border-radius: 6px;
        width: 100%;
        display: inline-block;">
            <div style="    font-weight: 500;
            margin-bottom: 12px;
            font-size: 13px;"> Customer details </div>
            <img src="{{_MerchantDetails.IconUrl}}" style="    float: left;
            width: 58px;
            margin-right: 16px;
            border-radius: 4px;">
            <div>
                <div style="    font-size: 16px;
                margin-bottom: 4px;">{{_MerchantDetails.Name}}</div>
                <div>{{_MerchantDetails.MobileNumber}} </div>
            </div>
        </div>
        <div class="tuc-card"
            style="border-radius: 8px;box-shadow: none;    background-color: #f7f7f7;margin:0px; margin-bottom: 16px;">
            <div class="tuc-card-header ">
                Reward Details
            </div>
            <div class="tuc-card-body">
                <div style="    font-weight: 500;">
                    <div class="line-height">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Invoice Amount
                        </span>
                        <span style="float:right;">
                            {{_MerchantDetails.InvoiceAmount || "--"}}
                        </span>
                    </div>
                    <div class="line-height">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Reference Number
                        </span>
                        <span style="float:right;">
                            {{_MerchantDetails.TransactionReferenceId || "--"}}
                        </span>
                    </div>
                    <div class="line-height">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Payment Date
                        </span>
                        <span style="float:right;">
                            {{_MerchantDetails.TransactionDate || "--"}}
                        </span>
                    </div>
                    <div class="line-height">
                        <span style="color: #C5C8CE; font-size: 12px;">
                            Status
                        </span>
                        <span class="float-right text-success" *ngIf="_MerchantDetails.StatusName == 'success'">
                            {{_MerchantDetails.StatusName.toLowerCase()}}
                        </span>
                        <span class="float-right text-danger" *ngIf="_MerchantDetails.StatusName != 'success'">
                            {{_MerchantDetails.StatusName.toLowerCase()}}
                        </span>
                        <!-- <span style="color: green;float:right;">
                            {{_MerchantDetails.StatusName  || "--"}}
                        </span> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<div class="tuc-footer">
    <button class="cancel full-width " (click)="ProcessOnline_Cancel()">
        Close
    </button>
</div>