<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">
                <span class="statusbar-title-count">
                    Sales Invoice : #{{_TransactionDetails.ReferenceId || "--"}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times-circle " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="page-header " style="min-height: 150px !important;    padding-top: 12px !important;" text-center>
    <!-- <div class="page-header-lg-img" style="margin-right: 0px;">
        <i slot="start" class=" las la-check-circle page-header-lg-icon" style="background-color: #442563;
    font-size: 37px; 
    color: #fff;
    border-radius: 100%;
    padding: 6px;
    border: 3px solid #fff;
    margin-top: 10px;"></i> success
    </div> -->
    <div>
        <span style="     font-size: 14px;
    text-transform: lowercase;
    margin-bottom: 8px;">
            <i slot="start" class=" las la-check-circle "
                *ngIf="_TransactionDetails.StatusCode == 'transaction.success'"></i>
            <i slot="start" class=" las la-times-circle "
                *ngIf="_TransactionDetails.StatusCode != 'transaction.success'"></i>
            {{_TransactionDetails.StatusName || "--"}}</span>
        <h1 class="page-header-title-lg-b"
            style="font-size: 34px;font-weight:400;margin-bottom: 8px;text-align: center;">
            <span class="list-amount-currency" style="    font-size: 20px;"
                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{_TransactionDetails.InvoiceAmount | number: "1.2-2"}}
        </h1>
        <h1 class="page-header-title-lg" style="    font-size: 13px;
    margin-top: 0px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #ffffffb5;">
            Sale Amount
        </h1>
        <h1 class="page-header-title-lg" style="    font-size: 13px;
    margin-top: 8px;
    margin-top: 16px;
    font-weight: normal;
    text-align: center;">
            {{_TransactionDetails.CreateDate || "--"}}
        </h1>
        <!-- <h1 class="page-header-title-lg" style="    font-size: 13px;
    margin-top: 8px;
    font-weight: normal;
    text-align: center;">
            {{_TransactionDetails.TypeName || "--"}} payment
        </h1> -->

        <!-- <span style="font-size: 12px;
            padding-left: 8px;">
                        {{_TransactionDetails.TypeName || "--"}} payment
                    </span> -->
        <!-- <h1 class="page-header-title-lg" style="    font-size: 16px;
            font-weight: normal;">
            {{_TransactionDetails.UserAccountMobileNumber  || "--"}}
        </h1> -->
    </div>
</div>
<div class="container " style="overflow: auto;padding-bottom:30px;">
    <div class="tuc-card">
        <div class="tuc-card-header text-primary">
            <i class="las la-user tuc-card-header-icon"></i> Customer
        </div>
        <div class="tuc-card-body">
            <div>
                <div class="line-height ">
                    <div class="card-item-left">
                        Name
                        <div class="card-item-right">
                            {{_TransactionDetails.UserDisplayName || "--"}}
                        </div>
                    </div>
                </div>
                <div class="line-height">
                    <div class="card-item-left">
                        Mobile Number
                        <div class="card-item-right">
                            {{_TransactionDetails.UserMobileNumber || "--"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tuc-card">
        <div class="tuc-card-header text-primary">
            <i class="las la-map-marker tuc-card-header-icon"></i> Purchase Location
        </div>
        <div class="tuc-card-body">
            <div>
                <div class="line-height">
                    {{_TransactionDetails.SubParentDisplayName || "--"}}
                    <div class="line-height">
                        {{_TransactionDetails.SubParentAddress || "--"}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tuc-card">
        <div class="tuc-card-header text-primary">
            <i class="las la-random tuc-card-header-icon"></i> Payment Details
        </div>
        <div class="tuc-card-body">
            <div>
                <div class="line-height ">
                    <div class="card-item-left">
                        Payment Mode
                        <div class="card-item-right">
                            {{_TransactionDetails.TypeName || "--"}}
                        </div>
                    </div>
                </div>
                <div
                    *ngIf="_TransactionDetails.AccountNumber  != undefined && _TransactionDetails.AccountNumber  != null && _TransactionDetails.AccountNumber  != ''">
                    <div class="line-height">
                        <div class="card-item-left">
                            Card Number
                            <div class="card-item-right">
                                {{_TransactionDetails.AccountNumber || "--"}}
                            </div>
                        </div>
                    </div>
                    <div class="line-height">
                        <div class="card-item-left">
                            Card Type
                            <div class="card-item-right">
                                {{_TransactionDetails.CardBrandDisplayName || "--"}}
                            </div>
                        </div>
                    </div>
                    <div class="line-height">
                        <div class="card-item-left">
                            Card Bank
                            <div class="card-item-right">
                                {{_TransactionDetails.CardBankName || "--"}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tuc-card">
        <div class="tuc-card-header text-primary">
            <i class="las la-cash-register tuc-card-header-icon"></i> Done By
        </div>
        <div class="tuc-card-body">
            <div>
                <div class="line-height">
                    <div class="card-item-left">
                        Terminal
                        <div class="card-item-right">
                            {{_TransactionDetails.CreatedByDisplayName || "--"}}
                        </div>
                    </div>

                </div>
                <div class="line-height">
                    <div class="card-item-left">
                        Cashier
                        <div class="card-item-right">
                            {{_TransactionDetails.CashierDisplayName || "--"}}
                        </div>
                    </div>

                </div>
                <div class="line-height">
                    <div class="card-item-left">
                        Bank
                        <div class="card-item-right">
                            {{_TransactionDetails.BankDisplayName || "--"}}
                        </div>
                    </div>

                </div>
                <div class="line-height">
                    <div class="card-item-left">
                        Provider
                        <div class="card-item-right">
                            {{_TransactionDetails.ProviderDisplayName || "--"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tuc-card">
        <div class="tuc-card-header text-primary">
            <i class="las la-info-circle tuc-card-header-icon"></i> Reference
        </div>
        <div class="tuc-card-body">
            <div>
                <div class="line-height">
                    <div class="card-item-left">
                        Ref Id
                        <div class="card-item-right">
                            {{_TransactionDetails.ReferenceId || "--"}}
                        </div>
                    </div>

                </div>
                <div class="line-height">
                    <div class="card-item-left">
                        <div>Reference Number</div>
                        <div class="card-item-right" style="float: none;">
                            <div>{{_TransactionDetails.ReferenceNumber || "--"}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tuc-card">
        <div class="tuc-card-body">
            <div padding-top padding-bottom>
                <ion-button expand="full" color="primary" shape="round" size="medium" class="r-2x f-s-n no-shadow"
                    (click)="ModalDismiss('noaction')">
                    Close
                </ion-button>
            </div>
        </div>
    </div>


</div>