<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-title class="statusbar-title">
            <span class="statusbar-title">
                <span class="statusbar-title-count">
                    Sales Invoice : #{{_TransactionDetails.ReferenceId || "--"}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="ModalDismiss('noaction')">
                <i slot="end" class=" las la-times-circle " style="font-size: 36px;"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<div class="container " style="overflow: auto;padding-bottom:30px;">
    <input type="text" class="form-control " name="daterangeInput" daterangepicker
        [options]="_DealConfig.StartDateConfig" readonly (selected)="ScheduleStartDateRangeChange($event)" />
</div>