<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <img src="../../../../assets/icon/tucwhite.png" class="app-header-logo">
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content">
            <i class="las la-user-plus app-header-icon "></i>
            <div class="app-header-title"> Register Customer</div>
            <div class="app-header-subtitle">
                Register new customer
            </div>
        </div>
    </div>
    <div class="app-body">
        <div style="padding: 20px;">
            <ion-grid no-padding>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">First Name
                        </ion-label>
                        <ion-input class="f-s-content input" type="text" max-length="128"
                            [(ngModel)]="_CustomerDetails.FirstName">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Last Name
                        </ion-label>
                        <ion-input class="f-s-content input" type="text" max-length="128"
                            [(ngModel)]="_CustomerDetails.LastName">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Mobile Number
                        </ion-label>
                        <ion-input class="f-s-content input" type="tel" max-length="13"
                            [(ngModel)]="_CustomerDetails.MobileNumber">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label"> Email Address
                        </ion-label>
                        <ion-input class="f-s-content input" type="email" max-length="128"
                            [(ngModel)]="_CustomerDetails.EmailAddress">
                        </ion-input>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label">Gender
                        </ion-label>
                        <div style="margin-bottom: 32px;">
                            <span class="gender"
                                [ngClass]="{'gender gender-active'  : _CustomerDetails.GenderCode == 'gender.male','gender'  : _CustomerDetails.GenderCode != 'gender.male'}"
                                (click)="ToggleGender('gender.male')">
                                Male
                            </span>
                            <span class="gender"
                                [ngClass]="{'gender gender-active'  : _CustomerDetails.GenderCode == 'gender.female','gender'  : _CustomerDetails.GenderCode != 'gender.female'}"
                                (click)="ToggleGender('gender.female')">
                                Female
                            </span>
                        </div>
                    </ion-col>
                </ion-row>
                <ion-row margin-bottom>
                    <ion-col no-margin no-padding>
                        <ion-label class="input-label"> Date Of Birth
                        </ion-label>
                        <ion-datetime class="f-s-content input" displayFormat="DD-MM-YYYY"
                            placeholder="Select date of birth" [(ngModel)]="_CustomerDetails.DateOfBirth">
                        </ion-datetime>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>


</ion-content>
<div class="tuc-footer">
    <button class="cancel  " (click)="ModalDismiss('noaction')">
        Cancel
    </button>
    <button class="approve  " *ngIf="!_HelperService.IsFormProcessing" (click)="ProcessAccount()">
        Register
    </button>
    <button class="approve  " *ngIf="_HelperService.IsFormProcessing" disabled>
        Processing
    </button>
</div>