<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <img src="../../../../assets/icon/tucwhite.png" class="app-header-logo">
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header" style="background-color: #303F9F;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;height: 140px;">
        <div class="app-header-content">
            <i class="las la-qrcode app-header-icon "></i>
            <div class="app-header-title">Deal Detail</div>
            <div class="app-header-subtitle">Click on confirm redeem to accept deal code</div>
        </div>
    </div>
    <div class="app-body" style="padding-left: 0px ; padding-right: 0px;">

        <div class="page-header " text-center style="padding: 0px !important;">
            <img [src]="_DealInfo.ImageUrl">
        </div>
        <div class="container p-t-0" style="margin-top: -26px;    padding-bottom: 60px;">
            <div style="padding: 16px;">
                <div style="font-size: 18px; padding-top: 16px; padding-bottom: 16px; font-weight: 500;">
                    {{_DealInfo.Title}}
                </div>
                <div class="tuc-card-header text-primary">
                    Code Valid Till : {{_DealInfo.EndDate || "--"}}
                </div>
                <div>
                    {{_DealInfo.Description}}
                </div>
            </div>
            <div class="tuc-card">
                <div class="tuc-card-header text-primary">
                    Code Amount
                </div>
                <div class="tuc-card-body">
                    <div>
                        <div class="line-height">
                            <div class="card-item-left">
                                Actual Price
                                <div class="card-item-right">
                                    <span class="list-amount-currency" style="    font-size: 13px;"
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                    {{_DealInfo.ActualPrice || "0"}}
                                </div>
                            </div>
                        </div>
                        <div class="line-height">
                            <div class="card-item-left">
                                Deal Price
                                <div class="card-item-right">
                                    <span class="list-amount-currency" style="    font-size: 13px;"
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                    {{_DealInfo.SellingPrice || "0"}}
                                </div>
                            </div>
                        </div>
                        <div class="line-height">
                            <div class="card-item-left">
                                Customer Payment Amount
                                <div class="card-item-right">
                                    <span class="list-amount-currency" style="    font-size: 13px;"
                                        [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                                    {{_DealInfo.Amount || "0"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tuc-card">
                <div class="tuc-card-header text-primary">
                    Customer
                </div>
                <div class="tuc-card-body">
                    <div>
                        <div class="line-height">
                            <div class="card-item-left">
                                Name
                                <div class="card-item-right">
                                    {{_DealInfo.CustomerDisplayName || "--"}}
                                </div>
                            </div>
                        </div>
                        <div class="line-height">
                            <div class="card-item-left">
                                Mobile Number
                                <div class="card-item-right">
                                    {{_DealInfo.CustomerMobileNumber || "--"}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tuc-card">
                <div class="tuc-card-header text-primary">
                    Code Validity
                </div>
                <div class="tuc-card-body">
                    <div>
                        <div class="line-height">
                            <div class="card-item-left">
                                Start Date
                                <div class="card-item-right">
                                    {{_DealInfo.StartDate || "--"}}
                                </div>
                            </div>
                        </div>
                        <div class="line-height">
                            <div class="card-item-left">
                                End Date
                                <div class="card-item-right">
                                    {{_DealInfo.EndDate || "--"}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tuc-card">
                <div class="tuc-card-header text-primary">
                    Redeem Locations
                </div>
                <div class="tuc-card-body">
                    <div *ngFor="let LItem of _DealInfo.Locations; let index=index; let odd=odd; let even=even;">
                        <div style="    font-weight: 500;
                padding-bottom: 6px;">
                            {{LItem.DisplayName}}
                        </div>
                        <div style="    padding-bottom: 16px;">
                            {{LItem.Address}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ion-content>
<div class="tuc-footer">

    <button class="cancel " (click)="Redeem_Initialize_Cancel()">
        Cancel
    </button>
    <button class="approve  " *ngIf="!_HelperService.IsFormProcessing" (click)="Redeem_Confirm()">
        Confirm Redeem
    </button>
    <button class="approve  " *ngIf="_HelperService.IsFormProcessing" disabled>
        Confirm Redeem
    </button>
</div>