<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Deal Code Scanner
            </span>
        </ion-title>
        <!-- <ion-buttons slot="end">
            <ion-button class="c-white">
                <i slot="start" class=" las la-sync-alt " style="font-size: 22px"></i>
            </ion-button>
        </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app" style="    --background: transparent;background: none transparent !important;
--background-color: transparent !important;
background-color: transparent !important;">
    <div class="page-header " text-center>
        <div class="page-header-lg-img">
            <i slot="start" class=" las la-qrcode page-header-lg-icon"></i>
        </div>
        <div>
            <h1 class="page-header-title-lg-b"> Scan </h1>
            <h1 class="page-header-title-lg"> Customer deal code</h1>
        </div>
    </div>
    <div class="container p-t-0" style="background-color: transparent !important;">

    </div>
</ion-content>


<div class="tuc-footer">
    <div>
        <input type="tel" maxlength="11" [(ngModel)]="DealCode" placeholder="Scan or enter deal code here" style="     border: 1px solid #ccc;
        margin-bottom: 12px;
        width: 100%;
        margin-top: 8px;
        border-radius: 4px;
        font-size: 16px;
        padding: 8px;">
    </div>
    <button class="cancel " (click)="Redeem_Initialize_Cancel()">
        Cancel
    </button>
    <button class="approve  " *ngIf="!_HelperService.IsFormProcessing" (click)="Redeem_Initialize()">
        Redeem Deal Code
    </button>
    <button class="approve  " *ngIf="_HelperService.IsFormProcessing" disabled>
        Processing
    </button>
</div>
<!-- 
<div style=" padding: 16px;
background-color: #f7f7f7;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;">
    <div style="padding-left: 16px; padding-right :16px;">
        <input type="number" maxlength="11" [(ngModel)]="DealCode" placeholder="Scan or enter code here" style="     border: 1px solid #ccc;
        margin-bottom: 16px;
        width: 100%;
        border-radius: 5px;
        font-size: 18px;
        padding: 8px;">
    </div>
    <div (click)="Redeem_Initialize_Cancel()" style="padding: 12px 16px;
    background-color: red;
    text-align: center;
    margin-top: 0px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    width: 50%;
    float: left;
    border-radius: 0px;">
        Cancel
    </div>
    <div (click)="Redeem_Initialize()" style="   padding: 12px 16px;
    background-color: #2b8155;
    text-align: center;
    margin-top: 0px;
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    width: 50%;
    float: left;">
        Redeem Deal Code
    </div>

</div> -->