<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="app-titlebar-button"> </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div text-center>
            <img src="../../../assets/icon/tucwhite.png" style="width: 180px;">
        </div>
        <div text-center style="
        font-size: 16px;
        color: #ffffff;
        font-weight: 600;
        margin-bottom: 8px;
        margin-top: 4px;">
            Merchant Registration
        </div>
    </div>
    <div class="app-body bg-white" style="padding: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    border-radius: 12px;">
        <ion-label class="input-label">Business name
        </ion-label>
        <ion-input class=" input" [(ngModel)]="_Details.DisplayName" maxlength="30" type="text">
        </ion-input>
        <ion-label class="input-label">Mobile Number
        </ion-label>
        <ion-input class=" input" [(ngModel)]="_Details.MobileNumber" maxlength="11" type="tel">
        </ion-input>
        <ion-label class="input-label">Email address
        </ion-label>
        <ion-input class=" input" [(ngModel)]="_Details.EmailAddress" maxlength="128" type="email">
        </ion-input>
        <ion-label class="input-label">Account Password
        </ion-label>
        <ion-input class=" input" [(ngModel)]="_Details.Password" maxlength="32" type="password">
        </ion-input>
        <ion-label class="input-label">Select your business category
        </ion-label>
        <ion-select class=" input" multiple (ionChange)="onCatChange($event.detail.value)">
            <ion-select-option *ngFor="let TItem of CategoriesList" [value]="TItem.ReferenceId"
                value="{{TItem.ReferenceId}}">
                {{TItem.Name}}
            </ion-select-option>
        </ion-select>
        <button type="button" margin-top margin-bottom (click)="UpdateProfile()" class="btn-primary"
            *ngIf="!_HelperService.IsFormProcessing">Continue</button>
        <button type="button" margin-top margin-bottom class="btn-primary-inverse"
            *ngIf="_HelperService.IsFormProcessing">
            <i class="las la-spinner  fa-pulse  la-pulse "></i>
            Please wait </button>
        <div text-center style="margin-top:16px; margin-bottom:32px;">Already have account ? <a class="app-color"
                style="text-decoration:none;font-weight:500;" (click)="NavLogin()">Login
            </a></div>
    </div>
</ion-content>