<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Received Payments
                <span class="statusbar-title-count">
                    <!-- {{TranList_Data.Offset}} / -->
                    - {{TranList_Data.TotalRecords}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="LoadData()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <div class="page-header-lg-img">
            <i class=" las la-money-bill-wave page-header-lg-icon"></i>
        </div>
        <div>
            <h1 class="page-header-title-lg">TUC Pay </h1>
            <h1 class="page-header-title-lg-b">Received Payments</h1>
        </div>
    </div>
    <div class="container p-t-0">
        <div class="tab-container-dt">
            <div class="tab-item-dt" [ngClass]="Type === 1 ? 'tab-item-dt-active' : 'tab-item-dt'"
                (click)="UserAnalytics_DateChange(1)">
                Today
            </div>
            <div class="tab-item-dt" [ngClass]="Type === 2 ? 'tab-item-active' : 'tab-item-dt'"
                (click)="UserAnalytics_DateChange(2)">
                Yesterday
            </div>
            <div class="tab-item-dt" [ngClass]="Type === 3 ? 'tab-item-active' : 'tab-item-dt'"
                (click)="UserAnalytics_DateChange(3)">
                Week
            </div>
            <div class="tab-item-dt" [ngClass]="Type === 4 ? 'tab-item-active' : 'tab-item-dt'"
                (click)="UserAnalytics_DateChange(4)">
                Month
            </div>
            <div class="tab-item-dt" [ngClass]="Type > 4 ? 'tab-item-active' : 'tab-item-dt'"
                (click)="UserAnalytics_DateChange(5)">
                Custom
            </div>
        </div>
        <div style="display: none">
            <ion-label class="input-label">Select Date</ion-label>
            <ion-datetime #startTimePicker [min]="MinDate" [max]="MaxDate" (ionChange)="CustomDateChange()"
                [(ngModel)]="SelectedItemDate" displayFormat="DD-MM-YYYY" class="input" placeholder="Select date">
            </ion-datetime>
        </div>
        <input class="search-box" (keyup)="doSearch($event.target.value)" placeholder="search">
        <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No sales yet
            </div>
            <div class="nolist-content">
                Your business sales history will appear here
            </div>
        </div>
        <div>
            <div (click)="OpenAddModal(TItem)" *ngFor="let TItem of TranList_Data.Data" class="list-item">
                <div>
                    <div class="list-amount float-right">
                        <span class=" text-success" *ngIf="TItem.StatusName == 'Success'">
                            <span class="list-amount-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount |
                            number: "1.2-2"}}
                        </span>
                        <span class="text-danger" *ngIf="TItem.StatusName != 'Success'">
                            <span class="list-amount-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount |
                            number: "1.2-2"}}
                        </span>
                    </div>
                    <div class="list-item-title">
                        {{TItem.UserDisplayName}}
                    </div>
                    <div class="list-item-subtitle">
                        {{TItem.UserMobileNumber}}
                    </div>


                    <div class="list-item-subtitle"
                        *ngIf="TItem.SubParentDisplayName != undefined && TItem.SubParentDisplayName != null && TItem.SubParentDisplayName != ''  ">
                        <i class=" las la-store"></i> {{TItem.SubParentDisplayName}}
                    </div>
                    <div class="list-item-content"
                        *ngIf="TItem.CreatedByDisplayName != undefined && TItem.CreatedByDisplayName != null && TItem.CreatedByDisplayName != ''  ">
                        <i class=" las la-cash-register"></i> {{TItem.CreatedByDisplayName}} |
                        {{TItem.CashierDisplayName}}
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-clock"></i> {{TItem.TransactionDate}}
                        <span class="float-right text-success" *ngIf="TItem.StatusName == 'Success'">
                            <i class=" las la-check-circle"></i> {{TItem.StatusName.toLowerCase()}}
                        </span>
                        <span class="float-right text-danger" *ngIf="TItem.StatusName != 'Success'">
                            <i class=" las  la-warning"></i> {{TItem.StatusName.toLowerCase()}}
                        </span>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>