<!-- <ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Deal Code Scanner
            </span>
        </ion-title>
    </ion-toolbar>
</ion-header> -->
<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <img src="../../../../assets/icon/tucwhite.png" class="app-header-logo">
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false" style="    --background: transparent;background: none transparent !important;
--background-color: transparent !important;
background-color: transparent !important;">
    <div class="app-header" style="background-color: #303F9F;
    border-bottom-left-radius: 20px; 
    border-bottom-right-radius: 20px;height: 140px;">
        <div class="app-header-content">
            <i class="las la-qrcode app-header-icon "></i>
            <div class="app-header-title">MadDeals</div>
            <div class="app-header-subtitle">Scan deal code or enter mobile number</div>
        </div>
    </div>
    <div class="app-body" style="background-color: transparent !important;">
        <div style="border: 8px solid rgb(255 , 255 ,  255 , 0.55);
        width: 256px;
        height: 256px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        border-radius: 4px;">
        </div>
    </div>
</ion-content>
<!-- <ion-content class="bg-app" style="    --background: transparent;background: none transparent !important;
--background-color: transparent !important;
background-color: transparent !important;">
    <div class="page-header " text-center>
        <div class="page-header-lg-img">
            <i slot="start" class=" las la-qrcode page-header-lg-icon"></i>
        </div>
        <div>
            <h1 class="page-header-title-lg-b"> Scan </h1>
            <h1 class="page-header-title-lg"> Customer deal code</h1>
        </div>
    </div>
    <div class="container p-t-0" style="background-color: transparent !important;">
    </div>
</ion-content> -->
<!-- <div class="tuc-footer">
    <div>
        <input type="tel" maxlength="11" [(ngModel)]="DealCode" placeholder="Scan or enter deal code here" style="     border: 1px solid #ccc;
        margin-bottom: 12px;
        width: 100%;
        margin-top: 8px;
        border-radius: 4px;
        font-size: 16px;
        padding: 8px;">
    </div>
    <button class="cancel " (click)="Redeem_Initialize_Cancel()">
        Cancel
    </button>
    <button class="approve  " *ngIf="!_HelperService.IsFormProcessing" (click)="Redeem_Initialize()">
        Redeem Deal Code
    </button>
    <button class="approve  " *ngIf="_HelperService.IsFormProcessing" disabled>
        Redeem Deal Code
    </button>
</div> -->


<div class="tuc-footer">
    <div>
        <input type="tel" maxlength="11" [(ngModel)]="DealCode" placeholder="Scan or enter deal code here" style="     border: 1px solid #ccc;
        margin-bottom: 12px;
        width: 100%;
        margin-top: 8px;
        border-radius: 4px;
        font-size: 16px;
        padding: 8px;">
    </div>
    <button class="cancel " (click)="Redeem_Initialize_Cancel()">
        Cancel
    </button>
    <button class="approve  " *ngIf="!_HelperService.IsFormProcessing" (click)="Redeem_Initialize()">
        Redeem Deal Code
    </button>
    <button class="approve  " *ngIf="_HelperService.IsFormProcessing" disabled>
        Processing
    </button>
</div>