<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Cashiers
                <span class="statusbar-title-count">
                    <!-- {{CashiersList_Data.Offset}} / -->
                    - {{CashiersList_Data.TotalRecords}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white">
                <i slot="start" class=" las la-sync-alt " style="font-size: 22px" (click)="ngOnInit()"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header " text-center>
        <div class="page-header-lg-img">
            <i class="las la-user-tag  menu-icon page-header-lg-icon"></i>
        </div>
        <div>
            <h1 class="page-header-title-lg">{{_HelperService.AccountOwner.DisplayName}}
                <span class="pull-right">
                    <ion-icon (click)="OpenAddModal()" class="float-right refreshbtn" ios="md-add-circle-outline"
                        md="md-add-circle-outline">
                    </ion-icon>
                </span>
            </h1>
            <h1 class="page-header-title-lg-b">Cashiers</h1>
        </div>
    </div>
    <div class="container p-t-0">
        <input class="search-box" (keyup)="doSearch($event.target.value)" placeholder="search cashiers">
        <div *ngIf="CashiersList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-contact" md="md-contact">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No cashiers added yet
            </div>
            <div class="nolist-content">
                Login to your web panel to add cashiers
            </div>
        </div>
        <div>
            <div *ngFor="let TItem of CashiersList_Data.Data" class="list-item">
                <div>
                    <div class="list-item-title">
                        {{TItem.Name}}
                        <span class="list-item-subtitle float-right">
                            {{TItem.EmployeeId}}
                        </span>
                    </div>
                    <div class="list-item-subtitle">
                        {{TItem.DisplayName}}
                    </div>
                    <div class="list-item-subtitle">
                        Last Sale : {{TItem.LastTransactionDate}}
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>