<ion-header no-border class="bg-app">
    <ion-toolbar class="bg-app">
        <ion-buttons slot="start">
            <ion-back-button class="c-white"></ion-back-button>
        </ion-buttons>
        <ion-title class="statusbar-title">
            <span class="statusbar-title">Sales History
                <span class="statusbar-title-count">
                    <!-- {{TranList_Data.Offset}} / -->
                    - {{TranList_Data.TotalRecords}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button class="c-white" (click)="LoadData()">
                <i slot="start" class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="bg-app">
    <div class="page-header ">
        <div class="db-mcount">
            <span class="db-currency" [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
            {{_HelperService._SalesSummary.TotalSuccessfulTransactionInvoiceAmount| number: "1.2-2" || "--" }}
        </div>
        <div class="db-subtitle "> Total Sale</div>
        <div *ngIf="_HelperService._UserOverviewPlot.HourlySalesData.length > 0">
            <canvas height="110" baseChart #RewardPlot="base-chart"
                [colors]="_HelperService._UserOverviewPlot.ColorsInverse"
                [datasets]="_HelperService._UserOverviewPlot.HourlySalesData"
                [labels]="_HelperService._UserOverviewPlot.HourlyVisitLabel"
                [chartType]="_HelperService._UserOverviewPlot.ChartTypeBar"
                [options]="_HelperService._UserOverviewPlot.ChartTypeBarOptionsInverse"></canvas>
        </div>
        <div class="db-subtitle"> Hourly Sale
            <span class="float-right">{{StartTimeS}} - {{EndTimeS}}</span>
        </div>

    </div>
    <!-- <div class="page-header " text-center>
        <div class="page-header-lg-img">
            <i class=" las la-receipt page-header-lg-icon"></i>
        </div>
        <div>
            <h1 class="page-header-title-lg">{{_HelperService.AccountOwner.DisplayName}} </h1>
            <h1 class="page-header-title-lg-b">Sales History</h1>
        </div>
    </div> -->
    <div class="container p-t-0">
        <div class="tab-container">
            <div class="tab-item" [ngClass]="Type === 1 ? 'tab-item-active' : 'tab-item'"
                (click)="UserAnalytics_DateChange(1)">
                Today
            </div>
            <div class="tab-item" [ngClass]="Type === 2 ? 'tab-item-active' : 'tab-item'"
                (click)="UserAnalytics_DateChange(2)">
                Yesterday
            </div>
            <div class="tab-item" [ngClass]="Type === 3 ? 'tab-item-active' : 'tab-item'"
                (click)="UserAnalytics_DateChange(3)">
                Week
            </div>
            <div class="tab-item" [ngClass]="Type === 4 ? 'tab-item-active' : 'tab-item'"
                (click)="UserAnalytics_DateChange(4)">
                Month
            </div>
            <div class="tab-item" [ngClass]="Type > 4 ? 'tab-item-active' : 'tab-item'"
                (click)="UserAnalytics_DateChange(5)">
                Custom
            </div>
        </div>
        <div style="display: none">
            <ion-label class="input-label">Select Date</ion-label>
            <ion-datetime #startTimePicker [min]="MinDate" [max]="MaxDate" (ionChange)="CustomDateChange()"
                [(ngModel)]="SelectedItemDate" displayFormat="DD-MM-YYYY" class="input" placeholder="Select date">
            </ion-datetime>
        </div>
        <div class="scrolling-wrapper">
            <div class="scrolling-item tuc-card-i tuc-card-i-green">
                <div>
                    <i class="las la-money-bill-wave tuc-card-i-icon tuc-card-i-icon-green"></i>
                    <div class="tuc-card-i-content">
                        <div class="tuc-card-i-header">Cash Payments</div>
                        <div class="tuc-card-i-number">
                            <span class="tuc-card-i-number-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{_HelperService._SalesSummary.TotalCashTransactionInvoiceAmount| number: "1.2-2" || "--" }}
                        </div>
                        <div class="tuc-card-i-footer">
                            {{_HelperService._SalesSummary.TotalCashTransactionCustomer | number: "1.0-1" || "--" }}
                            Customers
                        </div>
                    </div>
                </div>
            </div>
            <div class=" scrolling-item tuc-card-i">
                <div>
                    <i class="las la-credit-card tuc-card-i-icon"></i>
                    <div class="tuc-card-i-content">
                        <div class="tuc-card-i-header">Card Payments</div>
                        <div class="tuc-card-i-number">
                            <span class="tuc-card-i-number-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>
                            {{_HelperService._SalesSummary.TotalCardTransactionInvoiceAmount| number: "1.2-2" || "--" }}
                        </div>
                        <div class="tuc-card-i-footer">
                            {{_HelperService._SalesSummary.TotalCardTransactionCustomer | number: "1.0-1" || "--" }}
                            Customers
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div padding-top *ngIf="_HelperService._SalesSummary.TransactionTypeUsersData.length > 0">
            <canvas height="140" baseChart [colors]="_HelperService.ChartConfig.SalesTypeCustomersColors"
                [chartType]="_HelperService.ChartConfig.DoughnetChart.Type"
                [options]="_HelperService.ChartConfig.DoughnetChart.Options" [legend]="true"
                [data]="_HelperService._SalesSummary.TransactionTypeUsersData"
                [labels]="_HelperService._SalesSummary.TransactionTypeUsersLabels"></canvas>
        </div> -->

        <input class="search-box" (keyup)="doSearch($event.target.value)" placeholder="search">
        <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                No sales yet
            </div>
            <div class="nolist-content">
                Your business sales history will appear here
            </div>
        </div>
        <div>
            <div (click)="OpenAddModal(TItem)" *ngFor="let TItem of TranList_Data.Data" class="list-item">
                <div>
                    <div class="list-item-title">
                        {{TItem.UserDisplayName}}
                    </div>
                    <div class="list-amount">
                        <span class=" text-success" *ngIf="TItem.StatusName == 'Success'">
                            <span class="list-amount-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount |
                            number: "1.2-2"}}
                        </span>
                        <span class="text-danger" *ngIf="TItem.StatusName != 'Success'">
                            <span class="list-amount-currency"
                                [innerHtml]="_HelperService.AppConfig.CurrencySymbol"></span>{{TItem.InvoiceAmount |
                            number: "1.2-2"}}
                        </span>
                        <span class="float-right" *ngIf="TItem.CardBrandName != undefined">
                            <img class="list-item-cardicon" *ngIf="TItem.CardBrandName == 'mastercard'"
                                src="../../../../assets/images/cards/mmastercard.png">
                            <img class="list-item-cardicon" *ngIf="TItem.CardBrandName.toLowerCase() == 'visa'"
                                src="../../../../assets/images/cards/mvisa.png">
                            <img class="list-item-cardicon" *ngIf="TItem.CardBrandName.toLowerCase() == 'verve'"
                                src="../../../../assets/images/cards/verve.png">
                        </span>
                        <span class="float-right"
                            *ngIf="TItem.CardBrandName == undefined && TItem.TypeName.toLowerCase().trim() =='cash'">
                            <img class="list-item-cardicon" src="../../../../assets/images/cards/mcash.png">
                        </span>
                    </div>
                    <div class="list-item-subtitle"
                        *ngIf="TItem.SubParentDisplayName != undefined && TItem.SubParentDisplayName != null && TItem.SubParentDisplayName != ''">
                        <i class=" las la-store"></i> {{TItem.SubParentDisplayName}}
                    </div>
                    <div class="list-item-subtitle"
                        *ngIf="TItem.CreatedByDisplayName != undefined && TItem.CreatedByDisplayName != null && TItem.CreatedByDisplayName != ''">
                        <i class=" las la-cash-register"></i> {{TItem.CreatedByDisplayName}}

                        <span
                            *ngIf="TItem.CashierDisplayName != undefined  && TItem.CashierDisplayName != null && TItem.CashierDisplayName != ''">
                            |
                            {{TItem.CashierDisplayName}}
                        </span>
                    </div>
                    <div class="list-item-content">
                        <i class=" las la-clock"></i> {{TItem.TransactionDate}}

                        <span class="float-right text-success" *ngIf="TItem.StatusName == 'Success'">
                            <i class=" las la-check-circle"></i> {{TItem.StatusName.toLowerCase()}}
                        </span>
                        <span class="float-right text-danger" *ngIf="TItem.StatusName != 'Success'">
                            <i class=" las  la-warning"></i> {{TItem.StatusName.toLowerCase()}}
                        </span>
                    </div>
                </div>
            </div>
            <ion-infinite-scroll margin-top threshold="100px" (ionInfinite)="NextLoad($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
            </ion-infinite-scroll>
        </div>
    </div>
</ion-content>