<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-buttons slot="start">
            <ion-back-button text="" class="app-titlebar-button"> </ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button class="app-titlebar-button" (click)="OpenModalAddBank()">
                Add New
            </ion-button>
            <ion-button class="app-titlebar-button" (click)="LoadData()">
                <i class=" las la-sync-alt f-s-22"></i>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="app" forceOverscroll="false">
    <div class="app-header">
        <div class="app-header-content">
            <i class="las la-university app-header-icon "></i>
            <div class="app-header-title">Bank Accounts</div>
            <div class="app-header-subtitle">Manage your bank accounts</div>
        </div>
    </div>
    <div class="app-body">

        <div *ngIf="TranList_Data.TotalRecords > 0">
            <div class="item-list" (click)="TranList_DetailsModal(Item)"
                *ngFor="let Item of TranList_Data.Data; let index=index; let odd=odd; let even=even;">
                <div>
                    <div class="item-list-title">
                        {{Item.Name || "--"}}
                    </div>
                    <div class="item-list-subtitle">
                        {{Item.AccountNumber || "--"}}
                    </div>
                    <div class="item-list-subtitle">
                        {{Item.BankName || "--"}}
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="TranList_Data.TotalRecords == -1" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-spinner color="primary" name="dots"></ion-spinner>
            </div>
            <div class="nolist-subtitle">
                Loading Banks
            </div>
        </div>
        <div *ngIf="TranList_Data.TotalRecords == 0" text-center class="nolist-item">
            <div class="nolist-icon-item">
                <ion-icon ios="md-list" md="md-list">
                </ion-icon>
            </div>
            <div class="nolist-title">
                Its Empty Here
            </div>
            <div class="nolist-subtitle">
                Banks not available
            </div>
        </div>

    </div>
</ion-content>