<ion-progress-bar *ngIf="_HelperService.AppConfig.ShowProgressBar" class="progressbar" type="indeterminate">
</ion-progress-bar>
<ion-header no-border class=" app-titlebar">
    <ion-toolbar class="app-titlebar">
        <ion-title class="statusbar-title" style="text-align: left;">
            <span class="statusbar-title" style="text-align: left;">
                <span class="statusbar-title-count">
                    <img [src]="_HelperService.AccountOwner.IconUrl" style="     width: 32px;
                    height: 32px;
                    background-color: #f7f7f7;
                    border-radius: 4px;
                    float: left;
                    margin-right: 12px;">
                    <div>
                        {{_HelperService.AccountOwner.DisplayName}}
                    </div>
                    Cashier ID : {{_HelperService.AccountInfo.UserAccount.DisplayName}}
                </span>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <i class="las la-sign-out-alt" (click)="Logout()" style="    font-size: 22px;
            margin-right: 6px;
            padding: 4px;
            background-color: #f38282a8;
            border-radius: 4px;"></i>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content forceOverscroll="false" style=" --ion-background-color:#303F9F">
    <div class="app-header">
        <!-- <div class="app-header-content">
            <i class="las la-info-circle app-header-icon "></i>
            <div class="app-header-title"> About</div>
            <div class="app-header-subtitle">Version :
                {{_HelperService.AppConfig.NetworkKeys.Android.AppVersion}}</div>
        </div> -->

        <div style="text-align: center;"
            *ngIf="_HelperService.AccountOwner.AccountCode != undefined && _HelperService.AccountOwner.AccountCode != null  && _HelperService.AccountOwner.AccountCode != ''">
            <div style="         margin-top: 30px;   background-color: #ffffff;
            border-radius: 8px;
            width: 300px;
            margin-left: auto;
            margin-right: auto;">
                <div style="  padding-top: 12px; font-weight: 500;  padding-bottom: 8px;">
                    {{_HelperService.AccountOwner.DisplayName}}
                </div>
                <!-- <div>
                    <div>
                        <img [src]="_HelperService.AccountOwner.IconUrl" style="    width: 48px;
        background-color: #f7f7f7;
        border-radius: 8px;
        padding-top: 12px;
        padding-bottom: 8px;">
                    </div>
                </div> -->
                <qrcode [qrdata]="_HelperService.AccountInfo.UserAccount.AccountCode" [width]="230" [margin]="0"
                    [errorCorrectionLevel]="'M'" style="    margin-top: 30px;"></qrcode>
                <div style="  padding-bottom: 12px;  padding-top: 8px;">
                    powered by <img src="../../../../assets/icon/tucinverse.png" style="width: 90px;">
                </div>
            </div>
            <div style="    color: #ffffff;
            font-weight: 800;
            width: 300px;
    margin-left: auto;
    margin-right: auto;
            padding-top: 16px;
            padding-bottom: 16px;    margin-bottom: 20px;
            font-size: 14px;">
                Receive payment from customers using this QR code
            </div>
        </div>
    </div>
    <!-- <div class="app-body"> -->

    <ion-row style="margin-left: 20px  ; margin-right:20px;">

        <ion-col>
            <div (click)="NavScanDeal()" style="    padding:8px 8px;
                background-color: #f9f9f9;
                text-align: center;
                border-radius: 8px;
                margin-top: 0px;
                color: #3b3b3b;
                font-weight: 600;
                font-size: 14px;">
                <div style="    font-size: 32px;color: #303F9F;"> <i class="las la-tags"></i></div>
                <div style="    font-size: 13px;">Redeem </div>
                <div style="    font-size: 13px;">Deal </div>
            </div>
        </ion-col>
        <ion-col>
            <div (click)="NavReward()" style="    padding:8px 8px;
                background-color: #f9f9f9;
                text-align: center;
                border-radius: 8px;
                margin-top: 0px;
                color: #3b3b3b;
                font-weight: 600;
                font-size: 14px;">
                <div style="    font-size: 32px;color: #303F9F;"> <i class="las la-gift"></i></div>
                <div style="    font-size: 13px;"> Reward </div>
                <div style="    font-size: 13px;"> Customer</div>
            </div>
        </ion-col>

    </ion-row>
    <ion-row style="margin-left: 20px  ; margin-right:20px;">

        <ion-col>
            <div (click)="NavScanDealHistory()" style="    padding:8px 8px;
                background-color: #f9f9f9;
                text-align: center;
                border-radius: 8px;
                margin-top: 0px;
                color: #3b3b3b;
                font-weight: 600;
                font-size: 14px;">

                <div style="    font-size: 32px;color: #303F9F;"> <i class="las la-list-alt"></i></div>
                <div style="    font-size: 13px;">Deal Redeem</div>
                <div style="    font-size: 13px;"> History</div>
            </div>
        </ion-col>

        <ion-col>
            <div (click)="NavRewardHistory()" style="    padding:8px 8px;
                background-color: #f9f9f9;
                text-align: center;
                border-radius: 8px;
                margin-top: 0px;
                color: #3b3b3b;
                font-weight: 600;
                font-size: 14px;">
                <div style="    font-size: 32px;color: #303F9F;"> <i class="las la-list-alt"></i></div>
                <div style="    font-size: 13px;">Reward </div>
                <div style="    font-size: 13px;">History </div>
            </div>
        </ion-col>
        <ion-col>
            <div (click)="NavTucPayTransactions()" style="    padding:8px 8px;
                background-color: #f9f9f9;
                text-align: center;
                border-radius: 8px;
                margin-top: 0px;
                color: #3b3b3b;
                font-weight: 600;
                font-size: 14px;">
                <div style="    font-size: 32px;color: #303F9F;"> <i class="las la-list-alt"></i></div>
                <div style="    font-size: 13px;">TUC Pay </div>
                <div style="    font-size: 13px;">History </div>
            </div>
        </ion-col>

    </ion-row>
    <!-- </div> -->
</ion-content>